<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">


      <div class="row">

        <div class=" col-sm-12">
          <div class="card-box">

            <h4 class="m-t-0 header-title"><b>Start with outsourcing services</b></h4>


            <div class="pull-in">
              <form id="basic-form"  method="post" action="/ob/ND/client/create">
                <div>
                  <h3>Basic Information</h3>
                  <section>
                    <div class="row">
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="userName">Name<span class="text-danger">*</span> </label>
                          <input type="text" name="name" parsley-trigger="change" required="" placeholder="Enter name" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName">Job Title <span class="text-danger">*</span>
                          </label>
                          <input type="text" name="jobTitle" parsley-trigger="change" required="" placeholder="Enter Job Title" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="emailAddress">Email address<span class="text-danger">*</span> </label>
                          <input type="email" name="email" parsley-trigger="change" required="" placeholder="Enter email" class="form-control" id="emailAddress">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName">Organization /Company <span class="text-danger">*</span> </label>
                          <input type="text" name="company" parsley-trigger="change" required="" placeholder="Enter Company Name" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="userName">Mobile Number<span class="text-danger">*</span></label>
                          <input type="text" name="number" parsley-trigger="change" required="" placeholder="Enter Mobile Number" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName"> Phone Office <span  class="text-danger">*</span></label>
                          <input type="text" name="officeNumber" parsley-trigger="change" required="" placeholder="Enter Mobile Number" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="userName">Street  <span class="text-danger">*</span> </label>
                          <input type="text" name="street" parsley-trigger="change" required="" placeholder="Enter Address" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName">City <span class="text-danger">*</span></label>
                          <input type="text" name="city" parsley-trigger="change" required="" placeholder="Enter City" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="userName">State </label>
                          <input type="text" name="state" parsley-trigger="change" required="" placeholder="Enter State" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName">Zip <span class="text-danger">*</span></label>
                          <input type="text" name="zipCode" parsley-trigger="change" required="" placeholder="Enter Zip-Code" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-3 col-md-6">
                        <div class="form-group">
                          <label for="userName">Country  <span  class="text-danger">*</span> </label>
                          <input type="text" name="country" parsley-trigger="change" required="" placeholder="Enter Country Name" class="form-control" id="userName">
                        </div>
                      </div>
                      <div class="col-sm-9 col-md-6">
                        <div class="form-group">
                          <label for="userName"> WebSite</label>
                          <input type="text" name="website" parsley-trigger="change" placeholder="Enter Website" class="form-control" id="userName">
                        </div>
                      </div>
                    </div>
                  </section>
                  <h3>Virtual Assistant Package</h3>
                  <section>
                    <div class="form-group">
                      <label for="userName">Service Type</label>
                      <select class="form-control" name="service">
                        <option value="Admin">Admin</option>
                        <option value="Lead Generation">Lead Generation</option>
                        <option value="Process">Process</option>
                        <option value="RPO">RPO</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="userName"> Start  Day</label>
                      <input type="text" name="startDate" parsley-trigger="change" required="" placeholder="Enter Start Day" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                      <label for="userName"> Start Month</label>
                      <input type="text" name="startMonth" parsley-trigger="change" required="" placeholder="Enter Start month" class="form-control"   id="userName">
                    </div>
                    <div class="form-group">
                      <label for="userName">Source Code</label>
                      <input type="text" name="sourceCode" parsley-trigger="change" placeholder="Enter Source Code" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="userName"> Please brief us:</label>
                      <textarea placeholder="Enter Member Name" class="form-control" name="description"></textarea>
                    </div>

                  </section>
                  <h3>Activation call</h3>
                  <section>
                    <div class="form-group">
                      <label for="userName">Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" name="scheduleDate" placeholder="mm/dd/yyyy" id="date">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i   class="mdi mdi-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="userName">Time</label>
                      <div class="input-group">
                        <input id="timepicker" type="text" name="scheduleTime" class="form-control">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="mdi mdi-clock"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="userName">Time Zone</label>
                      <input type="text" name="timezone" parsley-trigger="change" required="" placeholder="Enter Time Zone" class="form-control">
                    </div>
                  </section>
                  <h3>Noon Dalton Sales Team</h3>
                  <section>
                    <div class="form-group">
                      <label for="userName"> Member  Name</label>
                      <input type="text" name="memberName" parsley-trigger="change" required="" placeholder="Enter Member Name" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="userName"> Promo Code</label>
                      <input type="text" name="promoCode" parsley-trigger="change" placeholder="Enter Promo Code" class="form-control">
                    </div>
                  </section>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>
