<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="container-fluid">

    <!-- working board here -->

    <div class="row">
      <div class="col-sm-4">
        <button type="button" class="btn btn-custom waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">Custom Package</button>
      </div><!-- end col -->
    </div>
    <!-- custom model -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myLargeModalLabel">Custom Package</h4>
          </div>
          <div class="modal-body">
            <div class="custom-modal-text text-left">
              <form role="form">
                <div class="form-group">
                  <label for="name">Select Package</label>
                  <select class="form-control select2">
                    <option>Select</option>
                    <optgroup label="Fusion Client Packages">
                      <option value="FUS01">FUS01: Silver XYZ Package ($700)</option>
                      <option value="FUS02">FUS02: Gold ABC Package($1200)</option>
                      <option value="FUS03">FUS02: Diamond ABC Package($1600)</option>
                    </optgroup>
                    <optgroup label="Noon Dalton Client Packages">
                      <option value="ND01">ND01: Gold ABC Package($700)</option>
                      <option value="ND02">ND02: Sliver ABC Package($1200)</option>
                      <option value="ND03">ND03: Diamond ABC Package($1600)</option>
                      <option value="ND04">ND04: Platinum ABC Package($1800)</option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group col-md-03">
                  <label for="position">Customization Type</label>
                  <select class="custom-select" id="package_custom_type" name="type">

                    <option value="DI">Discount</option>
                    <option value="FP">Flat Price</option>

                  </select>

                </div>
                <div class="form-group" id="package_custom_type_discount">
                  <label for="company">Discount %</label>
                  <input type="text" class="form-control" id="company" placeholder="20%" >
                </div>
                <div class="form-group"id="package_custom_type_flatprice">
                  <label for="exampleInputEmail1">Flat Price</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="$100" >
                </div>

                <div class="text-right">
                  <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                  <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" onclick="Custombox.close();">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <!-- custom modal close -->
    <!-- Modal -->
    <div id="custom-modal" class="modal-demo">
      <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
      </button>
      <h4 class="custom-modal-title">Add Members</h4>
      <div class="custom-modal-text text-left">
        <form role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" placeholder="Enter position">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" placeholder="Enter company">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
            <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" onclick="Custombox.close();">Cancel</button>
          </div>
        </form>
      </div>
    </div>

    <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->

  </div>



</div>
<!-- END wrapper -->


<!-- Flot chart -->
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.crosshair.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/curvedLines.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.axislabels.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>

<% include ../footer.ejs %>
