<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
  <div class="container-fluid">


        <div class="row">
          <div class="col-sm-12">
            <!-- meta -->
            <div class="profile-user-box card-box bg-custom">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="pull-left mr-3"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="" class="thumb-lg rounded-circle"></span>
                        <div class="media-body text-white">
                            <h4 class="mt-1 mb-1 font-18"><%=client.name%></h4>
                              <h5 class="mt-1 mb-1 font-14"><%=client.company%></h5>
                            <p class="text-light mb-0">Client ID: <%=client._id%></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">


                            <a class="btn btn-rounded waves-effect" href="/profile/edit" >
                                <i class="mdi mdi-account-settings-variant mr-1"></i> Edit Profile
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <!--/ meta -->
          </div> <!--end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-md-4">
            <div class="card-box">
              <h3 class="header-title mt-0 m-b-20">Personal Information</h3>
              <div class="panel-body">
                <p class="text-muted font-13">
                    Client information in detail.
                </p>
                <hr/>

                <div class="text-left">
                  <p class="text-muted font-13"><strong>Client Name :</strong> <span class="m-l-15"><%=client.name%></span></p>
                <p class="text-muted font-13"><strong>Title :</strong><span class="m-l-15"><%=client.jobTitle%></span></p>
                <p class="text-muted font-13"><strong>Email address :</strong><span class="m-l-15"><%=client.email%></span></p>
                <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15"><%=client.number%></span></p>
                <p class="text-muted font-13"><strong>Phone Office :</strong><span class="m-l-15"><%=client.officeNumber%></span></p>
                <p class="text-muted font-13"><strong>Organization/Company :</strong><span class="m-l-15"><%=client.company%></span></p>
                <p class="text-muted font-13"><strong>Street :</strong><span class="m-l-15"><%=client.address.street%></span></p>
                <p class="text-muted font-13"><strong>State :</strong><span class="m-l-15"><%=client.address.state%></span></p>
                <p class="text-muted font-13"><strong>Zip :</strong><span class="m-l-15"><%=client.address.zipCode%></span></p>
                <p class="text-muted font-13"><strong>Country :</strong><span class="m-l-15"><%=client.address.country%></span></p>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          <div class="card-box">


              <h4 class="header-title mt-0 mb-3">Package Information</h4>
              <div class="panel-body">

                <p class="text-muted font-13"><strong>Package :</strong><span class="m-l-15"><%=client.package%></span></p>
                <p class="text-muted font-13"><strong>Start Day :</strong><span class="m-l-15"><%=client.startDate%></span></p>
                <p class="text-muted font-13"><strong>Start Month :</strong><span class="m-l-15"><%=client.startMonth%></span></p>
                <p class="text-muted font-13"><strong>Source code :</strong><span class="m-l-15"><%=client.sourceCode%></span></p>
                <p class="text-muted font-13"><strong>Date :</strong><span class="m-l-15"></span></p>
                <p class="text-muted font-13"><strong>Time :</strong><span class="m-l-15"> 12:15</span></p>
                <hr>
                <h6 class="text-custom m-b-5">Some Explanation</h6>
                <p class="text-muted font-13">Lorem Ipsum is simply dummy text
                    of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text since 1500.
                </p>







                <hr>
                <ul class="social-links list-inline m-t-20 m-b-0">
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>
              </div> <!--panel body -->

            </div>
              </div><!-- end cardbox -->


              <div class="col-md-4">
                <div class="card-box">
                  <div class="panel-body">
                    <h4 class="header-title mt-0 mb-3">Member Information</h4>
                      <p class="text-muted font-13"><strong>Time-zone :</strong><span class="m-l-15"> North</span></p>
                        <p class="text-muted font-13"><strong>Office Address :</strong><span class="m-l-15"> Address</span></p>
                          <p class="text-muted font-13"><strong>Member Name :</strong><span class="m-l-15"> Shubham</span></p>

                              <p class="text-muted font-13"><strong>Promo code :</strong><span class="m-l-15"> 555465dddd</span></p>
                              <hr>
                                <p class="text-muted font-13"><strong>Please brief us :</strong><span class="m-l-15"> Nothing just test</span></p>
                                <h6 class="text-custom m-b-5">Explanation</h6>
                                <p class="text-muted font-13">Lorem Ipsum is simply dummy text
                                    of the printing and typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text since 1500.
                                </p>

                                <p class="m-b-1">websitename.com</p>

                                <hr>
                                <p class="text-muted font-13"><strong>Languages : </strong>
                                    <span class="m-l-5">
                                        <span class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span>
                                        <span>English</span>
                                    </span>


                                    <span class="m-l-5">
                                        <span class="flag-icon flag-icon-fr m-r-5" title="fr"></span>
                                        <span>French</span>
                                    </span>
                                </p>
                  </div>
                </div>
              </div>
              </div> <!-- end row -->

    </div>
  </div>
    <% include footer-dash-copyright.ejs %>
    <!-- copyright footer on dashboard -->
    <!-- content-page div close -->
  </div>
  <% include ../footer.ejs %>
