<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>

<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->


<!-- Flot chart -->
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.crosshair.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/curvedLines.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.axislabels.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>

  <% include ../footer.ejs %>
