<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="container-fluid">
    <div class="card-block">
      <div class="account-box">

        <div class="row">
          <div class="col-lg-6">
            <div class="card-box">
              <div class="form-group row m-b-20">
                <div class="col-12">
                  <label for="emailaddress3">Client Name</label>
                  <select class="form-control" id="employeeiddata" name="employeeid" required>
                    <option>Select</option>

                    <option value="name">name</option>
                    <option value="name1">Dinesh</option>
                  </select>
                </div>
              </div>

              <div id="datanomini">
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Name of Employee</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Ram</label>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Date of Joining :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">21 march 2017</label>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Designation :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Qa</label>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Shift :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Night</label>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Team Name :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Spartan</label>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Name of Team Lead :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Chaten sir</label>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-form-label"> Manager's Name :</label>

                  </div>
                  <div class="col-6">
                    <label class="col-form-label">Chandra sir</label>

                  </div>
                </div>
                <h4>Team Lead’s Feedback:</h4>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1"> Operational Feedback</label>
                  <p>
                    good in perform
                  </p>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1">Client Specific Feedback</label>
                  <p>
                    good in perform
                  </p>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1">Individual Feedback</label>
                  <p>
                    good in perform
                  </p>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1"> Areas to improve</label>
                  <p>
                    good in perform
                  </p>
                </div>
                <h4>HR Feedback</h4>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1"> Attendance Record</label>
                  <p>
                    good in perform
                  </p>
                </div>
                <div class="form-group clearfix">
                  <label class="control-label " for="userName1">Behavioral Remarks</label>
                  <p>
                    good in perform
                  </p>
                </div>
              </div>

            </div> <!-- end card-box -->
          </div> <!-- end col -->

          <div class="col-lg-6">
            <div class="card-box" style="min-height: 400px;">


              <form class="form-horizontal" action="" method="post">


                <h4> Sr. Manager FeedBack</h4>

                <div class="form-group clearfix">
                  <label class="control-label " for="userName1">Attendance Record:</label>
                  <div class="">
                    <textarea class="form-control">

                    </textarea>
                  </div>
                </div>

                <div class="form-group clearfix">
                  <label class="control-label " for="userName1">Behavioral Remarks:</label>
                  <div class="">
                    <textarea class="form-control">

                    </textarea>
                  </div>
                </div>




                <div class="col-12">
                  <div class="form-group row text-center m-t-10 floatright">
                    <div class="form-group text-right m-b-0">
                      <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Create</button>
                    </div>
                  </div>
                </div>

              </form>
            </div> <!-- end card-box -->
          </div> <!-- end col -->
        </div>






      </div>
    </div>

  </div>


  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>

<script>

$('#datanomini').hide();

$('#employeeiddata').on('change', function() {
  if ( this.value == 'name')
  {
    $("#datanomini").show();


  }
  else
  {
    $("#datanomini").hide();

  }
});

</script>
