<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="card-block">
        <div class="account-box">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card-box p-5">
                <h2 class="text-uppercase text-center pb-4">
                  Client Assign
                </h2>



                <form class="form-horizontal" action="/ob/user/create" method="post">
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="emailaddress3">Client Name</label>
                      <select class="form-control" name="employeeid" required>
                        <option>Select</option>

                        <option value="name">name</option>

                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="name">Industry/Process</label>
                      <input class="form-control" type="name" id="name" name="name" required="" placeholder="Enter Name">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="emailaddress">Team Name</label>
                      <select class="form-control" name="teamname" required>
                        <option>Select</option>

                        <option value="name"> Sparten</option>

                      </select>
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="username">Team Lead Name</label>
                      <select class="form-control" name="teamname" required>
                        <option>Select</option>

                        <option value="name"> Aditaya</option>
                        <option value="name"> hemant</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="username">Ve Name</label>
                      <select class="form-control" name="teamname" required>
                        <option>Select</option>

                        <option value="name"> Aditaya</option>
                        <option value="name"> Ram</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="date">Starting Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="date">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i   class="mdi mdi-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="username">Manager's Name</label>
                      <select class="form-control" name="teamname" required>
                        <option>Select</option>

                        <option value="name"> Chandra sir</option>
                        <option value="name"> Manoh</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="username">Type</label>
                      <select class="form-control" name="teamname" required>
                        <option>Select</option>

                        <option value="name"> Full-Time</option>
                        <option value="name"> Half-Time</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="name">Assign By</label>
                      <input class="form-control" type="text" id="name" name="name" required="" placeholder="Enter Name">
                    </div>
                  </div>
                  <div class="form-group row m-b-20">
                    <div class="col-12">
                      <label for="date"> Date</label>
                      <div class="input-group">
                        <input type="date" class="form-control" placeholder="mm/dd/yyyy" id="assigndate">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i   class="mdi mdi-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="col-12">
                    <div class="form-group row text-center m-t-10 floatright">
                      <div class="form-group text-right m-b-0">
                        <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Create</button>
                      </div>
                    </div>
                  </div>

                </form>


              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>
