<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Interview Passed Candidate</h4>
                <p class="text-muted m-b-30 font-13">
                    On Going Interview Process and Candidate Scores
                </p>
                <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                    <thead class="thead-fusion">
                    <tr>
                        <th data-toggle="true"> Emp Code </th>
                        <th> Full Name </th>
                        <th> Department (Post) </th>
                        <th> Induction Date </th>
                        <th> Feedback </th>
                        <th> Status </th>

                    </tr>
                    </thead>
                    <tbody>
                    <% employee.forEach(function(emp){%>
                    <tr>
                        <td><%=emp._id%></td>
                        <td><%=emp.salutation%>. <%=emp.firstName%> <%=emp.lastName%></td>
                        <td><%=emp.department%> (<%=emp.position%>)</td>
                        <%if(emp.induction.completed == true){%>
                        <td><%=moment(emp.induction.date).format('MMM Do YYYY')%></td>
                        <td><%=emp.induction.feedback%></td>
                        <td><span class="badge badge-success">Completed</span></td>
                        <%}else{%>
                        <td></td>
                        <td></td>
                        <td>
                          <a class="btn btn-custom waves-effect w-md mr-2 mb-2" data-toggle="modal" data-target="#induction-<%=emp._id%>">Update</a></td>
                          <div id="induction-<%=emp._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">

                                  <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
                              <h4 class="custom-modal-title">Update Induction Details for <%=emp.firstName%> <%=emp.lastName%></h4>

                              <div class="custom-modal-text">
                                  <form class="form-horizontal" action="/hr/induction/<%=emp._id%>" method="post">
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="password3">Induction Date</label>
                                              <input class="form-control" type="date" name="date" required>
                                          </div>
                                      </div>

                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="emailaddress3">Induction Feedback</label><br>
                                              <textarea name="feedback" rows="3" style="width:100%;" ></textarea>
                                          </div>
                                      </div>

                                      <div class="form-group account-btn text-center m-t-10">
                                          <div class="col-12">
                                              <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Save</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                            </div> <!--modelcontent-->
                          </div> <!-- model dialog -->
                          </div>

                        <%}%>
                    </tr>
                    <%})%>

                    </tbody>
                </table>
            </div>
          </div>

        </div>





      </div>
      </div>
    </div></div>
    <!--FooTable-->
    <script src="/assets/pages/foo-anand.js"></script>
    <!--FooTable Example-->
    <script src="/assets/pages/jquery.footable.js"></script>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
