
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="56">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted">Employee</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->

                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-users"></i> <span> Client </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                            <a href="/ob/ND/client/create"> Add Client</a>
                            </li>
                            <li><a href="/ob/ND/client/view"> View Client</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Employee </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                            <a href="/ob/user/create"> Add Employee</a>
                            </li>
                            <li><a href="/ob/employee/assign">Assign Project</a></li>

                        </ul>

                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="mdi mdi-account-convert"></i> <span>Probation & Training</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ob/probation">Probation List</a></li>
                            <li><a href="/ob/training">Training Process</a></li>
                            <li><a href="/ob/induction">Induction</a></li>
                        </ul>
                    </li>
                      <li class="menu-title">More</li>
                    <li>
                        <a href="/ob/packages"><i class="fa  fa-tag"></i> <span> Client Package</span></a>
                    </li>




                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
