<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <h4 class="m-t-0 header-title">Client View</h4>
            <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
              <thead class="thead-fusion">
                <tr>
                  <th data-toggle="true">Client Name</th>
                  <th>Title</th>
                  <th>Email address</th>
                  <th>Mobile number</th>
                  <th>Organization/Company</th>
                  <th>More</th>
                </tr>
              </thead>
              <tbody>
                <%client.forEach((client) => {%>
                  <tr>
                    <td><%=client.name%></td>
                    <td><%=client.jobTitle%></td>
                    <td><%=client.email%></td>
                    <td><%=client.number%></td>
                    <td><%=client.company%></td>
                    <td><a href="/ob/ND/client/view/detail/<%=client._id%>">View Detail</a></td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
