
<% include ../head.ejs %>

<div class="content-page">
<p>
  <%attendance.forEach((attn)=>{%>
    <%=attn.username%> Punched In on <%=attn.punch1%> and Punched Out on <%=attn.punch2%><br>
  <%})%>
</p>
