<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>

  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">

          <div class="row text-center">
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat border-custom bg-custom text-white">
                     <i class="fi-tag"></i>

                      <h3 class="m-b-10">5</h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Active Requisitions</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box bg-primary widget-flat border-primary text-white">
                      <i class="fi-archive"></i>

                      <h3 class="m-b-10">4</h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">New Applicant</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat border-success bg-success text-white">
                      <i class="fi-help"></i>

                      <h3 class="m-b-10">6</h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Total Selected</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box bg-danger widget-flat border-danger text-white">
                      <i class="fi-delete"></i>

                      <h3 class="m-b-10">2</h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Total Rejected</p>
                  </div>
              </div>


          </div>
          <!-- end row -->
<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


</div>
</div>
<!-- END wrapper -->


<!-- Flot chart -->
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.crosshair.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/curvedLines.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.axislabels.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>

  <% include ../footer.ejs %>
