
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="56">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted"><%= user.permission %></p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">
                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="icon-people"></i> <span> Human Resource </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">

                            <li><a href="/admin/requisition/view">Approve Requisition</a></li>

                            <li><a href="#">Employees List</a></li>
                            <li><a href="#">Report</a></li>
                            <li>
                                <a href="/admin/attendance/board"> <span> Attendance </span> </a>
                            </li>
                            <li><a href="/admin/attendance/daily"> <span>Daily Attendance</a></li>
                              <li><a href="/admin/attendance/event"> <span>Attendance Live</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" fa fa-id-badge"></i> <span> Onboarding Team </span> <span class="menu-arrow"></span></a>
                    </li>
                    <li>
                        <a href="/admin/permission/add"><i class=" icon-check"></i> <span> Administration </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                          <li>
                              <a href="/admin/permission/add"><span> Approve Permission </span> </a>
                          </li>
                          <li>
                              <a href="/admin/orgsetting/edit"><span> Organization Settings </span> </a>
                          </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" fa fa-cogs"></i> <span> Organisation Setting </span> <span class="menu-arrow"></span></a>
                    </li>

                    </ul>





            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
