<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>


  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">

          <div class="row">
              <div class="col-lg-6">

                  <div class="card-box">
                      <h4 class="header-title m-t-0">Update Details</h4>
                      <p class="text-muted font-14 m-b-20">
                          Edit Your Information Here
                      </p>
                      <% if (detailError.length > 0) { %>
                          <div class="alert alert-danger"><%= detailError %></div>
                      <% } %>
                      <% if (detailSuccess.length > 0) { %>
                          <div class="alert alert-success"><%= detailSuccess %></div>
                      <% } %>
                      <form action="/profile/edit/details" method="post">
                        <div class="form-group">
                            <label for="userName">User Name<span class="text-danger">*</span></label>
                            <input type="text" name="username" parsley-trigger="change" required
                                   placeholder="Enter user name" class="form-control" value="<%=user.username%>" id="userName" readonly>
                        </div>
                        <div class="form-group">
                            <label for="userName">Full Name<span class="text-danger">*</span></label>
                            <input type="text" name="name" parsley-trigger="change" required
                                   placeholder="Enter full name" class="form-control" value="<%=user.name%>" id="userName">
                        </div>
                          <div class="form-group">
                              <label for="emailAddress">Email address<span class="text-danger">*</span></label>
                              <input type="email" name="email" parsley-trigger="change" required
                                     placeholder="Enter email" class="form-control" value="<%=user.email%>" id="emailAddress">
                          </div>

                          <div class="form-group">
                              <label for="userName">Phone<span class="text-danger">*</span></label>
                              <input type="number" name="number" parsley-trigger="change" required
                                     placeholder="Enter phone number" class="form-control" value="<%=user.number%>" id="userName">
                          </div>
                          <div class="form-group">
                              <label for="userName">Location</label>
                              <input type="text" name="location" parsley-trigger="change"
                                     placeholder="Enter location" class="form-control" value="<%=user.location%>" id="userName">
                          </div>




                          <div class="form-group text-right m-b-0">
                              <button class="btn btn-custom waves-effect waves-light" type="submit">
                                  Save
                              </button>
                              <button type="reset" class="btn btn-light waves-effect m-l-5">
                                  Cancel
                              </button>
                          </div>

                      </form>
                  </div> <!-- end card-box -->
              </div>
              <!-- end col -->

              <div class="col-lg-6">
                  <div class="card-box">
                      <h4 class="header-title m-t-0">Update Image</h4>
                      <p class="text-muted font-14 m-b-20">
                        Update Your Profile Picture Here.
                      </p>
                      <% if (photoError.length > 0) { %>
                          <div class="alert alert-danger"><%= photoError %></div>
                      <% } %>
                      <% if (photoSuccess.length > 0) { %>
                          <div class="alert alert-success"><%= photoSuccess %></div>
                      <% } %>
                      <form action="/profile/edit/photo" method="post" enctype="multipart/form-data" class="form-horizontal ">
                          <div class="form-group row">
                              <label class="col-8 col-form-label">Display Picture</label>
                              <div class="col-8">
                                  <input type="hidden" class="default" name="id" value="<%=user._id%>" />
                              </div>
                              <div class="col-8">
                                  <input type="file" class="default" name="profilePhoto" required />
                              </div>
                          </div>
                                  <div class="clearfix text-right mt-3">
                                      <button type="submit" class="btn btn-custom waves-effect waves-light">Save</button>
                                  </div>
                                </form>

                              </div>
                              <!-- virtual Employee Details Update/edit -->
                              <div class="card-box">
                                <h4 class="header-title m-t-0">Update Virtual Details</h4>
                                <p class="text-muted font-14 m-b-20">
                                    Edit Your Information Here
                                </p>
                                <% if (detailError.length > 0) { %>
                                    <div class="alert alert-danger"><%= detailError %></div>
                                <% } %>
                                <% if (detailSuccess.length > 0) { %>
                                    <div class="alert alert-success"><%= detailSuccess %></div>
                                <% } %>
                                <form action="/profile/edit/details" method="post">

                                  <div class="form-group">
                                      <label for="userName">Virtual Name<span class="text-danger">*</span></label>
                                      <input type="text" name="name" parsley-trigger="change" required
                                             placeholder="Enter Virtual name" class="form-control" value="" id="userName">
                                  </div>
                                    <div class="form-group">
                                        <label for="emailAddress">Virtual Email ID<span class="text-danger">*</span></label>
                                        <input type="email" name="email" parsley-trigger="change" required
                                               placeholder="Enter Virtual Email" class="form-control" value="" id="emailAddress">
                                    </div>

                                    <div class="form-group">
                                        <label for="userName">Skype ID<span class="text-danger">*</span></label>
                                        <input type="text" name="skype" parsley-trigger="change" required
                                               placeholder="Enter Skype ID here" class="form-control" value="" id="userName">
                                    </div>
                                    <div class="form-group">
                                        <label for="userName">Location<span class="text-danger">*</span></label>
                                        <input type="text" name="location" parsley-trigger="change"
                                               placeholder="Enter location" class="form-control" value="<%=user.location%>" id="userName">
                                    </div>




                                    <div class="form-group text-right m-b-0">
                                        <button class="btn btn-custom waves-effect waves-light" type="submit">
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect m-l-5">
                                            Cancel
                                        </button>
                                    </div>

                                </form>

                                          </div>
                                          <!-- virtual employee details update/edit end here -->
                          </div>

                  </div>

              </div> <!-- end col -->
          </div>
        </div>
<% include footer-dash-copyright.ejs %>
      </div>
          <!-- end row -->
</div>
  <% include footer.ejs %>
