<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<div class="content">
  <div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive" >
            <h4 class="m-t-0 header-title">Add permission to users</h4>
            <p class="text-muted font-14 m-b-30">
                Add the user permissions according to their work
            </p>

            <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Add</th>
                </tr>
                </thead>


                <tbody>
                  <% foundUsers.forEach(function(users){%>
                  <tr>
                      <td><%=users.name%></td>
                      <td><%=users.username%></td>
                      <td><%=users.email%></td>
                      <td><a href="#permission-<%=users._id%>" class="btn btn-primary waves-effect w-md mr-2 mb-2" data-animation="door" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add permission</a>
                      <div id="permission-<%=users._id%>" class="modal-demo">
                          <button type="button" class="close" onclick="Custombox.close();">
                              <span>&times;</span><span class="sr-only">Close</span>
                          </button>
                          <h4 class="custom-modal-title">Select Permission</h4>
                          <div class="custom-modal-text">
                              <form class="form-horizontal" action="/admin/permission/add" method="post">
                                  <div class="form-group m-b-25">
                                      <div class="col-12">
                                          <input type="hidden" name="_id" value="<%=users._id%>">
                                          <label for="emailaddress3">Permission</label>
                                          <select class="form-control" name="permission" >
                                              <option value="admin">Admin</option>
                                              <option value="hr">HR</option>
                                              <option value="ob">OB</option>
                                              <option value="acc">Accounts</option>
                                              <option value="ve">Virtual Employee</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group account-btn text-center m-t-10">
                                      <div class="col-12">
                                          <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Add</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      </td>
                  </tr>
                  <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
