<% include head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
              <h4 class="m-t-0 header-title">Requisition Active List</h4>
              <p class="text-muted m-b-30 font-13">
                  These Peoples Applied for Job in Fusion First.
              </p>
              <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                  <thead class="thead-fusion">
                  <tr>
                      <th data-toggle="true"> Job Post (no. of position)</th>
                      <th> Department</th>
                      <th data-hide="phone">Initiator Name  </th>
                      <th data-hide="all">Expected days </th>
                      <th data-hide="all">Replacement For </th>
                      <th data-hide="all">Name of Client </th>
                      <th data-hide="all">Detail </th>
                      <th data-hide="all"> Status </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% requisition.forEach(function(mrf){%>
                  <tr>
                      <td><%=mrf.position%> (<%=mrf.number%>)</td>
                      <td><%=mrf.department%></td>
                      <td><%=mrf.raisedBy.name%></td>
                      <td><%=mrf.expectedDays%></td>
                      <td><%=mrf.replacementFor%></td>
                      <td><%=mrf.client%></td>
                      <td><a href="#modal-preview" class="btn btn-light waves-effect w-md mr-2 mb-2" data-animation="sign" data-plugin="custommodal"
                         data-overlaySpeed="100" data-overlayColor="#36404a">Preview</a></td>
                         <div id="modal-preview" class="modal-demo">
                             <button type="button" class="close" onclick="Custombox.close();">
                                 <span>&times;</span><span class="sr-only">Close</span>
                             </button>
                             <h4 class="custom-modal-title">Requisition in <%=mrf.department%> for <%=mrf.position%> </h4>
                             <div class="custom-modal-text">
                               <p>Require <%=mrf.position%> (<%=mrf.number%>) in <%=mrf.department%> for <%=mrf.client%>, Vaccancy Raised by <%=mrf.raisedBy.name%> </p>
                                     <a href="#" type="button" class="btn btn-success waves-effect waves-light"> <i class="fa fa-thumbs-up m-r-5"></i> <span>Approve</span> </a>
                                     <a href="#" type="button" class="btn btn-danger waves-effect waves-light"> <i class="fa fa-thumbs-down m-r-5"></i> <span>Reject</span> </a>
                             </div>
                         </div>
                      <td><a href="#modal-action" class="btn btn-light waves-effect w-md mr-2 mb-2" data-animation="sign" data-plugin="custommodal"
                         data-overlaySpeed="100" data-overlayColor="#36404a">Action</a></td>
                         <div id="modal-action" class="modal-demo">
                             <button type="button" class="close" onclick="Custombox.close();">
                                 <span>&times;</span><span class="sr-only">Close</span>
                             </button>
                             <h4 class="custom-modal-title">Requisition in <%=mrf.department%> for <%=mrf.position%> </h4>
                             <div class="custom-modal-text">
                               <p>Require <%=mrf.position%> (<%=mrf.number%>) in <%=mrf.department%> for <%=mrf.client%>, Vaccancy Raised by <%=mrf.raisedBy.name%> </p>
                                     <a href="#" type="button" class="btn btn-success waves-effect waves-light"> <i class="fa fa-thumbs-up m-r-5"></i> <span>Approve</span> </a>
                                     <a href="#" type="button" class="btn btn-danger waves-effect waves-light"> <i class="fa fa-thumbs-down m-r-5"></i> <span>Reject</span> </a>
                             </div>
                         </div>
                  </tr>
                  <%})%>

                  </tbody>
              </table>
          </div>
      </div>
      <% include footer-dash-copyright.ejs %>
  </div>
  </div>
  <!--FooTable-->
  <script src="assets/pages/foo-anand.js"></script>
  <!--FooTable Example-->
  <script src="assets/pages/jquery.footable.js"></script>

<!-- content -->

    <% include footer.ejs %>
