<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
              <h4 class="m-t-0 header-title">Requisition Active List</h4>
              <p class="text-muted m-b-30 font-13">
                  These are the requisitions approved by HR. Click on a row to view more details
              </p>
              <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                  <thead class="thead-fusion">
                  <tr>
                      <th data-toggle="true"> Job Post (no. of position)</th>
                      <th> Department</th>
                      <th>Initiator Name  </th>
                      <th>Expected days </th>
                      <th>Replacement For </th>
                      <th>Name of Client </th>
                      <th></th>
                      <th data-hide="all">Qualifications </th>
                      <th data-hide="all">Experience </th>
                      <th data-hide="all">competencies </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% requisition.forEach(function(mrf){%>
                  <tr>
                      <td><%=mrf.position%> (<%=mrf.number%>)</td>
                      <td><%=mrf.department%></td>
                      <td><%=mrf.raisedBy.name%></td>
                      <td><%=mrf.expectedDays%></td>
                      <td><%=mrf.replacementFor%></td>
                      <td><%=mrf.client%></td>
                      <td>
                        <div class="btn-group">
                          <a href="/admin/requisition/approve/<%=mrf._id%>" type="button" class="btn btn-success waves-effect waves-light"> <span>Approve</span> </a>
                          <a href="/admin/requisition/reject/<%=mrf._id%>" type="button" class="btn btn-danger waves-effect waves-light"><span>Reject</span> </a>
                        </div>
                      </td>
                      <td><%=mrf.required.qualification%></td>
                      <td><%=mrf.required.experience%></td>
                      <td><%=mrf.required.competencies%></td>
                  </tr>
                  <%})%>

                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
      <% include footer-dash-copyright.ejs %>
  </div>
  </div>
  <!--FooTable-->
  <script src="assets/pages/foo-anand.js"></script>
  <!--FooTable Example-->
  <script src="assets/pages/jquery.footable.js"></script>

<!-- content -->

    <% include ../footer.ejs %>
