<!--<li class="menu-title">More</li>-->
<!--
<li>
    <a href="javascript: void(0);"><i class="fa fa-address-card"></i><span> Resource </span> <span class="menu-arrow"></span></a>
    <ul class="nav-second-level" aria-expanded="false">
        <li><a href="/documents/upload/">Upload Documents</a></li>
        <li><a href="/resource/upload/view">View Documents</a></li>
        <li><a href="/resource/fusion/docs">Fusion Documents</a></li>
    </ul>
</li>

<li><a href="#"><i class="fa fa-user-times"></i>Download Center</a></li>

<li>
    <a href="javascript: void(0);"><i class="fa fa-user-times"></i> <span> Salary Slip </span> <span class="menu-arrow"></span></a>

</li>

<li>
    <a href="javascript: void(0);"><i class="fa fa-user-times"></i> <span> Service Request </span> <span class="menu-arrow"></span></a>

</li>

<li>
    <a href="javascript: void(0);"><i class="fa fa-user-times"></i> <span> Exit Request </span> <span class="menu-arrow"></span></a>

</li>

<li>
    <a href="javascript: void(0);"><i class="fa fa-user-times"></i> <span> Settings </span> <span class="menu-arrow"></span></a>

</li>
-->
