<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>

  <script src="/assets/js/modernizr.min.js"></script>
<!-- Flot chart -->


<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>
<!-- Bootstrap fileupload js -->
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<script src="http://coderthemes.com/highdmin/plugins/switchery/switchery.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/select2/js/select2.min.js" type="text/javascript"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-maxlength/bootstrap-maxlength.js" type="text/javascript"></script>

<!-- Dropzone js -->
<script src="http://coderthemes.com/highdmin/plugins/dropzone/dropzone.js"></script>

<!--Form Wizard-->
<script src="http://coderthemes.com/highdmin/plugins/jquery.steps/js/jquery.steps.min.js" type="text/javascript"></script>

<!-- Modal-Effect -->
<script src="/assets/js/custombox.min.js"></script>
<script src="/assets/js/custombox-legacy.min.js"></script>

<!-- Sweet Alert Js  -->
<script src="http://coderthemes.com/highdmin/plugins/sweet-alert/sweetalert2.min.js"></script>
<script src="/assets/pages/jquery.sweet-alert.init.js"></script>

<!--wizard initialization-->
<script src="/assets/pages/jquery.wizard-init.js" type="text/javascript"></script>
<!-- plugin js -->
<script src="http://coderthemes.com/highdmin/plugins/moment/moment.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<!-- Init js -->
<script src="/assets/pages/jquery.form-pickers.init.js"></script>

<!--FooTable-->
<script src="http://coderthemes.com/highdmin/plugins/footable/js/footable.all.min.js"></script>
<!--FooTable Example-->
<script src="/assets/pages/jquery.footable.js"></script>

<script src="http://coderthemes.com/highdmin/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" type="text/javascript"></script>
<script src="http://coderthemes.com/highdmin/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>

<!-- Parsley js -->
<script type="text/javascript" src="http://coderthemes.com/highdmin/plugins/parsleyjs/parsley.min.js"></script>

<!-- Jquery-Ui-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-ui/jquery-ui.min.js"></script>

<script src='http://coderthemes.com/highdmin/plugins/fullcalendar/js/fullcalendar.min.js'></script>
<!--<script src="/assets/pages/jquery.calendar.js"></script>-->

<!-- Required datatable js -->
<script src="http://coderthemes.com/highdmin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
<!-- Buttons examples -->
<script src="http://coderthemes.com/highdmin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/jszip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/pdfmake.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/vfs_fonts.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/buttons.html5.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>

<!-- Key Tables -->
<script src="http://coderthemes.com/highdmin/plugins/datatables/dataTables.keyTable.min.js"></script>

<!-- Responsive examples -->
<script src="http://coderthemes.com/highdmin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Selection table -->
<script src="http://coderthemes.com/highdmin/plugins/datatables/dataTables.select.min.js"></script>

<!-- Xeditable -->
<script src="http://coderthemes.com/highdmin/plugins/moment/moment.js" type="text/javascript"></script>
<script src="http://coderthemes.com/highdmin/plugins/bootstrap-xeditable/js/bootstrap-editable.min.js" type="text/javascript"></script>
<script src="/assets/pages/jquery.xeditable.init.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $.fn.dataTable.moment( 'll' );
    var table = $('#basic-dataTable').DataTable({
      bStateSave: true,
      //dom : 'lfBrtip',
      aaSorting: [],//Dont want initial first column sorting
      buttons: [{
        extend: 'copy',
        exportOptions: {
          columns: ':visible'
        }
      },{
        extend: 'excel'
      },{
        extend: 'print',
        exportOptions: {
          columns: ':visible'
        }
      },{
        extend: 'colvis',
        postfixButtons: [ 'colvisRestore' ],
        columnText: function ( dt, idx, title ) {
          return (idx+1)+': '+title;
        }
      },{
        text: 'Restore Column Order',
        action: function (e) {
          table.colReorder.reset();
        }
      }],
      responsive: true,
      colReorder: true,
      keys: true
    });
    table.buttons().container().appendTo('#basic-dataTable_wrapper .col-md-6:eq(0)');
    $('#basic-dataTable_wrapper').css('min-height','1000px');

    function responsiveToggle(dt) {
   $(dt.table().header()).find('th').toggleClass('all');
   dt.responsive.rebuild();
   dt.responsive.recalc();
}
  });
</script>




<!-- Form Validation -->
<script type="text/javascript">
   $(document).ready(function() {
       $('form').parsley();
   });

  jQuery(function($) {
      $('.autonumber').autoNumeric('init');
  });
  jQuery.browser = {};
  (function () {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
          jQuery.browser.msie = true;
          jQuery.browser.version = RegExp.$1;
      }
  })();
</script>
<!-- Custom Javascript -->
<script src="/assets/js/custom.js"></script>

<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>


<script>
    $(document).ready(function () {

        $("#upcoming, #inprogress, #completed").sortable({
            connectWith: ".taskList",
            placeholder: 'task-placeholder',
            forcePlaceholderSize: true,
            update: function (event, ui) {

                var todo = $("#todo").sortable("toArray");
                var inprogress = $("#inprogress").sortable("toArray");
                var completed = $("#completed").sortable("toArray");
            }
        }).disableSelection();

    });
</script>

</body>
</html>
