<% include ../head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>


  <!-- Contact Detail Update -- >
  


  <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
  </div>
  <% include footer.ejs %>
