<!DOCTYPE html>
<html>


<head>
  <title>Scalia-Hostmud HCM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="Fusionfirst ERP System by Hostmud Cloud Solutions Private Limited" name="description" />
  <meta content="Hostmud Cloud" name="Hostmud Team" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="icon" type="image/png" sizes="32x32" href=">
  <!--Form Wizard-->
  <link rel="stylesheet" type="text/css" href="http://coderthemes.com/highdmin/plugins/jquery.steps/css/jquery.steps.css" />
  <!-- app css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="http://coderthemes.com/highdmin/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://coderthemes.com/highdmin/plugins/switchery/switchery.min.css">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
  <script src="/assets/js/modernizr.min.js"></script>

  <!--Foo table-->
  <link href="http://coderthemes.com/highdmin/plugins/footable/css/footable.core.css" rel="stylesheet">

  <!-- DataTables -->
  <link href="http://coderthemes.com/highdmin/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="http://coderthemes.com/highdmin/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.1/css/colReorder.dataTables.min.css">
  <!-- Responsive datatable examples -->
  <link href="http://coderthemes.com/highdmin/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <!-- Multi Item Selection examples -->
  <link href="http://coderthemes.com/highdmin/plugins/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <!-- Custom box css -->
  <link href="http://coderthemes.com/highdmin/plugins/custombox/css/custombox.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />

  <!-- Sweet Alert css -->
  <link href="http://coderthemes.com/highdmin/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!--  <style media="screen">
    .dataTables_wrapper .btn-group {
      display: inline;
    }
    .dataTables_length {
      float: left;
      width: 50%;
    }
    .dataTables_filter {
      float: right;
      width: 50%;
    }
  </style>-->
</head>
