<% include head.ejs %>
    <body class="account-pages">

        <!-- Begin page -->
        <div class="accountbg" style="background: url('http://www.fusionfirst.com/wp-content/uploads/2017/06/fusion-intro.jpg');background-size: cover;"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="index-2.html" class="text-success">
                                    <span><img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="76"></span>
                                </a>
                            </h2>

                            <div class="text-center">
                                <h1 class="text-error">Invalid</h1>
                                <h4 class="text-uppercase text-danger mt-3">Link Now Expired</h4>
                                <p class="text-muted mt-3">It's looking like you may have taken a wrong turn. Don't worry... it
                                    happens to the best of us. Here's a
                                    little tip that might help you get back on track.</p>

                                <a class="btn btn-md btn-block btn-custom waves-effect waves-light mt-3" href="/password/forgot"> Try Again</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p class="account-copyright">2018 © Fusion Business Solutions Pvt. Ltd. All Rights Reserved</p>
            </div>

        </div>



        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

    </body>
