<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>


  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">
        <%=employee%>
      </div>
<% include footer-dash-copyright.ejs %>
      </div>
          <!-- end row -->
</div>
  <% include footer.ejs %>
