<%if(user.permission == "admin"){%>
<% include ./admin/leftsidebar.ejs %>

<%}else if(user.permission == "manager"){%>
<% include ./manager/leftsidebar.ejs %>

<%}else if(user.permission == "hr"){%>
<% include ./hr/leftsidebar.ejs %>

<%}else if(user.permission == "ob"){%>
<% include ./ob/leftsidebar.ejs %>

<%}else if(user.permission == "ti"){%>
<% include ./ti/leftsidebar.ejs %>

<%}else if(user.permission == "acc"){%>
<% include ./acc/leftsidebar.ejs %>

<%}else if(user.permission == "ve"){%>
<% include ./ve/leftsidebar.ejs %>

<%}else{%>
  <%console.log("NO sidebar")%>
<%}%>
