<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
