<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>


  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">
        <div class="alert alert-dark">Do Not Reload the page</div>
        <% if (messageError.length > 0) { %>
            <div class="alert alert-danger"><%= messageError %></div>
        <% } %>
        <form class="" action="/signature/otp" method="post">
          <label for="">Enter OTP : </label>
          <input data-parsley-type="digits" type="text" name="otp" data-mask="9999" </input>
          <input type="hidden" name="id" value="<%=id%>"></input>
          <input type="hidden" name="url" value="<%=url%>"></input>
          <button type="submit" name="button">Submit OTP</button>
        </form>
        <p>Expires in : <span id="timer"></span></p>
        </div>
<% include footer-dash-copyright.ejs %>
      </div>
          <!-- end row -->
</div>
  <% include footer.ejs %>



<script>
// Set the date we're counting down to
var countDownDate = new Date().getTime() + 180000;

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
