<% include head.ejs %>

  <body class="account-pages">

      <!-- Begin page -->
      <div class="accountbg" style="background: url('http://www.fusionfirst.com/wp-content/uploads/2017/06/fusion-intro.jpg');background-size: cover;"></div>

      <div class="wrapper-page account-page-full">

          <div class="card">
              <div class="card-block">

                  <div class="account-box">

                      <div class="card-box p-5">
                          <h2 class="text-uppercase text-center pb-4">
                              <a href="#" class="text-success">
                                  <span><img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="76"></span>
                              </a>
                          </h2>

                          <div class="text-center m-b-20">
                              <p class="text-muted m-b-0">Enter your username and we'll send you an email with instructions to reset your password.  </p>
                          </div>

                          <form class="form-horizontal" action="/password/reset" id="password-reset-form" method="post">

                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="username">Username</label>
                                      <input class="form-control" type="username" id="emailaddress" name="username" required="" value="<%=user.username%>" readonly>
                                  </div>
                              </div>
                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="username">New Password</label>
                                      <input class="form-control" type="password" id="password"  required="" name="password">
                                  </div>
                              </div>
                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="username">Confirm Password</label>
                                      <input class="form-control" type="password" id="cnfpassword"  required="" name="cnfpassword">
                                  </div>
                              </div>

                              <div class="form-group row text-center m-t-10">
                                  <div class="col-12">
                                      <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Reset Password</button>
                                  </div>
                              </div>

                          </form>

                          <div class="row m-t-50">
                              <div class="col-sm-12 text-center">
                                  <p class="text-muted">Back to <a href="/login" class="text-dark m-l-5"><b>Sign In</b></a></p>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
          </div>

          <div class="m-t-40 text-center">
              <p class="account-copyright">2018 © Fusion Business Solutions Pvt. Ltd. All Rights Reserved</p>
          </div>

      </div>



<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>

<!-- jquery validation -->
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/custom-validation.js"></script>

<!-- App js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>
</body>
</html>
