<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>



  <div class="content">
      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12">
                  <!-- meta -->
                  <div class="profile-user-box card-box bg-custom">
                      <div class="row">
                          <div class="col-sm-6">
                              <span class="pull-left mr-3"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="" class="thumb-lg rounded-circle"></span>
                              <div class="media-body text-white">
                                  <h4 class="mt-1 mb-1 font-18"><%=user.name%></h4>
                                    <h5 class="mt-1 mb-1 font-14"> Asscociate, HR Department</h5>
                                  <p class="text-light mb-0">Fusion UID : <%=user._id%> | Employee ID : F009</p>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="text-right">


                                  <a class="btn btn-rounded waves-effect" href="/profile/edit" >
                                      <i class="mdi mdi-account-settings-variant mr-1"></i> Edit Profile
                                  </a>

                              </div>
                          </div>
                      </div>
                  </div>
                  <!--/ meta -->
              </div>
          </div>
          <!-- end row -->


          <div class="row">
              <div class="col-md-4">
                  <!-- Personal-Information -->
                  <div class="card-box">
                      <h4 class="header-title mt-0 m-b-20">Personal Information</h4>
                      <div class="panel-body">
                          <p class="text-muted font-13">
                              Hey, I’m <%=user.name%> residing in this beautiful world. I create websites and mobile apps with great UX and UI design. I have done work with big companies like Nokia, Google and Yahoo. Meet me or Contact me for any queries. One Extra line for filling space. Fill as many you want.
                          </p>

                          <hr/>

                          <div class="text-left">
                              <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15"> <%=user.name%></span></p>

                              <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15"> <%=user.number%></span></p>

                              <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15"> <%=user.email%></span></p>

                              <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15"> Udaipur, India
                              <p class="text-muted font-13"><strong>Languages : </strong>
                                  <span class="m-l-5">
                                      <span class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span>
                                      <span>English</span>
                                  </span>


                                  <span class="m-l-5">
                                      <span class="flag-icon flag-icon-fr m-r-5" title="fr"></span>
                                      <span>French</span>
                                  </span>
                              </p>

                          </div>

                          <ul class="social-links list-inline m-t-20 m-b-0">
                              <li class="list-inline-item">
                                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li class="list-inline-item">
                                  <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- Personal-Information -->



              </div>


              <div class="col-md-8">


                  <!-- end row -->


                  <div class="card-box">
                      <h4 class="header-title mt-0 mb-3">Experience</h4>
                      <div class="">
                          <div class="">
                              <h5 class="text-custom m-b-5">Lead designer / Developer</h5>
                              <p class="m-b-0">websitename.com</p>
                              <p><b>2010-2015</b></p>

                              <p class="text-muted font-13 m-b-0">Lorem Ipsum is simply dummy text
                                  of the printing and typesetting industry. Lorem Ipsum has
                                  been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type and
                                  scrambled it to make a type specimen book.
                              </p>
                          </div>

                          <hr>

                          <div class="">
                              <h5 class="text-custom m-b-5">Senior Graphic Designer</h5>
                              <p class="m-b-0">coderthemes.com</p>
                              <p><b>2007-2009</b></p>

                              <p class="text-muted font-13">Lorem Ipsum is simply dummy text
                                  of the printing and typesetting industry. Lorem Ipsum has
                                  been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type and
                                  scrambled it to make a type specimen book.
                              </p>
                          </div>

                      </div>
                  </div>



              </div>
              <!-- end col -->

          </div>
          <!-- end row -->

<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
      </div> <!-- container -->

  </div> <!-- content -->

      <% include footer.ejs %>
