<% include ../head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>
  <div class="content">
      <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-12">

                        <div class="card-box">
                            <h4 class="header-title m-t-0">Resination Form</h4>
                            <p class="text-muted font-14 m-b-20">
                              
                            </p>

                            <form action="#">
                                <div class="form-group">
                                    <label for="userName">Name<span class="text-danger">*</span></label>
                                    <input type="text" disabled name="name" parsley-trigger="change" required
                                        value="<%=user.name%>"   placeholder="Enter user name" class="form-control" id="userName">
                                </div>
                                <div class="form-group">
                                    <label for="emailAddress">Position<span class="text-danger">*</span></label>
                                    <div>
                                    <select class="btn btn-light dropdown-toggle" style="width:100%"  name="position" id="resination_position" data-style="btn-light btn-rounded">
                                            <option value="Asscociate">Asscociate</option>
                                            <option value="Sr. Associate">Sr. Associate</option>
                                            <option value="Team Leader">Team Leader</option>
                                            <option value="Assistance Team Leader">Assistance Team Leader</option>
                                    </select>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="Reason">Reason<span class="text-danger">*</span></label>
                                    <div>
                                            <textarea id="resion" name="reason" required class="form-control" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="AddSignature"> Add Signature<span class="text-danger">*</span></label>
                                        <div>
                                            <input type="button" value="Add"  class="btn btn-custom waves-effect w-md mr-2 mb-2">
                                                
                                        </div>
                               </div>
                                
                                
                                <div class="form-group text-right m-b-0">
                                    <button class="btn btn-custom waves-effect waves-light" type="submit">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-light waves-effect m-l-5">
                                        Cancel
                                    </button>
                                </div>

                            </form>
                        </div> <!-- end card-box -->
                    </div>
                    <!-- end col -->

                    
                </div>
          <!-- end row -->
      </div> <!-- container -->

  </div> <!-- content -->

  <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
  </div>
  <% include ../footer.ejs %>
  