<% include head.ejs %>


  <body class="account-pages">

      <!-- Begin page -->
      <div class="accountbg" style="background: url('/assets/images/signup1.jpg');background-size: cover;"></div>

      <div class="wrapper-page account-page-full">

          <div class="card">
              <div class="card-block">

                  <div class="account-box">

                      <div class="card-box p-5">
                          <h2 class="text-uppercase text-center pb-4">
                              <a href="#" class="text-success">
                                  <span><img src="https://hostmud.com/wp-content/uploads/2017/10/logo.png" alt="" height="30"></span>
                              </a>
                          </h2>

                          <form class="form-horizontal" action="signup" method="post">
                            <% if (message.length > 0) { %>
                                <div class="alert alert-danger"><%= message %></div>
                            <% } %>
                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="name">Full Name</label>
                                      <input class="form-control" type="name" id="name" name="name" required="" placeholder="Anand Prakash">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="emailaddress">Email address</label>
                                      <input class="form-control" type="email" id="emailaddress" name="email" required="" placeholder="Enter your Email">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="username">Username</label>
                                      <input class="form-control" type="name" id="username" name="username" required="" placeholder="Enter Username">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="password">Password</label>
                                      <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter your password">
                                  </div>
                              </div>

                              <div class="form-group row m-b-20">
                                  <div class="col-12">
                                      <label for="password">Confirm Password</label>
                                      <input data-parsley-equalto="#password" type="password" required placeholder="Re-Enter Password" class="form-control" id="password1">
                                  </div>
                              </div>

                              <div class="form-group row text-center m-t-10">
                                  <div class="col-12">
                                      <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign Up</button>
                                  </div>
                              </div>

                          </form>

                          <div class="row m-t-50">
                              <div class="col-sm-12 text-center">
                                  <p class="text-muted">Already have an account?  <a href="/login" class="text-dark m-l-5"><b>Sign In</b></a></p>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
          </div>

          <div class="m-t-40 text-center">
              <p class="account-copyright">2018 © Hostmud Cloud Solutions Private Limited. All Rights Reserved</p>
          </div>

      </div>



<!-- new js code link from asset folder : anand -->
<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/waves.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="assets/js/jquery.core.js"></script>
<script src="assets/js/jquery.app.js"></script>

<!-- Parsley js -->
<script type="text/javascript" src="http://coderthemes.com/highdmin/plugins/parsleyjs/parsley.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });
</script>

</body>
</html>
