<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>
  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
            <% if (messageError.length > 0) { %>
                <div class="alert alert-danger"><%= messageError %></div>
            <% } %>
            <% if (messageSuccess.length > 0) { %>
                <div class="alert alert-success"><%= messageSuccess %></div>
            <% } %>
              <h4 class="m-t-0 header-title">Select User to take Sign</h4>
              <%users.forEach(function(u){%>
                <a href="/signature/<%=u.id%>"><%=u.name%> (<%=u.username%>)</a><br>
              <%})%>
          </div>
      </div>
      <% include footer-dash-copyright.ejs %>
  </div>
  </div>
  <!--FooTable-->
  <script src="assets/pages/foo-anand.js"></script>
  <!--FooTable Example-->
  <script src="assets/pages/jquery.footable.js"></script>

<!-- content -->

    <% include footer.ejs %>
