<!-- Top Bar Start -->
<div class="topbar">

    <nav class="navbar-custom">

        <ul class="list-unstyled topbar-right-menu float-right mb-0">

            <!-- notification bar -->

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="fi-bell noti-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0"><span class="float-right"><a href="#" class="text-dark"><small>Clear All</small></a> </span>Notification</h5>
                    </div>

                    <div class="slimscroll" style="max-height: 230px;">
                        <!-- item-->
                      <%let notification = user.notification.reverse()%>
                      <%notification.forEach((note)=>{%>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="<%=note.color%>"><i class="<%=note.icon%>"></i></div>
                            <p class="notify-details"><%=note.title%><small class="text-muted"><%=note.date%></small></p>
                        </a>
                      <%})%>
                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        View all <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>

            <!-- notification bar end here -->



            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user" class="rounded-circle"> <span class="ml-1"><%= user.name %> <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">


                    <!-- item-->
                    <a href="/profile" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i> <span>My Profile</span>
                    </a>

                    <!-- item-->
                    <a href="/profile/edit" class="dropdown-item notify-item">
                        <i class="fi-cog"></i> <span>Update Profile</span>
                    </a>

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fa fa-bell"></i> <span>Support</span>
                    </a>



                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fi-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
            <li>
                <div class="page-title-box">
                  <%if(user.permission == "admin"){%>
                  <h4 class="page-title">Master Admin Dashboard </h4>

                  <%}else if(user.permission == "manager"){%>
                  <h4 class="page-title">Manager Dashboard </h4>

                  <%}else if(user.permission == "hr"){%>
                  <h4 class="page-title">Human Resource Dashboard </h4>

                  <%}else if(user.permission == "ob"){%>
                  <h4 class="page-title">On Boarding Dashboard </h4>

                  <%}else if(user.permission == "ti"){%>
                  <h4 class="page-title">Training Dashboard </h4>

                  <%}else if(user.permission == "acc"){%>
                  <h4 class="page-title">Accounts Dashboard </h4>

                  <%}else if(user.permission == "ve"){%>
                    <h4 class="page-title">Team Dashboard </h4>
                  <%}%>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Welcome to Scalia HCM Dashboard</li>
                    </ol>
                </div>
            </li>

        </ul>

    </nav>

</div>
<!-- Top Bar End -->
