<% include head.ejs %>
<% include leftsidebar.ejs %>
<div class="content-page">
  <% include topbar.ejs %>
<!-- education form -->
<div class="content">
  <div class="container-fluid">
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Education Detail Upload</h4>
            <%if(employee.educationalFiles == true){%>
            <div class="alert alert-success">
                You have uploaded the documents already.
            </div>
            <%}else{%>
            <div class="alert alert-info">
                Please Upload carefully, It's one time upload option.<br>All files must be in PDF format
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="demo-box">
                        <form action="/documents/upload/educational/<%=employee._id%>" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Matriculate Marksheet</p>
                              <input type="file" class="filestyle" name="marksheetMatric" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Graduation Marksheet</p>
                                <input type="file" class="filestyle" name="marksheetGrad" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Post Graduation Marksheet</p>
                                <input type="file" class="filestyle" name="marksheetPG" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold ">Any Other Degree</p>
                                <input type="file" class="filestyle" name="otherDegree" data-buttonbefore="true" data-btnClass="btn-light">
                            </div>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="demo-box">

                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Intermediate Marksheet</p>
                                <input type="file" class="filestyle" name="marksheetInter" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Graduation Degree Certificate</p>
                                <input type="file" class="filestyle" name="certificateGrad" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>

                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">Post Graduation Certificate</p>
                                <input type="file" class="filestyle" name="certificatePG" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">All Above Details are correct and ...</p>
                                <button type="submit" class="btn btn-block btn-custom">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div> <!-- end row -->
            <%}%>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>

<!-- education form end here -->
<!-- last employement detail here -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Previous Employement Documents</h4>
            <%if(employee.previousEmploymentFiles == true){%>
            <div class="alert alert-success">
                You have uploaded the documents already.
            </div>
            <%}else{%>
            <div class="alert alert-info">
                Please Upload carefully, It's one time upload option.<br>All files must be in PDF format
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="demo-box">
                        <form action="/documents/upload/previousEmployment/<%=employee._id%>" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Appointment Letter</p>
                              <input type="file" class="filestyle" name="previousAppointment" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Last Salary Slip</p>
                                <input type="file" class="filestyle" name="previousSalarySlip" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>

                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">Full & Final Settlement Letter</p>
                                <input type="file" class="filestyle" name="previousFinal" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="demo-box">

                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Experience Letter</p>
                                <input type="file" class="filestyle" name="previousExperience" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Relieving Letter</p>
                                <input type="file" class="filestyle" name="previousRelieving" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>

                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">All Above Details are correct and ...</p>
                                <button type="submit" class="btn btn-block btn-custom">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end row -->
            <%}%>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>

<!-- close employement detail here -->
<!-- kyc detail here -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Personal Documents</h4>
            <%if(employee.personalFiles == true){%>
            <div class="alert alert-success">
                You have uploaded the documents already.
            </div>
            <%}else{%>
            <div class="alert alert-info">
                Please Upload carefully, It's one time upload option.<br>All files must be in PDF format. Passport Photo should be an image type.
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="demo-box">
                        <form action="/documents/upload/personal/<%=employee._id%>" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Passport Size Photograph</p>
                                <input type="file" class="filestyle" name="passportPhoto" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">PAN Card Upload</p>
                                <input type="file" class="filestyle" name="pan" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">AADHAR Card Front Side</p>
                                <input type="file" class="filestyle" name="aadharFront" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Driving License Front Side</p>
                                <input type="file" class="filestyle" name="dlFront" data-buttonbefore="true" data-btnClass="btn-light">
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold ">Passport Copy</p>
                              <input type="file" class="filestyle" name="passport" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="demo-box">


                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">PAN Card Number</p>
                                <input type="text" class="form-control" name="panNumber" id="pancard" required>
                            </div>

                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">AADHAR Card Number</p>
                                <input type="text" class="form-control" name="aadharNumber" id="aadharnumber" required>
                            </div>
                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">AADHAR Card Back Side</p>
                                <input type="file" class="filestyle" name="aadharBack" data-buttonbefore="true" data-btnClass="btn-light" required>
                            </div>
                            <div class="form-group">
                                <p class="mb-2 mt-4 font-weight-bold">Driving License Back Side</p>
                                <input type="file" class="filestyle" name="dlBack" data-buttonbefore="true" data-btnClass="btn-light">
                            </div>

                            <div class="form-group m-b-0">
                                <p class="mb-2 mt-4 font-weight-bold">All Above Details are correct and ...</p>
                                <button type="submit" class="btn btn-block btn-custom">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end row -->
            <%}%>
        </div> <!-- end card-box -->
    </div> <!-- end col -->
</div>

<%if(!user.digitalSignature.signature){%>
<a href="/signature/add" class="btn">Add Digital Signature</a>
<%}else{%>
<img src="<%=user.digitalSignature.signature%>" alt="Your Digital Signature" style="width:100%;">
<%}%>
<!-- close kyc detail here -->
</div>
</div>
<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<!-- content-page div close -->
</div>
<% include footer.ejs %>
