<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="clearfix">
              <div class="pull-left mb-3">
                <img src="/assets/images/Fusion-Logo.png" alt="" height="40">
              </div>
            </div>
            <hr>
            <h3 align="center">INVOICE</h3>
            <br>
            <div class="row">
              <div class="col-6">
                <h5>
                  <br>
                  To:<br>
                  Service Provider
                </h5>
              </div><!-- end col -->
              <div class="col-4 offset-2">

                <h5><strong>Number: </strong><a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter number"> [FITL/July/18/01]</a> </h5>

              </div><!-- end col -->

              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table mt-4">
                    <thead>
                      <tr><th>#</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th class="text-right">Total</th>
                      </tr></thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a href="#" id="inline-firstname" data-type="text" data-pk="1" data-title="Enter description">Half Time VA Package (90 hours) 
                            (01/04/2018 to 30/04/2018)</a>
                          </td>
                          <td><a href="#" id="inline-amount2" data-type="text" data-pk="1" data-title="Enter amount">[$000]</a></td>
                          <td class="text-right"><a href="#" id="inline-amount1" data-type="text" data-pk="1" data-title="Enter amount">[$000]</a></td>
                        </tr>
                        <tr>
                          <td>
                            <b>Amount in Words</b>
                          </td>

                          <td></td>
                          <td><a href="#" id="inline-amountwords" data-type="text" data-pk="1" data-title="Enter amount">[Amount in words]</a></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-9">
                  <div class="clearfix">
                    <h5>
                      <strong>Payment Due Date:</strong>Immediate<br><br>
                      <strong>Amount to be paid to : </strong>“Fusion Information Technology Limited”<br>
                      <strong>Beneficiary Bank : </strong>ICICI Bank UK Limited<br>
                      <strong>Bank address : </strong>One Thomas Squarer, London, E1W 1YN<br>
                      <strong>Beneficiary Bank Account no : </strong>76245044<br>
                      <strong>Routing Number : </strong>300081<br>
                      <strong>IBAN no. : </strong>GB39ICIC30008176245044<br>
                      <strong>Intermediary Bank Name : </strong>Lloyds TSB, London (LOYDGB2L)<br>
                      <strong>Intermediary Account Number : </strong>01023684<br>
                    </h5><br>
                    <h6><a href="#" id="inline-username5" data-type="text" data-pk="1" data-title="Enter name">[Name]</a><br>
                      Billing Supervisor, FUSION<br>
                      Date: <%=moment().format('Do MMMM, YYYY')%></h6><br>
                      <p class="muted">(This is a Digital file and does not require signature)</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="float-right">
                      <p><b>Sub-total:</b> <a href="#" id="inline-amount3" data-type="text" data-pk="1" data-title="Enter amount">[$000.00]</a></p>
                      <h3><a href="#" id="inline-amount4" data-type="text" data-pk="1" data-title="Enter amount">[$000.00 USD]</a></h3>
                    </div>

                  </div>
                  <div class="hidden-print mt-4 mb-4">
                    <div class="text-right" style="padding-left:420px;">
                      <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Print</a>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="col-12">
                  <h6 style="text-align:center">
                    Fusion Information Technology Limited,</h6>
                    <p class="text-muted" style="text-align: center;">
                      Office 3, Albion House, 470 Church Lane, Kingsbury, Middlesex, London NW9, 8UA|
                      Contact No. +44.203.744.2190|
                      email - info@protasker.co.uk 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
      <% include ../footer.ejs %>
