<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="clearfix">
              <div class="pull-left mb-3">
                <img src="/assets/images/Fusion-Logo.png" alt="" height="40">
              </div>
            </div>
            <hr>
            <h3 align="center">INVOICE</h3>
            <br>
            <div class="row">
              <div class="col-6">
                <br>
                <h5>
                  To:<br>
                  Mr. Chris Frost<br>
                  COGS Agency<br>
                </h5>
              </div><!-- end col -->
              <div class="col-4 offset-2">

                <h5><strong>Number: </strong><br> <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter number">[ FE-Sol (LLC)/April/18/03]</a></h5>

              </div><!-- end col -->

              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table mt-4">
                    <thead>
                      <tr><th>#</th>
                        <th>Description</th>
                        <th>Cost</th>
                        <th class="text-right">Total</th>
                      </tr></thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a href="#" id="inline-firstname" data-type="text" data-pk="1" data-title="Enter description">[Charges T/W One FT Resource
                            Start/End Date: April 23, 2018 - May 22, 2018]</a>

                          </td>
                          <td><a href="#" id="inline-amount2" data-type="text" data-pk="1" data-title="Enter amount">[$000]</a></td>
                          <td class="text-right"><a href="#" id="inline-amount1" data-type="text" data-pk="1" data-title="Enter amount">[$000]</a></td>
                        </tr>
                        <tr>
                          <td>
                            <b>Amount in Words</b>
                          </td>

                          <td></td>
                          <td><a href="#" id="inline-amountwords" data-type="text" data-pk="1" data-title="Enter amount">[Amount in words]</a></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-6">
                  <div class="clearfix">
                    <h5>
                      <strong>Amount to be paid to : </strong>“Fusion E-Solutions LLC”<br>
                      <strong>Bank : </strong>Seacoast National Bank<br>
                      <strong>Bank Address : </strong>815, Colorado Avenue Stuart, FL 34994<br>
                      <strong>Account Number : </strong>4809087131<br>
                      <strong>Routing Number : </strong>067005158<br>
                    </h5><br>
                    <h6><a href="#" id="inline-username5" data-type="text" data-pk="1" data-title="Enter name">[Name]</a><br>
                      Billing Supervisor, FUSION<br>
                      Date : <%=moment().format('Do MMMM, YYYY')%></h6><br>
                      <p class="muted">(This is a Digital file and does not require signature)</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="float-right">
                      <p><b>Sub-total:</b> <a href="#" id="inline-amount3" data-type="text" data-pk="1" data-title="Enter amount">[$000.00]</a></p>
                      <h3><a href="#" id="inline-amount4" data-type="text" data-pk="1" data-title="Enter amount">[$000.00 USD]</a></h3>
                    </div>
                  </div>
                  <div class="hidden-print mt-4 mb-4">
                    <div class="text-right" style="padding-left:420px;">
                      <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Print</a>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="col-12">

                  <h6 style="text-align:center">
                    Fusion E-Solutions,</h6>
                    <p class="text-muted" style="text-align: center;">
                      Blumberg Excelsior Corporate Services,
                      155 Office Plaza Dr, 1st Fl.,
                      Tallahassee, FL – 32301
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
      <% include ../footer.ejs %>
