<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
              <h4 class="m-t-0 header-title">Billing</h4>

              <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                <thead class="thead-fusion">
                  <tr>
                    <th data-toggle="true"> Client name </th>
                    <th>Package</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Resources</th>
                    <th>Start Date</th>


                  </tr>
                </thead>
                <tbody>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  </tbody>
                </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
