<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <div class="clearfix">
              <div class="pull-left mb-3">
                <img src="/assets/images/Fusion-Logo.png" alt="" height="40">
              </div>
            </div>
            <hr>
            <h3 align="center">INVOICE</h3>
            <br>
            <div class="row">
              <div class="col-6">

                <h5>
                  To:<br>
                  Mr. Jehan Noon<br>
                  Noon Dalton LLP<br>
                  382 NE 191st St # 39393 <br>
                  Miami, FL 33179<br>
                </h5>


              </div><!-- end col -->
              <div class="col-4 offset-2">

                <h5><strong>Number: </strong><a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter number"> [FBSPL/APRIL/18/03] </a> </h5>

              </div><!-- end col -->

              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table mt-4">
                    <thead>
                      <tr><th>#</th>
                        <th>Description</th>
                        <th>Total</th>
                      </tr></thead>
                      <tbody>
                        <%let total = 0, count = 0;%>
                        <%billing.forEach((bill)=>{%>
                        <tr>
                          <td><%=++count%></td>
                          <td>Billing Period: <%=moment(bill.startDate).format('Do MMMM')%> to <%=moment().endOf('month').format('Do MMMM')%> - <%=bill.comments%>
                          </td>
                          <td><%=bill.prorated%></td>
                        </tr>
                        <%total = total + bill.prorated%>
                        <%})%>
                        <tr>
                          <td></td>
                          <td><b>Grand Total</b></td>
                          <td><b><%=total%></b></td>
                        </tr>
                        <!--<tr>
                          <td>
                            <b>Amount in Words</b>
                          </td>

                          <td></td>
                          <td><a href="#" id="inline-amountwords" data-type="text" data-pk="1" data-title="Enter amount">[Amount in words]</a></td>
                          <td></td>
                        </tr>-->
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-6">
                  <div class="clearfix">
                    <h5>
                      <strong>Amount to be paid to : </strong>“Fusion Business Solutions Pvt. Ltd.”<br>
                      <strong>Bank : </strong>Punjab National Bank, Udaipur, Rajasthan, India 313001<br>
                      <strong>Account Number : </strong>0458005500589968<br>
                    </h5><br>
                    <h6><a href="#" id="inline-username5" data-type="text" data-pk="1" data-title="Enter name">[Name]</a><br>
                      Billing Supervisor, FUSION<br>
                      Date: <%=moment().format('Do MMMM, YYYY')%></h6><br>
                      <p class="muted">(This is a Digital file and does not require signature)</p>

                    </div>

                  </div>
                  <!--
                  <div class="col-6">
                    <div class="float-right">
                      <p><b>Sub-total:</b><a href="#" id="inline-amount3" data-type="text" data-pk="1" data-title="Enter amount"> [$000.00]</a></p>
                      <h3><a href="#" id="inline-amount4" data-type="text" data-pk="1" data-title="Enter amount">[$000.00 USD]</a></h3>
                    </div>

                  </div>-->
                  <div class="hidden-print mt-4 mb-4">
                    <div class="text-right" style="padding-left:420px;">
                      <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Print</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
    <% include ../footer.ejs %>
