<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Master Billing Details</h4>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                    <tr>
                      <th>Client Name</th>
                      <th>FTE</th>
                      <th>Package Value</th>
                      <th>Billing Cycle Date</th>
                      <th>Billing Amount ($)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%let total = 0;%>
                    <%billing.forEach((bill)=>{%>
                      <%total = total + bill.prorated%>
                      <%let count = bill.resources;%>
                      <%if(bill.type == "Bonus" || bill.type == "Holiday Work Pay" || bill.type == "Holiday Discount" || bill.type == "Miscellaneous"){%>
                        <tr>
                          <td><%=bill.clientName%></td>
                          <td><%=bill.type%></td>
                          <td><%=bill.amount%></td>
                          <td><%=moment(bill.startDate).format('ll')%></td>
                          <td><%=bill.prorated%></td>
                        </tr>
                      <%} else {%>
                      <%if(bill.clientType == "Full Time"){%>
                        <%while(count > 0){%>
                        <tr>
                          <td><%=bill.clientName%></td>
                          <td>1</td>
                          <td><%=bill.amount%></td>
                          <td><%=moment(bill.startDate).format('ll')%></td>
                          <td><%=(bill.prorated)/bill.resources%></td>
                        </tr>
                        <%count = count - 1;%>
                        <%}%>
                      <%}%>
                      <%if(bill.clientType == "Half Time"){%>
                        <%while(count > 0){%>
                        <tr>
                          <td><%=bill.clientName%></td>
                          <td>0.5</td>
                          <td><%=bill.amount%></td>
                          <td><%=moment(bill.startDate).format('ll')%></td>
                          <td><%=(bill.prorated)/(bill.resources*2)%></td>
                        </tr>
                        <%count = count - 0.5;%>
                        <%}%>
                      <%}%>
                      <%}%>
                    <%})%>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total</td>
                      <td><%=total%></td>
                    </tr>
                  </tbody>
                  <a href="/acc/ND/invoice/<%=total%>" class="btn btn-danger">Generate Invoice</a><br>

                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
