<!-- Top Bar Start -->
<div class="topbar">

    <nav class="navbar-custom">

        <ul class="list-unstyled topbar-right-menu float-right mb-0">

            <li class="hide-phone app-search">
                <form>
                    <input type="text" placeholder="Search..." class="form-control">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>





            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user" class="rounded-circle"> <span class="ml-1"><%= user.name %> <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">


                    <!-- item-->
                    <a href="/profile" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i> <span>My Profile</span>
                    </a>

                    <!-- item-->
                    <a href="/profile/edit" class="dropdown-item notify-item">
                        <i class="fi-cog"></i> <span>Update Profile</span>
                    </a>

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fa fa-bell"></i> <span>Support</span>
                    </a>



                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fi-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left disable-btn">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
            <li>
                <div class="page-title-box">
                    <h4 class="page-title">Accounts Dashboard </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Welcome to Fusion CRM Dashboard</li>
                    </ol>
                </div>
            </li>

        </ul>

    </nav>

</div>
<!-- Top Bar End -->
