

<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
   <div class="content-page">
       <% include ../topbar.ejs %>
          <div class="container-fluid">
             <div class="card-block">
                 <div class="account-box">



<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>SECTION 1</b></h4>


            <form id="wizard-vertical">
                <h3> DAILY BAU (BUSINESS AS USUAL)</h3>
                <section>

                    <div class="row">
                         <h4>Current Day’s Planning</h4>

                        <ol>
                            <li>
                                    Report to office at least 5 minutes before the start of shift time. For e.g. If the shift starting time is 9.00
                                    AM, then report to the office at 8.55 AM. Send the sign in email at sharp 9.00 AM and sign out email
                                    post the completion of daily assignments.
                            </li>
                            <li>
                                    Ensure that you stick to the stipulated break timings.
                            </li>
                            <li>
                                    Ensure the submission of a task well on time or before the deadline and giving 100% quality.
                            </li>
                            <li>
                                    Track yesterday’s/pending task status.
                            </li>
                        </ol>
                    </div>
                    <div class="row ">
                            <h4 > QA / Quality Management</h4>

                           <ol>
                               <li>
                                    Adhere to best practices, standards operating procedures in maintaining and assuring quality.
                               </li>
                               <li>
                                    Seek monthly feedback from clients/ATL and take appropriate corrective & preventive measures to
                                    ensure quality services.
                                 </li>
                               <li>
                                    Report preparation & documentation on client’s understanding to be sent to TL on a weekly basis.
                           </ol>
                       </div>

                    <div class="form-group clearfix">
                        <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                        <div class="">
                            <textarea class="form-control">

                            </textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                            <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                            <div class="">
                                <textarea class="form-control">

                                </textarea>
                            </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label ">(*) Mandatory</label>
                    </div>
                </section>

                <h3> CLIENT FIRST</h3>
                <section>

                        <div class="row">
                                <h4>Client First</h4>

                               <ol>
                                   <li>
                                        Ensure positive feedback is received by building an effective long-term relationship with clients.
                                   </li>
                                   <li>
                                        Be proactive and ask for the new/additional task from the client on a regular basis. </li>
                                   <li>
                                        In the absence of any task from the client, proactively report that to ATL and TL and seek to learn/do
                                        tasks of other clients. </li>
                                   <li>
                                        For Non-responsive clients or the clients who are unpredictable in delegating tasks, a suggestive task
                                        list has to be submitted or discussed which can be ongoing in nature.
                                   </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1"> Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                                </div>

                </section>

                <h3> CONTROLS</h3>
                <section>
           <div class="row">
                                <h4>Controls</h4>

                                 <ol>
                                   <li>
                                        Update the Standard Operating Procedures (SOP) / Process documents on a weekly basis.
                                 </li>
                                   <li>
                                        Awareness of relevant risk/compliance/regulatory policies.
                                    <li>
                                            To complete all mandatory/assigned training programs in the quarter/year. </li>
                                   <li>
                                        Ensure volumes/work status are captured accurately in web metrics (Tick) tool daily.
                                </li>
                                <li>
                                    Be a backup for at least 2 more clients.
                                </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>
                <h3>  PEOPLE</h3>
                <section>

                        <div class="row">
                                <h4>People</h4>


                                 <ol>
                                   <li>
                                        Ensure minimum unplanned absenteeism.      </li>
                                   <li>
                                        Follow the WE approach instead of I approach by sharing knowledge and ideas with the team.
                                     </li>
                                        <li>
                                                Participate in as well as initiate team activities, to share information and cooperate in order to improve
                                                interaction with the team members. </li>
                                   <li>
                                        Participate in Fusion (non BAU) initiatives E.g. Peoples committee, offsite, fun events, etc.
                                </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>

                <h3>  TRAINING</h3>
                <section>

                        <div class="row">
                                <h4>TRAINING</h4>


                                 <ol>
                                   <li>
                                        To identify and communicate training needs to the Team Leader.
                                    </li>
                                   <li>
                                        To ensure 100% attendance in all the training.
                                     </li>
                                        <li>
                                                Ensure that assigned training is completed in line with the training calendar given by Learning and
                                                Development Cell (LNDC-functional and soft skills). </li>
                                   <li>
                                        Ensure cross-training on other clients/process & sharing of best practices within the team.   </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>

                <h3>  PRODUCTIVITY</h3>
                <section>

                        <div class="row">
                                <h4>PRODUCTIVITY</h4>


                                 <ol>
                                   <li>
                                        To suggest at least 2 Business Process Improvement (BPIs)/Client handling improvement/QA
improvement (Cost & Control) idea during the quarter.
                                    </li>
                                   <li>
                                        Contribution through stretch assignments & Business as Usual (BAU).
                                     </li>

                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>
            </form>
            <!-- End #wizard-vertical -->
        </div>
    </div>
</div><!-- End row -->







</div>
</div>

</div>


<% include footer-dash-copyright.ejs %>
<!-- copyright footer on dashboard -->
<!-- content-page div close -->
</div>
<% include ../footer.ejs %>
