
<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
   <div class="content-page">
       <% include ../topbar.ejs %>
          <div class="container-fluid">
             <div class="card-block">
                 <div class="account-box">



<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>SECTION 1</b></h4>


            <form id="wizard-vertical">
                <h3> DAILY BAU (BUSINESS AS USUAL)</h3>
                <section>

                    <div class="row">
                         <h4>Current Day’s Planning, Team Handling and Communication</h4>

                        <ol>
                                <li>Ensure all Associates report to office 5 minutes before the start of shift time.

                                    </li>
                            <li>Ensure all Associates do appropriate and timely sign in, sign out and task reporting.

                            </li>
                            <li>
                                    Ensure that all Associates follow stipulated break timings.
                            </li>
                            <li>
                                   To understand the requirements of clients & explain it to team members and identify ways in which
the pool can meet them.
                            </li>
                            <li>
                                    Ensuring submission of a task well on time or before the deadline and giving 100% quality

                            </li>
                            <li>
                                    Ensure proper communication among Team Members & Clients.
                            </li>
                            <li>
                                    Manage Peer to Peer partnership and relationship.
                            </li>
                            <li>
                                    Tracking yesterday’s/pending task status.
                            </li>
                            <li>
                                    Ensure timely escalation of any client issue to Team Lead and proactive issue tracking and resolution
                       of client issues.

                            </li>


                        </ol>
                    </div>
                    <div class="row ">
                            <h4 >Reporting</h4>

                           <ol>
                               <li>
                                    Ensure that you summarize every day’s work and report to your Team Lead in an email/Google docs
                               </li>
                               <li>
                                    Weekly reporting should show facts and figures with supporting graphs and charts.

                                 </li>
                               <li>
                                    Keeping track of late coming, leaves and absenteeism and reporting the same to manager & HR.
                                </li>
                                <li>
                                        Report any requirements related to HR or IT-Network or any other support function to Team Lead.
                                    </li>
                                    <li>
                                            Monthly team performance dashboard presentation to Team Lead and Manager.
                                           </li>

                           </ol>
                       </div>
                    <div class="row ">
                            <h4 > QA / Quality Management</h4>

                           <ol>
                               <li>
                                    Overall QA score of the pool will reflect on your performance. Time devoted to QA will be observed.
How many clients you cover under QA and if QA is done on a regular basis or not.

                               </li>
                               <li>
                                    Monthly feedback from clients on quality assurance of services.

                                 </li>
                               <li>
                                    Daily reporting of QA to Team Lead.
                                    <li>
                                            Monthly feedback from clients on quality assurance of services.
                                  </li>
                                  <li>
                                        Initiate and establish quality assurance standards conforming to client needs.
   </li>

                           </ol>
                       </div>
                       <div class="row ">
                            <h4 > Business/Client Knowledge</h4>

                           <ol>
                               <li>
                                    Should possess working knowledge of all the clients assigned. Must know what projects are currently
running, what are on hold and the nature of the projects the team is handling.</li>
                               <li>
                                    US/UK Client Calling: Taking effective client call during onboardings and training. In the absence of
interaction with clients, doing trial calls with different customer support executives and recording
them for review. At least 3-4 client/customer care call recordings per week for Manager’s review.
                                 </li>


                           </ol>
                       </div>

                    <div class="form-group clearfix">
                        <label class="control-label " for="userName1">Employee's Accomplishments (Self-Assessment)*</label>
                        <div class="">
                            <textarea class="form-control">

                            </textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                            <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                            <div class="">
                                <textarea class="form-control">

                                </textarea>
                            </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label ">(*) Mandatory</label>
                    </div>
                </section>

                <h3> CLIENT FIRST</h3>
                <section>

                        <div class="row">
                                <h4>Client First</h4>

                               <ol>
                                   <li>
                                        In the absence of task from any client, proactively reach out to the client for additional task request

                                   </li>
                                   <li>
                                        For non-responsive clients or the clients who are unpredictable in delegating tasks, a suggestive task
list has to be submitted or discussed which can be ongoing in nature. </li>
                                   <li>
                                        Ensure positive feedback is received by building an effective long-term relationship with all the
assigned clients. Track each and every positive and negative responses received from the client. </li>
                                   <li>
                                        Overall performance will depend on a number of clients and employees retained every month.
                                   </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1"> Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                                </div>

                </section>

                <h3> CONTROLS</h3>
                <section>
           <div class="row">
                                <h4>Controls</h4>

                                 <ol>
                                   <li>
                                        Audit and ensure that the pool is updating the Standard Operating Procedures on a weekly basis.
                                 </li>
                                   <li>
                                        Awareness and implementation of relevant risk/compliance/regulatory policies for all the clients.
                                    <li>
                                            Ensure team volumes/work status are captured accurately in web metrics (Tick) tool daily. </li>
                                   <li>
                                        Audit and ensure that for every client, there are at least 2 backups and ATLs are backup for the
                                        respective pools.

                                </li>
                                <li>
                                        Audit and ensure that for every client, there are at least 2 backups and be a backup for the respective
                                        pools.

                                </li>
                                <li>
                                        Ensure production diversification across department & cross department training.
                                </li>
                                <li>
                                        Audit 1 client every week from the other pool and share the feedback with Team Lead.
                                </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>
                <h3>  PEOPLE</h3>
                <section>

                        <div class="row">
                                <h4>People</h4>


                                 <ol>
                                   <li>
                                        Ensure minimum unplanned absenteeism in the pool.
                                    </li>
                                   <li>
                                        Follow the ‘WE’ approach instead of the ‘I’ approach by sharing knowledge and ideas with the team.
                                     </li>
                                        <li>
                                                Participate in Fusion (nonBAU) initiatives E.g. Peoples committee, offsite, fun events, etc. </li>
                                   <li>
                                        To find out and initiate new fun activities which help in keeping teams together and motivate them to
                                        be a part of your pool.
                                </li>
                                <li>
                                        Contribute towards the team’s performance in the “Best team in the quarter” program.

                                </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>

                <h3>  TRAINING</h3>
                <section>

                        <div class="row">
                                <h4>TRAINING</h4>


                                 <ol>
                                   <li>
                                        Design and implement a process to provide training to new/existing team members using
                                        documentation/multimedia or any other medium. Effective implementation of such process and the
                                        outcome need to be tracked, measured and reported to Team Lead.
                                         </li>
                                   <li>
                                        Training must include current client’s projects and regard any new system/software/tools/ personality
development/improving communication skill etc.
                                     </li>
                                        <li>
                                                Conduct weekly training sessions with members of the other pool on process improvement. </li>
                                   <li>
                                        Identify and assign training to team members and ensure 100% attendance in all the training.

                                       </li>
                                       <li>
                                            Ensure cross-training & sharing of best practices (process related) within the team and across depts.
                                       </li>
                                       <li>
                                            Communicate effectively & professionally, responsive to queries and requests.
                                     </li>
                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>

                <h3>  PRODUCTIVITY</h3>
                <section>

                        <div class="row">
                                <h4>PRODUCTIVITY</h4>


                                 <ol>
                                   <li>
                                        To implement at least 2 Business Process Improvements(BPIs), 2 client handling improvement and 2
QA improvement ideas during the quarter.
                                    </li>
                                   <li>
                                        Contribute to Production & Quality objectives set for your department.
                                     </li>
                                     <li>
                                            Ensure that team members learn the entire process with 100% accuracy.
                                         </li>
                                        <li> Proactively identify and set up a new process/ system/ activities (work and non-work related).
                                            </li>
                                            <li>
                                                    Contribution through stretch assignments & Business As Usual (BAU).

                                            </li>

                               </ol>

                           </div>
                           <div class="form-group clearfix">
                                <label class="control-label " for="userName1">Employee'sAccomplishments (Self-Assessment)*</label>
                                <div class="">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label class="control-label " for="userName1">Appraiser’s Comments*</label>
                                    <div class="">
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                             </div>

                </section>
            </form>
            <!-- End #wizard-vertical -->
        </div>
    </div>
</div><!-- End row -->





</div>
</div>

</div>


<% include footer-dash-copyright.ejs %>
<!-- copyright footer on dashboard -->
<!-- content-page div close -->
</div>
<% include ../footer.ejs %>
