<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <div class="card-box">
            <h2 class="m-t-0 header-title">Noon Dalton Billing Update</h2>
            <% if (messageError.length > 0) { %>
                <div class="alert alert-danger"><%= messageError %></div>
            <% } %>
            <% if (messageSuccess.length > 0) { %>
                <div class="alert alert-success"><%= messageSuccess %></div>
            <% } %>
            <div class="row">
              <div class="col-12">
                <div class="p-20">
                  <form class="form-horizontal" role="form" method="post" action="/ve/ND/billing/add">

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Client Name <span class="text-danger">*</span></label>
                      <div class="col-12">
                        <select class="form-control" name="clientId" id="name">
                            <%fusionClient.forEach((client)=>{%>
                              <option value="<%=client._id%>"><%=client.name%></option>
                            <%})%>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-12 col-form-label" for="example-email">Type</label>
                          <div class="col-12">
                            <select class="form-control" id="typeofclient" name="type">
                              <option value="New Client">New Client</option>
                              <option value="Additional Staff">Additional Staff</option>
                              <option value="Subtract Staff">Subtract Staff</option>
                              <option value="Bonus">Bonus</option>
                              <option value="Restart">Restart</option>
                              <option value="Paused">Paused</option>
                              <option value="Cancelled">Cancelled</option>
                              <option value="Other">Other</option>
                              <option value="Holiday Work Pay">Holiday Work Pay</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name">Select Package</label>
                          <select class="form-control select2" name="packageId">
                            <option>Select</option>
                              <%package.forEach((pack)=>{%>
                                  <option value="<%=pack._id%>"><%=pack.code%> <%=pack.title%></option>
                                  <%})%>
                                  </select>
                                </div>
                                <div class="form-group col-md-03">
                                  <label for="position">Customization Type</label>
                                  <select class="custom-select" id="package_custom_type" name="discount">
                                    <option value="None">None</option>
                                    <option value="DI">Discount</option>
                                    <option value="FP">Flat Price</option>
                                  </select>
                                </div>
                                <div class="form-group" id="package_custom_type_discount">
                                  <label for="company">Discount %</label>
                                  <input type="text" name="percent" class="form-control" id="company" placeholder="20%" >
                                </div>
                                <div class="form-group"id="package_custom_type_flatprice">
                                  <label for="exampleInputEmail1">Flat Price</label>
                                  <input type="email" name="flat" class="form-control" id="exampleInputEmail1" placeholder="$100" >
                                </div>
                                <div class="form-group row">
                                  <label class="col-12 col-form-label">Number of Resource</label>
                                  <div class="col-12">
                                    <input type="number" name="resources" class="form-control" placeholder="No Of Resources">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-12 col-form-label">Start Date</label>
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input type="date" name="startDate" class="form-control" placeholder="mm/dd/yyyy">
                                      <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row" id="cancelclient">
                                  <label class="col-12 col-form-label"> Lost Reason (If Applicable) </label>
                                  <label class="col-12 col-form-label">In case of client lost or downsize - Please paste the client's email here if available or mention the summary if cancellation is discussed over the call.</label>
                                  <div class="col-12">
                                    <textarea class="form-control" name="description"></textarea>
                                  </div>
                                </div>
                                <div class="form-group row" id="cancelclient1">
                                  <label class="col-12 col-form-label">End Date</label>
                                  <div class="col-12">
                                    <div class="input-group">
                                      <input type="date" name="endDate" class="form-control" placeholder="mm/dd/yyyy" >
                                      <div class="input-group-append">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-12 col-form-label">Additional Comments</label>
                                  <div class="col-12">
                                    <textarea class="form-control" name="comments"></textarea>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-12 col-form-label">Done By</label>
                                  <div class="col-12">
                                    <input type="text" name="doneBy" class="form-control" readonly value="<%=user.name%>">
                                  </div>
                                </div>
                                <div class="form-group text-right m-b-0">
                                  <input type="submit" class="btn btn-primary">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!-- end row -->
                      </div> <!-- end card-box -->
                    </div><!-- end col -->
                    <div class="col-lg-3"></div>

                  </div>

                </div>

              </div>
              <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
              <!-- content-page div close -->
            </div>
            <% include ../footer.ejs %>
            <script>

            $('#cancelclient').hide();
            $("#cancelclient1").hide();
            $('#typeofclient').on('change', function() {
              if ( this.value == 'Cancelled')
              {
                $("#cancelclient").show();
                $("#cancelclient1").show();

              }
              else
              {
                $("#cancelclient").hide();
                $("#cancelclient1").hide();
              }
            });


          </script>
