
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="https://hostmud.com/wp-content/uploads/2017/10/logo.png" alt="" height="20">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted">Employee</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->

                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Client Billing </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ve/fusion/billing/add">Fusion Billing</a></li>
                            <li><a href="/ve/ND/billing/add">Noon Dalton Billing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-font-awesome"></i> <span> PMS </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ve/pms/score">Add Score</a></li>
                            <li><a href="/ve/pms/plan">Add Plan</a></li>
                            <li><a href="/ve/pms/report">View Report</a></li>
                        </ul>

                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-box"></i><span> Client Information </span> <span class="menu-arrow"></span></a>

                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Virtual Employee </span> <span class="menu-arrow"></span></a>

                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-bell"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
                    </li>

                    <%include ../commonsidebar.ejs%>







                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
