<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
  <div class="container-fluid">
    <div class="card-block">
      <div class="account-box">
        <div class="row">

          <div class="col-lg-12">

            <div class="card-box">
              <h4 class="header-title m-t-0">Pms Form</h4>


              <form action="/ve/pms/score" method="post">

                <div class="form-group">
                  <label for="pass1">Quarter <span class="text-danger">*</span></label>
                  <select class="form-control" name="quarter" id="quarter" required>
                    <option value="jm">JUN-AUG</option>
                    <option value="aj">SEP-NOV</option>
                    <option value="js">DEC-FEB</option>
                    <option value="od">MAR-MAY</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Date <span class="text-danger">*</span></label>
                  <div>
                    <div class="input-group">
                      <input type="date" class="form-control" value="<%=moment(Date.now()).format('YYYY-MM-DD')%>" name="date" required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Name <span class="text-danger">*</span></label>
                  <select class="form-control" name="name" id="name" required>
                    <optgroup label="Trainee Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Trainee Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Senior Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Senior Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Team Leads">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Team Lead"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Managers">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Manager  VA Operations"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label for="userName">Email Address of employee (FusionFirst Email Only) <span class="text-danger">*</span></label>
                  <input type="email" name="email" id="email" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label for="userName">Emp ID <span class="text-danger">*</span></label>
                  <input type="text" name="empId" id="empId" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label for="userName">Team Name <span class="text-danger">*</span></label>
                  <input type="text" name="team" id="team" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label for="pass1">Parameter Impacted <span class="text-danger">*</span></label>
                  <select class="form-control" name="parameter" id="parameter">
                    <option value="On Time Delivery">On Time Delivery</option>
                    <option value="QA">Error Free Delivery (QA Score)</option>
                    <option value="Client Feedback">Client Feedback</option>
                    <option value="Client Retention">Client Retention</option>
                  </select>
                </div>
                <div id="qa">
                  <div class="form-group">
                    <label for="userName">Total Entries <span class="text-danger">*</span></label>
                    <input type="number" name="entriesTotal" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userName">Sample Entries <span class="text-danger">*</span></label>
                    <input type="number" name="entriesSample" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userName">Qualified Entries <span class="text-danger">*</span></label>
                    <input type="number" name="entriesQualified" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userName">Disqualified Entries <span class="text-danger">*</span></label>
                    <input type="number" name="entriesDisqualified" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userName">N/A Entries <span class="text-danger">*</span></label>
                    <input type="number" name="entriesNA" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="userName">QA Score <span class="text-danger">*</span></label>
                    <input type="number" name="qa" class="form-control">
                  </div>
                </div>
                <div class="form-group" id="otd">
                  <label for="pass1">Work Delivered on time? <span class="text-danger">*</span></label>
                  <input type="radio" name="otd" value="true" class="form-control"> Yes
                  <input type="radio" name="otd" value="false" class="form-control"> No
                </div>
                <div class="form-group" id="cf">
                  <label for="pass1">Client Feedback Type <span class="text-danger">*</span></label>
                  <input type="radio" name="cf" value="true" class="form-control"> Positive
                  <input type="radio" name="cf" value="false" class="form-control"> Negative
                </div>
                <div class="form-group">
                  <label for="userName">Score <span class="text-danger">*</span></label>
                  <input type="number" name="score" id="score" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label for="details">Feedback <span class="text-danger">*</span></label>
                  <textarea name="feedback" id="feedback" class="form-control"></textarea>
                </div>
                <div class="form-group text-right m-b-0">
                  <button class="btn btn-custom waves-effect waves-light" type="submit">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-light waves-effect m-l-5">
                    Cancel
                  </button>
                </div>

              </form>
            </div> <!-- end card-box -->
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>


  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>

<script type="text/javascript">
$("#name").change(()=>{
  $.get("/employee/" + $("#name").val(),(employee,status)=>{
    $("#email").val(employee.email)
    $("#empId").val(employee.empId)
    $("#team").val(employee.team)
  });
});

$("#otd").show();
$("#qa").hide();
$("#cf").hide();

$('#parameter').change(function(){
  if($(this).val() == 'On Time Delivery')
  {
    $('#otd').show();
    $("#qa").hide();
    $("#cf").hide();
  }
  else if($(this).val() == 'QA'){
    $("#otd").hide();
    $("#qa").show();
    $("#cf").hide();
  }
  else if($(this).val() == 'Client Feedback'){
    $("#otd").hide();
    $("#qa").hide();
    $("#cf").show();
  }
  else{
    $("#otd").hide();
    $("#qa").hide();
    $("#cf").hide();
    $("#score").val(-20)
  }
})

$("input[name='otd']").change(function(){
  if($(this).val() == "true"){
    $("#score").val(1)
  }
  else {
    $("#score").val(0)
  }
})

$("input[name='qa']").change(function(){
  $("#score").val($(this).val())
})

$("input[name='cf']").change(function(){
  if($(this).val() == "true"){
    $("#score").val(1)
  }
  else {
    $("#score").val(-1)
  }
})

</script>
