<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
  <div class="container-fluid">
    <div class="card-block">
      <div class="account-box">
        <div class="row">

          <div class="col-lg-12">

            <div class="card-box">
              <h4 class="header-title m-t-0">Pms Form</h4>


              <form action="/ve/pms/plan" method="post">

                <div class="form-group">
                  <label for="pass1">Quarter <span class="text-danger">*</span></label>
                  <select class="form-control" name="quarter" id="quarter" required>
                    <option value="jm">JUN-AUG</option>
                    <option value="aj">SEP-NOV</option>
                    <option value="js">DEC-FEB</option>
                    <option value="od">MAR-MAY</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Date <span class="text-danger">*</span></label>
                  <div>
                    <div class="input-group">
                      <input type="date" class="form-control" value="<%=moment(Date.now()).format('YYYY-MM-DD')%>" name="date" required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Name <span class="text-danger">*</span></label>
                  <select class="form-control" name="name" id="name" required>
                    <optgroup label="Trainee Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Trainee Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Senior Associates">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Senior Associate"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Team Leads">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Team Lead"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                    <optgroup label="Managers">
                      <% employee.forEach(function(emp){%>
                        <%if(emp.department == "VA" && emp.designation == "Manager  VA Operations"){%>
                          <option value="<%=emp.empId%>"><%=emp.name%></option>
                        <%}%>
                      <%})%>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label for="userName">Email Address of employee (FusionFirst Email Only) <span class="text-danger">*</span></label>
                  <input type="email" name="email" id="email" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label for="userName">Emp ID <span class="text-danger">*</span></label>
                  <input type="text" name="empId" id="empId" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label for="userName">Team Name <span class="text-danger">*</span></label>
                  <input type="text" name="team" id="team" readonly class="form-control">
                </div>

                <h4 class="header-title m-t-0">Performance Planning</h4>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="details">Team Leads Comments on Existing Level of Achievement on Parameters in Current Quarter <span class="text-danger">*</span></label>
                    <textarea name="existing" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="details">Team Leads Comments on Expected Level of Achievement on Parameters in Next Quarter <span class="text-danger">*</span></label>
                    <textarea name="expected" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="details">Comments By VA <span class="text-danger">*</span></label>
                  <textarea name="VAComments" class="form-control"></textarea>
                </div>

                <h4 class="header-title m-t-0">Development Plan</h4>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="details">Development Areas Identified by VA <span class="text-danger">*</span></label>
                    <textarea name="developmentVA" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="details">Development Areas Identified by TL <span class="text-danger">*</span></label>
                    <textarea name="developmentTL" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="details">Action Plan <span class="text-danger">*</span></label>
                    <textarea name="actionPlan" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group text-right m-b-0">
                  <button class="btn btn-custom waves-effect waves-light" type="submit">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-light waves-effect m-l-5">
                    Cancel
                  </button>
                </div>

              </form>
            </div> <!-- end card-box -->
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>


  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>

<script type="text/javascript">
$("#name").change(()=>{
  $.get("/employee/" + $("#name").val(),(employee,status)=>{
    $("#email").val(employee.email)
    $("#empId").val(employee.empId)
    $("#team").val(employee.team)
  });
});

</script>
