<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="container-fluid">
    <div class="content">
      <div class="card-block">
        <div class="account-box">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-box">
                <form action="/ve/pms/report/2017-2018" method="post" class="form-horizontal" role="form">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label class="col-form-label">Name</label>
                      <select class="form-control" name="name" id="name">
                        <optgroup label="Trainee Associates">
                          <% employee.forEach(function(emp){%>
                            <%if(emp.department == "VA" && emp.designation == "Trainee Associate"){%>
                              <option value="<%=emp.name%>"><%=emp.name%></option>
                              <%}%>
                              <%})%>
                            </optgroup>
                            <optgroup label="Associates">
                              <% employee.forEach(function(emp){%>
                                <%if(emp.department == "VA" && emp.designation == "Associate"){%>
                                  <option value="<%=emp.name%>"><%=emp.name%></option>
                                  <%}%>
                                  <%})%>
                                </optgroup>
                                <optgroup label="Senior Associates">
                                  <% employee.forEach(function(emp){%>
                                    <%if(emp.department == "VA" && emp.designation == "Senior Associate"){%>
                                      <option value="<%=emp.name%>"><%=emp.name%></option>
                                      <%}%>
                                      <%})%>
                                    </optgroup>
                                    <optgroup label="Team Leads">
                                      <% employee.forEach(function(emp){%>
                                        <%if(emp.department == "VA" && emp.designation == "Team Lead"){%>
                                          <option value="<%=emp.name%>"><%=emp.name%></option>
                                          <%}%>
                                          <%})%>
                                        </optgroup>
                                        <optgroup label="Managers">
                                          <% employee.forEach(function(emp){%>
                                            <%if(emp.department == "VA" && emp.designation == "Manager  VA Operations"){%>
                                              <option value="<%=emp.name%>"><%=emp.name%></option>
                                              <%}%>
                                              <%})%>
                                            </optgroup>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputEmail4" class="col-form-label">Quarter</label>
                                          <select class="form-control" name="quarter">
                                            <option value="JUN-AUG">June-August</option>
                                            <option value="SEP-NOV">September-November</option>
                                            <option value="DEC-FEB">December-February</option>
                                            <option value="MAR-MAY">March-May</option>
                                            <option value="all">Complete Year</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="inputEmail4" class="col-form-label">Year</label>
                                          <select class="form-control" name="year">
                                            <option value="2017-2018">2017-2018</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group text-right m-b-0">
                                        <button class="btn btn-custom waves-effect waves-light" type="submit">
                                          Search
                                        </button>
                                        <button type="reset" class="btn btn-light waves-effect m-l-5">
                                          Cancel
                                        </button>
                                      </div>
                                    </div>
                                  </form>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <% include footer-dash-copyright.ejs %>
                  <!-- copyright footer on dashboard -->
                  <!-- content-page div close -->
                </div>
                <% include ../footer.ejs %>
