<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="container-fluid">
    <div class="card-block">
      <div class="account-box">
        <div class="row">
          <div class="col-12">
            <div class="card-box ribbon-box">
              <p><div class="ribbon ribbon-success">VA Details</div></p>
              <h4 class="m-t-0 ">PMS Report</h4>

              <div class="row">
                <div class="col-12">
                  <form class="form-horizontal" role="form">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Name</label>
                        <input type="text" class="form-control" value="<%=employee.name%>">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="col-form-label">Employee ID</label>
                        <input type="text" class="form-control" id="empId" value="<%=employee.empId%>">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Email Id</label>
                        <input type="text" class="form-control" value="<%=employee.email%>">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="col-form-label">Quarter</label>
                        <input type="text" class="form-control" value="<%=quarter%>">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Client</label>
                        <input type="text" class="form-control" value="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="col-form-label">Since</label>
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Name of Team Lead</label>
                        <input type="text" class="form-control" id="nameTL" value="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="col-form-label">Team Lead Employee ID</label>
                        <input type="text" class="form-control" id="empIdTL" value="">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="col-form-label">Name of Manager</label>
                        <input type="text" class="form-control" id="nameManager" value="">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="col-form-label">Manager Employee ID</label>
                        <input type="text" class="form-control" id="empIdManager" value="">
                      </div>
                    </div>
                  </form>
                </div>

              </div>
              <!-- end row -->
            </div> <!-- end card-box -->
          </div><!-- end col -->
        </div>
        <% if(data.length <= 0 && attendance == null){%>
          <h1><center>No Data Found</center></h1>
        <%} else {%>
        <div class="row">
          <div class="col-12">
            <div class="card-box ribbon-box">
              <p><div class="ribbon ribbon-info">PART A: SYSTEM AND PROCESS</div></p>
              <h4 class="m-t-0">PMS Report</h4>
              <div class="row">
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Parameters</th>
                        <th><a id="toggleOTD">On Time Delivery</th>
                        <th><a id="toggleQA">Error Free Delivery</th>
                        <th><a id="toggleCF">Client Feedback</a></th>
                        <th><a id="toggleAttendance">Attendance</a></th>
                        <th><a id="togglePunctuality">Punctuality</a></th>
                        <th><a id="toggleCR">Client Retention</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Calculation</th>
                        <td>
                          <%let otd = 0,counter = 0, otdScore = 0;
                            data.forEach((da)=>{
                              if(da.parameter == "On Time Delivery"){
                                otd = otd + da.score;
                                counter = counter + 1;
                              }
                            })
                            otd = (otd/counter)*100;
                          if(otd == 100){
                            otdScore = 20;
                          }
                          else if(otd >=95){
                            otdScore = 15;
                          }
                          else if(otd>=90){
                            otdScore = 10;
                          }
                          else if(otd>=85){
                            otdScore = 5;
                          }
                          else if(otd>=80){
                            otdScore = 2;
                          }
                          else{
                            otdScore = 0;
                          }%>
                          <%=(otd).toFixed(2)%>
                        </td>
                        <td>
                          <%let qa = 0,count = 0, qaScore = 0;
                            data.forEach((da)=>{
                              if(da.parameter == "QA"){
                                qa = qa + da.score;
                                count = count + 1;
                              }
                            })
                            qa = (qa/count);
                          if(qa == 100){
                            qaScore = 20;
                          }
                          else if(qa >=95){
                            qaScore = 15;
                          }
                          else if(qa>=90){
                            qaScore = 10;
                          }
                          else if(qa>=85){
                            qaScore = 5;
                          }
                          else if(qa>=80){
                            qaScore = 2;
                          }
                          else{
                            qaScore = 0;
                          }%>
                          <%=(qa).toFixed(2)%>
                        </td>
                        <td>
                          <%let cfScore = 10, countCf = 0;
                            data.forEach((da)=>{
                              if(da.parameter == "Client Feedback"){
                                cfScore = cfScore + da.score;
                                countCf = countCf + 1;
                              }
                            })
                            if(cfScore > 20){
                              cfScore = 20;
                            }
                            if(cfScore < 0){
                              cfScore = 0;
                            }
                          %>
                          <%=countCf%> Entries
                        </td>
                        <td>
                          <%let attn = 0, attnScore = 0, prScore = 0;
                            count = 0;

                            attn = attendance.attendance;
                            if(attn == 100){
                              attnScore = 10;
                            }
                            else if(attn >=95){
                              attnScore = 8;
                            }
                            else if(attn>=90){
                              attnScore = 6;
                            }
                            else if(attn>=85){
                              attnScore = 4;
                            }
                            else if(attn>=80){
                              attnScore = 2;
                            }
                            else{
                              attnScore = 0;
                            }%>
                            <%=(attn).toFixed(2)%>
                          %>
                        </td>
                        <td>
                          <%let pun = 0, punScore = 0, lateScore = 0;
                            count = 0;
                            %>
                            NaN
                          %>
                        </td>
                        <td>
                          <%let crScore = 20, countCr = 0;
                            data.forEach((da)=>{
                              if(da.parameter == "Client Retention"){
                                crScore = crScore + da.score;
                                countCr = countCr + 1;
                              }
                            })
                          %>
                          <%=countCr%> Entries
                        </td>
                        <td>
                          <%
                            let total = 0;
                            total = otdScore + qaScore + cfScore + attnScore + punScore + crScore;
                          %>
                        </td>
                      </tr>
                      <tr>
                        <th>Scores</th>
                        <td><%=otdScore%>/20</td>
                        <td><%=qaScore%>/20</td>
                        <td><%=cfScore%>/20</td>
                        <td><%=attnScore%>/10</td>
                        <td><%=punScore%>/10</td>
                        <td><%=crScore%>/20</td>
                        <td><%=total%>/100</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="otd">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="custom-modal-title">On Time Delivery</h4>
              <div class="custom-modal-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Delivered on time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      count = 0;
                      data.forEach((otd)=>{
                      if(otd.parameter == "On Time Delivery"){
                      count = count + 1;
                      %>
                        <tr>
                          <th><%=count%></th>
                          <th><%=moment(otd.date).format("DD-MM-YYYY")%></th>
                          <td><%=otd.score%></td>
                        </tr>
                      <%}
                    })%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="qa">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="custom-modal-title">QA Description</h4>
              <div class="custom-modal-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Client</th>
                      <th>Total Entries</th>
                      <th>Sample Entries</th>
                      <th>Qualified</th>
                      <th>Disqualified</th>
                      <th>N/A</th>
                      <th>Score</th>
                      <th>Done By</th>
                      <th>Quarter</th>
                      <th>Year</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      count = 0;
                      data.forEach((qa)=>{
                      if(qa.parameter == "QA"){
                      count = count + 1;
                      %>
                        <tr>
                          <th><%=count%></th>
                          <th><%=moment(qa.date).format("DD-MM-YYYY")%></th>
                          <td><%=qa.client%></td>
                          <td><%=qa.entriesTotal%></td>
                          <td><%=qa.entriesSample%></td>
                          <td><%=qa.entriesQualified%></td>
                          <td><%=qa.entriesDisqualified%></td>
                          <td><%=qa.entriesNA%></td>
                          <td><%=qa.score%></td>
                          <td><%=qa.doneBy%></td>
                          <td><%=qa.quarter%></td>
                          <td><%=qa.year%></td>
                        </tr>
                      <%}
                    })%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="cf">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="custom-modal-title">Client Feedback</h4>
              <div class="custom-modal-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Feedback</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      count = 0;
                      data.forEach((cf)=>{
                      if(cf.parameter == "Client Feedback"){
                      count = count + 1;
                      %>
                        <tr>
                          <th><%=count%></th>
                          <th><%=moment(cf.date).format("DD-MM-YYYY")%></th>
                          <td><%=cf.feedback%></td>
                          <td><%=cf.score%></td>
                        </tr>
                      <%}
                    })%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="attendance">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="custom-modal-title">Attendance Description</h4>
              <div class="custom-modal-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Leaves</th>
                      <th>Total Days</th>
                      <th>Attendance</th>
                      <th>Designation</th>
                      <th>Date of Joining</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%=attendance.empID%></td>
                      <td><%=attendance.name%></td>
                      <td><%=attendance.leaves%></td>
                      <td><%=attendance.totalDays%></td>
                      <td><%=attendance.attendance%></td>
                      <td><%=attendance.designation%></td>
                      <td><%=attendance.DOJ%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="cr">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="custom-modal-title">Client Retention</h4>
              <div class="custom-modal-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Month</th>
                      <th>Client</th>
                      <th>Type</th>
                      <th>Feedback</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      count = 0;
                      data.forEach((cr)=>{
                      if(cr.parameter == "Client Retention"){
                      count = count + 1;
                      %>
                        <tr>
                          <th><%=count%></th>
                          <td><%=cr.Month%></td>
                          <td><%=cr.client%></td>
                          <td><%=cr.Type%></td>
                          <td><%=cr.feedback%></td>
                          <td><%=cr.score%></td>
                        </tr>
                      <%}
                    })%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card-box ribbon-box">
              <p>
                <div class="ribbon ribbon-pink">PART B: PERFORMANCE PLANNING</div>
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <h4 class="m-t-0 header-title">Team Leads Comments on Existing Level of Achievement on Parameters in Current Quarter</h4>
                  <p></p>
                </div>
                <div class="col-lg-6">
                  <h4 class="m-t-0 header-title">Team Leads Comments on Expected Level of Achievement on Parameters in Next Quarter</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-box">
              <h4 class="m-t-0 header-title">Comments By VA</h4>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card-box ribbon-box">
              <p>
                <div class="ribbon ribbon-purple">PART C: DEVELOPMENT PLAN</div>
              </p>
              <div class="row">
                <div class="col-lg-4">
                  <h4 class="m-t-0 header-title">Development Areas Identified by VA</h4>
                  <p></p>
                </div>
                <div class="col-lg-4">
                  <h4 class="m-t-0 header-title">Development Areas Identified by TL</h4>
                  <p></p>
                </div>
                <div class="col-lg-4">
                  <h4 class="m-t-0 header-title">Action Plan</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-danger waves-light waves-effect text-right" onclick="window.print()"><span class="fa fa-print">Print </span></button>
        <%}%>
      </div>
    </div>
  </div>
  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>

<script type="text/javascript">
$.get("/teamlead/" + $("#empId").val(),(teamlead,status)=>{
  $("#nameTL").val(teamlead.name)
  $("#empIdTL").val(teamlead.empId)
})

$.get("/manager/" + $("#empId").val(),(manager,status)=>{
  $("#nameManager").val(manager.name)
  $("#empIdManager").val(manager.empId)
})

$("#otd").hide();
$("#qa").hide();
$("#cf").hide();
$("#attendance").hide();
$("#cr").hide();

$("#toggleOTD").click(function(){
  $("#otd").toggle();
})

$("#toggleQA").click(function(){
  $("#qa").toggle();
})

$("#toggleCF").click(function(){
  $("#cf").toggle();
})

$("#toggleAttendance").click(function(){
  $("#attendance").toggle();
})

$("#togglePunctuality").click(function(){
  $("#attendance").toggle();
})

$("#toggleCR").click(function(){
  $("#cr").toggle();
})

</script>
