<% include ../head.ejs %>
   <% include ../leftsidebar.ejs %>
      <div class="content-page">
          <% include ../topbar.ejs %>
          <div class="content">
          <div class="container-fluid">

              <div class="row">
                  <div class="col-lg-12">

                      <div class="card-box">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="calendar"></div>
                              </div> <!-- end col -->
                          </div>  <!-- end row -->
                      </div>
                  </div>
                  <!-- end col-12 -->
              </div> <!-- end row -->

          </div> <!-- container -->
          <% include footer-dash-copyright.ejs %>
          <!-- copyright footer on dashboard -->
          <!-- content-page div close -->
      </div>
    </div>
<% include ../footer.ejs %>
<script type="text/javascript">

$.get('/ti/calendar/data', (data, status) => {
  $('#calendar').fullCalendar({
    slotDuration: "00:15:00",
    minTime: "00:00:00",
    maxTime: "24:00:00",
    defaultView: "month",
    header: {
      left: "prev,next today",
      center: "title",
      right: "month,agendaWeek,agendaDay"
    },
    events : data
  });
});
</script>
