<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
  <div class="container-fluid">
    <div class="card-block">
      <div class="account-box">
        <div class="row">

          <div class="col-lg-12">

            <div class="card-box">
              <h4 class="header-title m-t-0">Add Event</h4>
              <form role="form" action="/ti/event/add" method="post">
                <div class="form-group">
                  <label class="control-label">Name of Event</label>
                  <input class="form-control form-white" placeholder="Enter name" type="text" name="title" required/>
                </div>
                <div class="form-group">
                  <label for="details">Description<span class="text-danger">*</span></label>
                  <textarea name="description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="name">Trainer <span class="text-danger">*</span></label>
                  <select class="form-control" name="name" id="name" required>
                      <% employee.forEach(function(emp){%>
                        <option value="<%=emp.empId%>"><%=emp.name%></option>
                      <%})%>
                  </select>
                </div>
                <div class="form-group">
                  <label for="userName">Emp ID <span class="text-danger">*</span></label>
                  <input type="text" name="empId" id="empId" readonly class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Choose Event Color</label>
                  <select class="form-control form-white" data-placeholder="Choose a color..." name="category">
                    <option value="bg-success">Green</option>
                    <option value="bg-danger">Red</option>
                    <option value="bg-info">Sky Blue</option>
                    <option value="bg-pink">Pink</option>
                    <option value="bg-secondary">Grey</option>
                    <option value="bg-warning">Yellow</option>
                    <option value="bg-purple">Purple</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Date Range With Time</label>
                  <div>
                    <input type="text" class="form-control input-daterange-timepicker" name="date" value=Date.now()/>
                  </div>
                </div>
                <div class="form-group text-right m-b-0">
                  <button class="btn btn-custom waves-effect waves-light" type="submit">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-light waves-effect m-l-5">
                    Cancel
                  </button>
                </div>

              </form>
            </div> <!-- end card-box -->
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>

<script type="text/javascript">
$("#name").change(()=>{
  $.get("/employee/" + $("#name").val(),(employee,status)=>{
    $("#empId").val(employee.empId)
  });
});

</script>
