
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="56">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted">Employee</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->

                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-book"></i><span> Planner </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ti/planner">View Planner</a></li>
                            <li><a href="/ti/event/add">Create Event</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="/ti/calendar"><i class=" fa fa-calendar"></i><span> Calendar </span> <span class="menu-arrow"></span></a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-box"></i><span> Packages </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ve/documents/upload/">Create Packages</a></li>
                            <li><a href="/ve/resource/upload/view">Edit Packages</a></li>
                              <li><a href="/ve/resource/upload/view">Custom Packages</a></li>

                        </ul>

                    </li>

                    <%include ../commonsidebar.ejs%>

                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
