<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-12">

        <div class="row">

          <%training.forEach((train) => {%>
            <div class="col-md-4">

              <div class="card m-b-30">
                <div class="card-header <%=train.className%>">
                  <h5 class="card-title"><%=train.title%></h5>
                </div>
                <div class="card-body">
                  <h6 class="card-subtitle text-muted">From - <%=moment(train.start).format('lll')%><br>To - <%=moment(train.end).format('lll')%><br>Duration - <%=moment.duration(moment(train.end).diff(train.start)).as('hours')%> hours</h6>
                  <h5>Trainer</h5>
                  <p class="card-text"><%=train.trainer.name%></p>
                  <h5>Description</h5>
                  <p class="card-text"><%=train.description%></p>
                  <h5>Nominees</h5>
                  <ul>
                    <%train.nominees.forEach((nominee) => {%>
                      <li><%=nominee.empId%> - <%=nominee.name%></li>
                      <%})%>
                    </ul>
                    <a href="#modal-<%=train._id%>" class="btn btn-link" data-animation="slide" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">Add Nominee</a>
                    <a href="/ti/event/edit/<%=train._id%>" class="btn btn-link">Edit</a>
                    <button class="delete-event btn btn-link" id="<%=train._id%>">
                      Delete
                    </button>
                  </div>
                </div>

              </div><!-- end col -->
              <div id="modal-<%=train._id%>" class="modal-demo">
                <button type="button" class="close" onclick="Custombox.close();">
                  <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="custom-modal-title"><%=train.title%></h4>
                <div class="custom-modal-text">
                  <form class="form-horizontal" action="/ti/event/nominee/add" method="post">
                    <input type="hidden" name="id" value="<%=train._id%>">
                    <div class="form-group m-b-25">
                      <div class="col-12">
                        <label for="name">Nominee <span class="text-danger">*</span></label>
                        <select class="form-control" name="empId" required>
                          <% employee.forEach(function(emp){%>
                            <option value="<%=emp.empId%>"><%=emp.name%></option>
                            <%})%>
                          </select>
                        </div>
                      </div>

                      <div class="form-group account-btn text-center m-t-10">
                        <div class="col-12">
                          <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Add Nominee</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>

                <%})%>

              </div>
            </div>
            <!-- end col-12 -->
          </div> <!-- end row -->

        </div> <!-- container -->
        <% include footer-dash-copyright.ejs %>
        <!-- copyright footer on dashboard -->
        <!-- content-page div close -->
      </div>
      <% include ../footer.ejs %>

      <script type="text/javascript">
      $('button.delete-event').click(function() {
        var eventId = $(this).attr("id");
        console.log(eventId);
        deleteEvent(eventId);
      });

      function deleteEvent(eventId) {
        console.log(eventId);
        swal({
          title:"Are you sure?",
          text:"You won't be able to revert this!",
          type:"warning",
          showCancelButton:!0,
          confirmButtonText:"Yes, delete it!",
          cancelButtonText:"No, cancel!",
          confirmButtonClass:"btn btn-success mt-2",
          cancelButtonClass:"btn btn-danger ml-2 mt-2",
          buttonsStyling:!1
        }).then(function() {
          $.ajax({
            url: "/ti/event/delete/" + eventId,
            type: "delete"
          })
          .done(function(data) {
            swal({
              title:"Deleted !",
              text:"Your event has been deleted",
              type:"success"
            })
            setTimeout((function() {
              window.location.reload();
            }), 2000);
          })
          .error(function(data) {
            swal("Oops", "We couldn't connect to the server!", "error");
          });
        },function(t){
          "cancel"===t&&swal({
            title:"Cancelled",
            text:"Your Event is safe :)",
            type:"error",
            confirmButtonClass:"btn btn-confirm mt-2"
          })
        });
      }

      t("#sa-params").click(function(){
        swal({
          title:"Are you sure?",
          text:"You won't be able to revert this!",
          type:"warning",
          showCancelButton:!0,
          confirmButtonText:"Yes, delete it!",
          cancelButtonText:"No, cancel!",
          confirmButtonClass:"btn btn-success mt-2",
          cancelButtonClass:"btn btn-danger ml-2 mt-2",
          buttonsStyling:!1
        }).then(function(){
          swal({
            title:"Deleted !",
            text:"Your file has been deleted",
            type:"success",
            confirmButtonClass:"btn btn-confirm mt-2"
          })
        },function(t){
          "cancel"===t&&swal({
            title:"Cancelled",
            text:"Your imaginary file is safe :)",
            type:"error",
            confirmButtonClass:"btn btn-confirm mt-2"
          })
        })
      })

    </script>
