<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
              <div class="card-box task-detail">
                  <div class="media mt-0 m-b-30">
                      <div class="media-body">
                          <h5 class="media-heading mb-0 mt-0">Billing Details</h5>
                      </div>
                  </div>

                  <h4 class="m-b-20">Client Name | Client ID</h4>
                  <p> Description</p>
                  <p class="text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste
                      itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos
                      delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo
                      rerum? Lorem ipsum dolor sit amet.
                  </p>
                  <p> Comments</p>
                  <p class="text-muted">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste
                      itaque voluptas corrupti ratione reprehenderit magni similique?
                  </p>

                  <ul class="list-inline task-dates m-b-0 mt-5">
                      <li>
                          <h5 class="m-b-5">Start Date</h5>
                          <p> 01 December 2017 <small class="text-muted">1:00 PM</small></p>
                      </li>

                      <li>
                          <h5 class="m-b-5">End Date</h5>
                          <p> 17 February 2018 <small class="text-muted">12:00 PM</small></p>
                      </li>
                  </ul>


                  <ul class="list-inline task-dates m-b-0 mt-5">
                      <li>
                          <h5 class="m-b-5">Remarks By OB</h5>
                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                      </li>

                      <li>
                          <h5 class="m-b-5">Remarks By Manager</h5>
                          <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      </li>
                  </ul>

                  <ul class="list-inline task-dates m-b-0 mt-5">
                      <li>
                          <h5 class="">Done By</h5>
                          <p class="text-muted">Lorem ipsum dolor sit amet.</p>
                      </li>

                      <li>
                          <h5 class="m-b-5">Resources</h5>
                          <p class="text-muted"> Lorem ipsum dolor sit amet.</p>
                      </li>
                  </ul>
                  <div class="task-tags mt-4">
                    <h5 class="">Status</h5>
                  <p> ABCDE </p>
                </div>
              </div>
          </div><!-- end col -->
          <div class="col-md-4">
          <div class="card-box">
              <h4 class="m-t-0 header-title">Billing </h4>
              <p class="text-muted font-14 m-b-20">
                Package details
              </p>

              <table class="table table-striped">
                    <thead class="thead-fusion">
                  <tr>
                    <th data-toggle="true"> # </th>
                    <th> Schema </th>
                    <th> Info </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <th scope="row">1</th>
                      <td>Type</td>
                      <td>A</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Package Title</td>
                      <td>xyz</td>
                  </tr>
                  <tr>
                      <th scope="row">3</th>
                      <td>Package ID</td>
                      <td>0987</td>
                  </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td>Amount</td>
                      <td>4567</td>
                  </tr>
                  <tr>
                      <th scope="row">5</th>
                      <td>Discount Type</td>
                      <td>M</td>
                  </tr>
                  <tr>
                      <th scope="row">6</th>
                      <td>Discount</td>
                      <td>5</td>
                  </tr>
                <tr>
                      <th scope="row">7</th>
                      <td>Approved By Manager</td>
                      <td>yes/no</td>
                  </tr>
                  <tr>
                      <th scope="row">8</th>
                      <td>Approved By Name</td>
                      <td>qwe</td>
                  </tr>
                  </tbody>
              </table>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
