<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <div class="card-box">
            <h2 class="m-t-0 header-title">Noon Dalton Billing Update</h2>
            <div class="row">
              <div class="col-12">
                <div class="p-20">
                  <form class="form-horizontal" role="form">

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Client Name <span class="text-danger">*</span></label>
                      <div class="col-12">
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label" for="example-email">Type</label>
                      <div class="col-12">
                        <select class="form-control" id="typeofclient">
                          <option value="New Client">New Client</option>
                          <option value="Additional Staff">Additional Staff</option>
                          <option value="Subtract Staff">Subtract Staff</option>
                          <option value="Bonus">Bonus</option>
                          <option value="Restart">Restart</option>
                          <option value="Paused">Paused</option>
                          <option value="Cancelled">Cancelled</option>
                          <option value="Other">Other</option>
                          <option value="Holiday Work Pay">Holiday Work Pay</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Select Package</label>
                      <select class="form-control select2">
                        <option>Select</option>
                        <optgroup label="Fusion Client Packages">
                          <option value="FUS01">FUS01: Silver XYZ Package ($700)</option>
                          <option value="FUS02">FUS02: Gold ABC Package($1200)</option>
                          <option value="FUS03">FUS02: Diamond ABC Package($1600)</option>
                        </optgroup>
                        <optgroup label="Noon Dalton Client Packages">
                          <option value="ND01">ND01: Gold ABC Package($700)</option>
                          <option value="ND02">ND02: Sliver ABC Package($1200)</option>
                          <option value="ND03">ND03: Diamond ABC Package($1600)</option>
                          <option value="ND04">ND04: Platinum ABC Package($1800)</option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group col-md-03">
                      <label for="position">Customization Type</label>
                      <select class="custom-select" id="package_custom_type" name="type">

                        <option value="DI">Discount</option>
                        <option value="FP">Flat Price</option>

                      </select>

                    </div>
                    <div class="form-group" id="package_custom_type_discount">
                      <label for="company">Discount %</label>
                      <input type="text" class="form-control" id="company" placeholder="20%" >
                    </div>
                    <div class="form-group"id="package_custom_type_flatprice">
                      <label for="exampleInputEmail1">Flat Price</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="$100" >
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Number of Resource</label>
                      <div class="col-12">
                        <input type="number" class="form-control" placeholder="No Of Resources">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Start Date</label>
                      <div class="col-12">
                        <div class="input-group">
                          <input type="date" class="form-control" placeholder="mm/dd/yyyy"  >
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Email</label>
                      <div class="col-12">
                        <input type="email" class="form-control" placeholder="Email-id">
                      </div>
                    </div>

                    <div class="form-group row" id="cancelclient">
                      <label class="col-12 col-form-label"> Lost Reason (If Applicable) </label>
                      <label class="col-12 col-form-label">In case of client lost or downsize - Please paste the client's email here if available or mention the summary if cancellation is discussed over the call.</label>
                      <div class="col-12">
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group row" id="cancelclient1">

                      <label class="col-12 col-form-label">End Date</label>
                      <div class="col-12">
                        <div class="input-group">
                          <input type="date" class="form-control" placeholder="mm/dd/yyyy" >
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-form-label">Additional Comments</label>
                      <div class="col-12">
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>


                    <div class="form-group text-right m-b-0">
                      <input type="submit" class="btn btn-primary">
                    </div>

                  </form>
                </div>
              </div>

            </div>
            <!-- end row -->

          </div> <!-- end card-box -->
        </div><!-- end col -->
        <div class="col-lg-3"></div>

      </div>

    </div>

  </div>
  <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>
<script>

$('#cancelclient').hide();
$("#cancelclient1").hide();
$('#typeofclient').on('change', function() {
  if ( this.value == 'Cancelled')
  {
    $("#cancelclient").show();
    $("#cancelclient1").show();

  }
  else
  {
    $("#cancelclient").hide();
    $("#cancelclient1").hide();
  }
});

</script>
