<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <h4 class="m-t-0 header-title">Billing</h4>

            <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
              <thead class="thead-fusion">
                <tr>
                  <th data-toggle="true"> Client name </th>
                  <th>Package</th>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Discount (Type)</th>
                  <th>Resources</th>
                  <th>Start Date</th>
                  <th>Remarks</th>
                  <th>Permission</th>
                </tr>
              </thead>
              <tbody>
                <%billing.forEach((bill)=>{%>
                  <tr>
                    <td><%=bill.clientName%></td>
                    <td><%=bill.packageTitle%></td>
                    <td><%=bill.type%></td>
                    <td><%=bill.amount%></td>
                    <td><%=bill.discount%> (<%=bill.discountType%>)</td>
                    <td><%=bill.resources%></td>
                    <td><%=moment(bill.startDate).format('ll')%></td>
                    <td> <a  data-toggle="modal" data-target="#remarks-<%=bill._id%>"><u>Remarks</u>: </a><%=bill.remarksManager%></td>
                    <div id="remarks-<%=bill._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" onclick="Custombox.close();">
                            <span>×</span><span class="sr-only">Close</span>
                          </button>
                          <!--  <button type="button" class="close" data-dismiss="modal" >x</button>-->
                          <h4 class="custom-modal-title">Remarks for </h4>

                          <div class="custom-modal-text">
                            <form class="form-horizontal" action="/managerfusion/billing/remarks" method="post">
                              <div class="form-group m-b-25">
                                <div class="col-12">
                                  <label for="emailaddress3">Remarks</label><br>
                                  <textarea name="remarks" rows="8" style="width:100%;" ></textarea>
                                </div>
                              </div>
                              <div class="form-group account-btn text-center m-t-10">
                                <div class="col-12">
                                  <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Submit</button>
                                </div>
                              </div>

                            </form>
                          </div>

                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <td>
                      <div class="btn-group">
                        <a href="/manager/fusion/billing/approve/<%=bill._id%>/<%=bill.type%>/<%=bill.clientId%>"  class="btn btn-success waves-effect waves-light"> <span>Approve</span> </a>
                        <a href="/manager/fusion/billing/reject/<%=bill._id%>"  class="btn btn-danger waves-effect waves-light"><span>Reject</span> </a>
                      </div>
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
