<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
              <h4 class="m-t-0 header-title">Billing</h4>

              <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                <thead class="thead-fusion">
                  <tr>
                    <th data-toggle="true"> Client name </th>
                    <th>Package</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Discount (Type)</th>
                    <th>Resources</th>
                    <th>Start Date</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <%billing.forEach((bill)=>{%>
                  <tr>
                    <td><%=bill.clientName%></td>
                    <td><%=bill.packageTitle%></td>
                    <td><%=bill.type%></td>
                    <td><%=bill.amount%></td>
                    <td><%=bill.discount%> (<%=bill.discountType%>)</td>
                    <td><%=bill.resources%></td>
                    <td><%=moment(bill.startDate).format('ll')%></td>
                    <td></td>
                  </tr>
                  <%})%>
                </tbody>
                <tfoot>
                  <tr class="active">
                    <td colspan="8">
                      <div class="text-right">
                        <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10 m-b-0"></ul>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
