
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="56">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted">Employee</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->

                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>
                    <%if(user.subPermission == "ND" || user.subPermission == "Senior ND"){%>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Clients </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/ob/ND/client/create"> Add Client</a></li>
                            <li><a href="/ob/ND/client/pipeline">Clients in Pipeline</a></li>
                            <li><a href="/ob/ND/client/active">Active Clients</a></li>
                            <li><a href="/ob/ND/client/inactive">Inactive Clients</a></li>
                            <%if(user.subPermission == "Senior ND"){%>
                              <li><a href="/manager/ND/client/master">Clients Master Table</a></li>
                            <%}%>
                        </ul>

                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-address-card"></i><span> Billing </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/manager/ND/billing/approved">Approved Bills</a></li>
                            <li><a href="/manager/ND/billing/rejected">Rejected Bills</a></li>
                            <%if(user.subPermission == "Senior ND"){%>
                              <li><a href="/manager/ND/billing/pending">Pending for Approval</a></li>
                              <li><a href="/manager/ND/billing/master">Bills Master Table</a></li>
                            <%}%>
                        </ul>
                    </li>
                    <%}%>
                    <%if(user.subPermission == "Fusion" || user.subPermission == "Senior Fusion"){%>
                    <li>
                        <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Clients </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/manager/ND/client/pipeline">Clients in Pipeline</a></li>
                            <li><a href="/manager/ND/client/active">Active Clients</a></li>
                            <li><a href="/manager/ND/client/inactive">Inactive Clients</a></li>
                            <li><a href="/manager/ND/client/date">Master Client Table</a></li>
                        </ul>

                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-address-card"></i><span> Billing </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/manager/fusion/billing/pending">Pending for Approval</a></li>
                            <li><a href="/manager/fusion/billing/approved">Approved Bills</a></li>
                            <li><a href="/manager/fusion/billing/rejected">Rejected Bills</a></li>
                        </ul>
                    </li>
                    <%}%>

                    <li>
                        <a href="javascript: void(0);"><i class="fi-box"></i><span> Packages </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/manager/package/create">Create Packages</a></li>
                            <li><a href="/manager/package/view">View Packages</a></li>

                        </ul>

                    </li>

                    <%include ../commonsidebar.ejs%>

                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
