<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Master Billing Details</h4>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                    <tr>
                      <th>Client Name</th>
                      <th>Type</th>
                      <th>Package Title</th>
                      <th>Amount</th>
                      <th>Prorated</th>
                      <th>Discount(Type)</th>
                      <th>Discount</th>
                      <th>Resources</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Done By</th>
                      <th>Description</th>
                      <th>Comments</th>
                      <th>Remarks OB</th>
                      <th>Remarks Manager</th>
                      <th>Approved By</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%billing.forEach((bill)=>{%>
                    <tr>
                      <td><%=bill.clientName%></td>
                      <td><%=bill.type%></td>
                      <td><%=bill.packageTitle%></td>
                      <td><%=bill.amount%></td>
                      <td><%=bill.prorated%></td>
                      <td><%=bill.discountType%></td>
                      <td><%=bill.discount%></td>
                      <td><%=bill.resources%></td>
                      <td><%=moment(bill.startDate).format('ll')%></td>
                      <td><%=moment(bill.endDate).format('ll')%></td>
                      <td><%=bill.doneBy%></td>
                      <td><%=bill.description%></td>
                      <td><%=bill.comments%></td>
                      <td><%=bill.remarksOB%></td>
                      <td><%=bill.remarksManager%></td>
                      <td><%=bill.approvedByName%></td>
                      <td><%=bill.status%></td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
