<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="card-block">
        <div class="account-box">
          <div class="row">
            <div class="col-md-12">
              <div class="card-box">
                <form action="/manager/ND/billing/master" method="post" class="form-horizontal" role="form">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label class="col-form-label">Client</label>
                      <select class="form-control" name="client">
                        <option value="all">All</option>
                        <%client.forEach((cli)=>{%>
                          <option value="<%=cli._id%>"><%=cli.name%></option>
                        <%})%>
                      </select>
                    </div>
                      <div class="form-group col-md-4">
                        <label for="startdate" class="col-form-label">Start Date</label>
                          <div class="input-group">
                            <input type="date" name="startDate" class="form-control" value="<%=moment().startOf('month').format('YYYY-MM-DD')%>">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="enddate" class="col-form-label">End Date</label>
                        <div class="input-group">
                          <input type="date" name="endDate" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="form-group text-right m-b-0">
                      <button class="btn btn-custom waves-effect waves-light" type="submit">
                        Submit
                      </button>
                      <button type="reset" class="btn btn-light waves-effect m-l-5">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
