<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Master Billing Details</h4>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                    <tr>
                      <th>Client Name</th>
                      <th>Job Title</th>
                      <th>Email</th>
                      <th>Number</th>
                      <th>Office Number</th>
                      <th>Company</th>
                      <th>Street</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Country</th>
                      <th>Zip Code</th>
                      <th>Website</th>
                      <th>Service</th>
                      <th>Start Date</th>
                      <th>Start Month</th>
                      <th>Source Code</th>
                      <th>Description</th>
                      <th>Schedule Date</th>
                      <th>Schedule Time</th>
                      <th>Time Zone</th>
                      <th>Sales Member Name</th>
                      <th>Promo Code</th>
                      <th>Form Filled On</th>
                      <th>Closed</th>
                      <th>Closed By</th>
                      <th>Closed On</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%client.forEach((cli)=>{%>
                    <tr>
                      <td><%=cli.name%></td>
                      <td><%=cli.jobTitle%></td>
                      <td><%=cli.email%></td>
                      <td><%=cli.number%></td>
                      <td><%=cli.officeNumber%></td>
                      <td><%=cli.company%></td>
                      <td><%=cli.address.street%></td>
                      <td><%=cli.address.city%></td>
                      <td><%=cli.address.state%></td>
                      <td><%=cli.address.country%></td>
                      <td><%=cli.address.zipCode%></td>
                      <td><%=cli.website%></td>
                      <td><%=cli.service%></td>
                      <td><%=cli.startDate%></td>
                      <td><%=cli.startMonth%></td>
                      <td><%=cli.sourceCode%></td>
                      <td><%=cli.description%></td>
                      <td><%=cli.scheduleDate%></td>
                      <td><%=cli.scheduleTime%></td>
                      <td><%=cli.timezone%></td>
                      <td><%=cli.memberName%></td>
                      <td><%=cli.promoCode%></td>
                      <td><%=moment(cli.date).format('ll')%></td>
                      <td><%=cli.closed%></td>
                      <td><%=cli.closedBy%></td>
                      <td><%=moment(cli.closedOn).format('ll')%></td>
                      <td><%=cli.status%></td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
