<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <a href="/manager/package/create" class="btn btn-custom btn-rounded w-md waves-effect waves-light mb-4"><i class="mdi mdi-plus-circle"></i> Create Package</a>
        </div>
        <div class="col-sm-8">
          <div class="project-sort pull-right">
            <div class="project-sort-item">
              <form class="form-inline">
                <div class="form-group">
                  <label for="sort-select">Sort :</label>
                  <select class="form-control ml-2 form-control-sm" id="sort-select">
                    <option>Date</option>
                    <option>Name</option>
                    <option>End date</option>
                    <option>Start Date</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div><!-- end col-->
      </div>
      <div class="row">
        <%package.forEach((pack) =>{%>
          <div class="col-xl-4">
            <div class="company-card card-box">
              <%if(pack.createdFor == 'Fusion'){%>
                <img src="/assets/images/Fusion.png" alt="logo" class="company-logo">
              <%} else if(pack.createdFor == 'Noon Dalton'){%>
                <img src="/assets/images/ND2.png" alt="logo" class="company-logo">
              <%}%>
              <div class="company-detail" style="margin-bottom:0px;">
                <h4 class="mb-1"><%=pack.title%></h4>
                <p><%=pack.code%></p>
              </div>
              <p class="text-muted font-13"><%=pack.description%>
              </p>
              <ul class="list-inline">
                <li class="list-inline-item" style="margin-right:100px;">
                  <h3 class="mb-0"><%=pack.amount%> <%=pack.currency%></h3>
                  <p class="text-muted">Amount</p>
                </li>

                <li class="list-inline-item">
                  <h3 class="mb-0">52</h3>
                  <p class="text-muted">Clients</p>
                </li>
                <br>
              </ul>
              <label class="">Created by <span class="text-custom"><%=pack.createdBy%></span></label>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
</div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
