<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3"> </div>
        <div class="col-lg-6">
            <div class="card-box">
              <h4 class="header-title m-t-0">Create Packages</h4>
              <form action="/manager/package/create" method="post">
                <div class="form-group">
                  <label for="selectpackage">Package Creating For?</label>
                  <select class="form-control" name="createdFor" required>
                    <option value="Noon Dalton">Noon Dalton</option>
                    <option value="Fusion">Fusion</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="title">Package Title<span class="text-danger">*</span></label>
                  <input type="text" name="title" parsley-trigger="change" required placeholder="Enter Title" class="form-control" id="title">
                </div>
                <div class="form-group">
                  <label for="code">Enter code<span class="text-danger">*</span></label>
                  <input type="text" name="code" parsley-trigger="change" required placeholder="code" class="form-control" id="code">
                </div>
                <div class="form-group">
                  <label for="amount">Amount<span class="text-danger">*</span></label>
                  <input id="pass1" type="number" name="amount" placeholder="Enter Amount" required class="form-control">
                </div>
                <div class="form-group">
                  <label for="currency">Currency<span class="text-danger">*</span></label>
                  <select name="currency" placeholder="Enter Currency" required class="form-control" id="currency">
                    <option value="USD" selected="selected">United States Dollars</option>
                  	<option value="EUR">Euro</option>
                  	<option value="GBP">United Kingdom Pounds</option>
                  	<option value="DZD">Algeria Dinars</option>
                  	<option value="ARP">Argentina Pesos</option>
                  	<option value="AUD">Australia Dollars</option>
                  	<option value="ATS">Austria Schillings</option>
                  	<option value="BSD">Bahamas Dollars</option>
                  	<option value="BBD">Barbados Dollars</option>
                  	<option value="BEF">Belgium Francs</option>
                  	<option value="BMD">Bermuda Dollars</option>
                  	<option value="BRR">Brazil Real</option>
                  	<option value="BGL">Bulgaria Lev</option>
                  	<option value="CAD">Canada Dollars</option>
                  	<option value="CLP">Chile Pesos</option>
                  	<option value="CNY">China Yuan Renmimbi</option>
                  	<option value="CYP">Cyprus Pounds</option>
                  	<option value="CSK">Czech Republic Koruna</option>
                  	<option value="DKK">Denmark Kroner</option>
                  	<option value="NLG">Dutch Guilders</option>
                  	<option value="XCD">Eastern Caribbean Dollars</option>
                  	<option value="EGP">Egypt Pounds</option>
                  	<option value="FJD">Fiji Dollars</option>
                  	<option value="FIM">Finland Markka</option>
                  	<option value="FRF">France Francs</option>
                  	<option value="DEM">Germany Deutsche Marks</option>
                  	<option value="XAU">Gold Ounces</option>
                  	<option value="GRD">Greece Drachmas</option>
                  	<option value="HKD">Hong Kong Dollars</option>
                  	<option value="HUF">Hungary Forint</option>
                  	<option value="ISK">Iceland Krona</option>
                  	<option value="INR">India Rupees</option>
                  	<option value="IDR">Indonesia Rupiah</option>
                  	<option value="IEP">Ireland Punt</option>
                  	<option value="ILS">Israel New Shekels</option>
                  	<option value="ITL">Italy Lira</option>
                  	<option value="JMD">Jamaica Dollars</option>
                  	<option value="JPY">Japan Yen</option>
                  	<option value="JOD">Jordan Dinar</option>
                  	<option value="KRW">Korea (South) Won</option>
                  	<option value="LBP">Lebanon Pounds</option>
                  	<option value="LUF">Luxembourg Francs</option>
                  	<option value="MYR">Malaysia Ringgit</option>
                  	<option value="MXP">Mexico Pesos</option>
                  	<option value="NLG">Netherlands Guilders</option>
                  	<option value="NZD">New Zealand Dollars</option>
                  	<option value="NOK">Norway Kroner</option>
                  	<option value="PKR">Pakistan Rupees</option>
                  	<option value="XPD">Palladium Ounces</option>
                  	<option value="PHP">Philippines Pesos</option>
                  	<option value="XPT">Platinum Ounces</option>
                  	<option value="PLZ">Poland Zloty</option>
                  	<option value="PTE">Portugal Escudo</option>
                  	<option value="ROL">Romania Leu</option>
                  	<option value="RUR">Russia Rubles</option>
                  	<option value="SAR">Saudi Arabia Riyal</option>
                  	<option value="XAG">Silver Ounces</option>
                  	<option value="SGD">Singapore Dollars</option>
                  	<option value="SKK">Slovakia Koruna</option>
                  	<option value="ZAR">South Africa Rand</option>
                  	<option value="KRW">South Korea Won</option>
                  	<option value="ESP">Spain Pesetas</option>
                  	<option value="XDR">Special Drawing Right (IMF)</option>
                  	<option value="SDD">Sudan Dinar</option>
                  	<option value="SEK">Sweden Krona</option>
                  	<option value="CHF">Switzerland Francs</option>
                  	<option value="TWD">Taiwan Dollars</option>
                  	<option value="THB">Thailand Baht</option>
                  	<option value="TTD">Trinidad and Tobago Dollars</option>
                  	<option value="TRL">Turkey Lira</option>
                  	<option value="VEB">Venezuela Bolivar</option>
                  	<option value="ZMK">Zambia Kwacha</option>
                  	<option value="EUR">Euro</option>
                  	<option value="XCD">Eastern Caribbean Dollars</option>
                  	<option value="XDR">Special Drawing Right (IMF)</option>
                  	<option value="XAG">Silver Ounces</option>
                  	<option value="XAU">Gold Ounces</option>
                  	<option value="XPD">Palladium Ounces</option>
                  	<option value="XPT">Platinum Ounces</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <div>
                    <textarea name="description" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="creator">Package created By <span class="text-danger">*</span></label>
                  <input type="text" name="createdBy" value="<%=user.name%>" required readonly class="form-control" id="creator">
                </div>
                <div class="form-group text-right m-b-0">
                  <button class="btn btn-custom waves-effect waves-light" type="submit">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-light waves-effect m-l-5">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
