<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fusion First</title>
  </head>
  <body>
    <div class="">
      <h1>Fusion Business Solutions Pvt. Ltd.</h1>
      <p>You have successfully applied in our company.</p>
      <p>Your Application ID is <b><%=AppID%></b> </p>
    </div>
  </body>
</html>
