<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fusion ERP System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="Fusionfirst ERP System by Hostmud Cloud Solutions Private Limited" name="description" />
  <meta content="Hostmud Cloud" name="Hostmud Team" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" type="image/png" sizes="32x32" href="../public/assets/images/favicon-32x32.png">
  <!--Form Wizard-->
  <link rel="stylesheet" type="text/css" href="http://coderthemes.com/highdmin/plugins/jquery.steps/css/jquery.steps.css" />
  <!-- app css -->
  <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="http://coderthemes.com/highdmin/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://coderthemes.com/highdmin/plugins/switchery/switchery.min.css">

  <script src="../public/assets/js/modernizr.min.js"></script>

  <!--Foo table-->
  <link href="http://coderthemes.com/highdmin/plugins/footable/css/footable.core.css" rel="stylesheet">

  <!-- Custom box css -->
  <link href="http://coderthemes.com/highdmin/plugins/custombox/css/custombox.min.css" rel="stylesheet">

  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />

  <!-- Sweet Alert css -->
  <link href="http://coderthemes.com/highdmin/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />





</head>
<body>

  <div class="content-page" style="margin-left:25px;">
    <div class="content">
      <div class="container-fluid">
        <div class="card-box" style="padding-left:0px;padding-right:0px;padding-bottom:0px;">

          <div class="row">
            <!--  <div class="col-sm-9"></div>
            <div class="col-sm-3">
            <img src="Fusion-Logo.png" class="img-responsive" >
          </div> -->
          <div class="col-md-12">
              <div class="col-md-12">
            <img src="Fusion-Logo.png" class="img-responsive" >
            <hr>

            <h5 class=" m-b-30">
              Name : {{applicant.firstName}} {{applicant.lastName}} <br />
              Address : {{applicant.currentAddress.address}}, {{applicant.currentAddress.city}}, {{applicant.currentAddress.state}}, India, {{applicant.currentAddress.pin}}<br />
              Date : {{date}} <br />
            </h5>
            <br>
            <h4>Subject: - LETTER OF APPOINTMENT</h4>
            <br>
            <br>
            <h5>Dear {{applicant.firstName}} {{applicant.lastName}},</h5>

            <h6 class="clearfix"><mark>Welcome to Fusion Business Solutions Private Ltd</mark></h6>

            <p class="clearfix">This has reference to your application for appointment in Fusion Business Solutions Pvt. Ltd. (Company), and subsequent selection process. We are pleased to appoint you on the post of [designation here] in the Company, with effect from the date of your joining the Company.</p>

            <div class="clearfix"></div>
            <h5>TERMS AND CONDITIONS OF EMPLOYMENT: </h5>

            <ol>
              <h5>Compensation and Benefits</h5>
              <li><p>
                That your compensation package shall be Rs. [CTC here] per month (CTC) including various allowance or benefits as per the details given in Annexure. These allowances and benefit shall be paid as per the company rules and applicable law.
              </p></li>
              <li><p>
                You shall also be eligible to Medical Benefit, Provident Fund, ESIC and Gratuity as per the rules of the Company, your eligibility, and /or applicable laws.
              </p></li>
              <li><p>
                That your compensation and related terms & conditions of your service are strictly confidential, and you should not disclose or discuss with anyone else and you shall keep them secret. The breach of this clause shall be treated as serious misconduct and may lead to termination of your services from the company.
              </p></li>

              <h5>Probation:</h5>
              <li><p>
                That you shall be on probation for six months from the date of your joining the company. However, this can be extended by three months at the sole discretion of the management of the Company. On successful completion of the probation, you will be confirmed on the position designated above, in writing. Your employment shall be deemed to be terminated automatically after the expiry of the initial or extended probation period unless confirmed in writing.
              </p></li>
              <li><p>
                That during probation period, your employment can be terminated without any notice or pay in lieu of. Termination of employment under this clause needs no reason to assign.
              </p></li>
              <h5>Leaves and Working</h5>
              <li><p>
                That you will be eligible for leaves and other benefits as per the rules of the Company as are in vogue or altered from time to time. The Company has the sole right to amend the rules at any point of time, which shall be binding on you.
              </p></li>
              <li><p>
                That your working days and working hours shall be governed by the Rules of the Company. However, in case of business exigencies, you may be required to attend office on any public or official holiday to deliver usually or any specifically assigned duties and/or to attend any training as may be directed by the Management and you will not have any objection to such instruction.
              </p></li>
              <h5>Place of posting and transfer</h5>
              <li><p>
                That your place of posting shall be Udaipur, but the Company has the right to transfer you to such other place anywhere in India/ abroad at its sole discretion with or without affecting any change in your remuneration, allowances or other benefits.
              </p></li>
              <li><p>
                That you can be transferred from one section/department/shift to other section/department/shift keeping in view the exigency of the work without any notice. You will not refuse to carry out such orders.
              </p></li>
              <h5>Termination and Resignation</h5>
              <li><p>
                That the Company can terminate your employment by giving one (two)* month’s prior notice. Time of your release will depend on the exigencies of the work and smooth handover of your work. In case company decides to release you immediately, an amount in lieu of one (two)* month’s basic salary shall be paid to you.
              </p></li>
              <li><p>
                That you can resign from the services of the Company by giving one (two)* month’s prior notice in writing. You are bound to serve the entire notice period unless the company, on your request, agrees to relieve you earlier. In such case you shall be liable to pay one month’s basic salary to the company. However, if the company is unable to release you before the notice period and you still stop reporting for work, the Company shall have the right to recover cost up to Rupees Fifty Thousand (INR 50000/-) from you towards expenses incurred in your training and development, special education, up-skilling or on the job training provided to you during your employment, and that will be, in addition to the notice pay. [* for select group of employees – need to refer to HR or MD]
              </p></li>
              <li><p>
                That in case you decide to resign from the employment of the company, your letter of resignation from employment will be considered for the decision by the company only if the same is delivered by you to your HOD/ HR head or if it is sent through Registered AD or Speed Post AD or through email to the company by your official email-id. The company shall not recognize any other form of notice of resignation.
              </p></li>
              <li><p>
                That the Company may evaluate your performance periodically. In case if your performance is found unsatisfactory, management may take any action against you as it deems fit and that includes termination of your employment.
              </p></li>
              <li><p>
                That your conviction by any criminal court for offence which involves moral turpitude will make an end to your employment with the company with immediate effect without any notice, whatsoever.
              </p></li>
              <li><p>
                That in case of gross negligence, insubordination, fraud, disobedience of order, misbehavior with your seniors/ colleagues/ juniors or any misconduct alleged against you or breach of any terms and conditions of this agreement, your services will be terminated forthwith, and you shall not be entitled to any notice or compensation in lieu of.
              </p></li>
              <li><p>
                That notwithstanding paragraph 15 above, if at any time in the opinion of the management, which will be final in the matter, you are found indulging in any conduct considered by the management, detrimental to the company’s interest or of violation of one or more terms and conditions of the letter/ service rules, your services can be terminated without notice and compensation.
              </p></li>
              <li><p>
                That absence for a continuous period of 7 days without leave (including the case when though the was leave applied but was not granted by the company) and if there is overstay by 7 days or more after the leave originally approved by the management, it will be deemed that you are not interested in continuing your job or you have abandoned yourself from the services. However, you may present yourself on the eighth day and satisfy the Management about your said absence and if the Management is satisfied with your explanation and reasons of your absence, the Management may take you on work. But if you do not present yourself on work even on the eighth day, then nothing will be considered by the Management and you will lose your right to remain with the employment of the company and your employment with the company will be deemed to be terminated as an abandonment of job by you.
              </p></li>
              <li><p>
                That in addition to forgoing provisions, the management shall have the right to terminate your employment forthwith without notice or payment of salary in lieu thereof if:</p>
                <ol type="i">
                  <li>	You are guilty of fraud, dishonesty or misconduct which is inconsistent with the due and faithful discharge of your duties; </li>
                  <li>	You disobey the Company’s lawful and reasonable instructions/requirements and/or all the Company Policies and Rules and Regulations which are existing and framed from time to time;</li>
                  <li>	You habitually neglect your duties and responsibilities and/or breach of any of the employment terms and conditions; </li>
                  <li>	You otherwise commit a material breach of your employment terms;</li>
                  <li>	You are unable to successfully complete various training sessions imparted by the Company to you from time to time; and </li>
                  <li>	You fail to pass any test/evaluation required to measure your skills essential for you to perform your duties successfully </li>
                </ol>
              </li>
              <br>
              <h5>General</h5>
              <li><p>
                That you will observe strict secrecy in respect of all the information, formula and working of the Company, its clients, and procedure, practices adopted by the Company. You will not divulge any information to anyone, within or outside the Company. The management shall take appropriate legal & disciplinary action in case of any unauthorized disclosure of the same.
              </p></li>
              <li><p>
                That you shall abide by all the policies, rules and regulations of the Company enforced/amended from time to time. The code of conduct as formulated by the Company shall be diligently followed by you including the dress code, wearing of identity tag etc. or any other order of the management related to physical appearance and behaviour.
              </p></li>
              <li><p>
                That you will carry out such duties as may be assigned to you from time to time and you will not refuse to carry out any such duty. The Company has the right to change your designation without any notice.
              </p></li>
              <li><p>
                That during the tenure of your employment, you will not take-up any other employment, allocation, trade, business or self-employment, in your own name or in the name of your family members without seeking prior written permission from the Company. Violation of this clause will render yourself for severe disciplinary action.
              </p></li>
              <li><p>
                That if at any time the company finds that the information given by you at the time of your application/selection/appointment is found be false and incorrect, it would entail automatic termination of your service without any notice or compensation. Your appointment on false information supplied by you will be treated as null and void ab-initio.
              </p></li>
              <li><p>
                That the terms and conditions of your service, including your compensation, are strictly confidential and you should not disclose to or discuss with anyone else and you shall keep them secret. The breach of this clause shall be treated as serious misconduct and may lead to termination of your services from the company.
              </p></li>
              <li><p>
                That in addition to the terms and conditions mentioned hereinabove, you shall also abide by the company’s Policies, Rules, Circulars, Code of Conduct, as modified/amended by the Company from time to time.
              </p></li>
              <li><p>
                That your compensation may be revised based on your performance and management’s decision not before completion of twelve months from the date of joining, along with renewal of your employment contract with the company, if the company decides to do so.
              </p></li>
              <li><p>
                Company shall have the right to amend any term or condition mentioned hereinabove at any point of time and the revised clause shall be binding upon you.
              </p></li>
            </ol>
            <p>
              We wish to take this opportunity to welcome you to Fusion and wish you every success with the Company.<br /><br /></p>
              <b>Yours Sincerely,</b><br />
              For Fusion Business Solutions Private Limited (formerly known as fusion Outsourcing Software Private Limited)


              <div class="clearfix"></div>
              <br><br><br>
              <h6>Authorized Signatory,<br>
                Human Resources<br />
                For Fusion Business Solutions Private Ltd.<br />
              </h6>


              <div class="clearfix"></div>

              <div class="clearfix"></div>
              <br>

              <h5>DECLARATION BY THE EMPLOYEE:
              </h5>
              <p>
                I have carefully read and understood the terms and conditions of employment. I hereby accept all the terms and conditions mentioned above, I append my signatures below and return it to the Company. I am fully satisfied & happy and will work hard for Company’s benefit.
              </p>
              <p>
                I have got the best what I can get. My motto is “Work is Worship”. I will not do any act, which will hamper the work or image of company in any manner.
              </p>
              <p> I, hereby, join the Company on his day_______, month________, Year_________. </p>


              <div class="clearfix"></div>
              <br><br><br><br><br>
              <p class="text-muted">
                <table id="" class="table m-b-1">
                  <thead >

                    <tr>
                      <th data-hide="phone"> Signature  </th>
                      <!--<th data-hide="all">_____________________</th>-->
                      <th><img src="{{signature}}" style="width:30%;border:solid 2px black;align:right;"></th>


                    </tr>
                    <tr>
                      <th data-toggle="true"> Name : </th>
                      <th>_________________</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>Date :</td>
                      <td>_____________________</td>
                      <td>Place :</td>
                      <td>_____________________</td>

                    </tr>


                  </tbody>
                </table>

              </p>
            </div>
            </div>

          </div>
          <div style="background-color:#202d5d;color:white;padding:2px;"><h4 style="text-align:center;">Fusion Business Solutions Pvt. Ltd.</h4>
            <h5 style="text-align:center;">F-37, IT Park, MIA Extension,

              Udaipur-313002,

              Rajasthan, India </h5>
              <h5 style="text-align:center;">Mobile:9602254863 &nbsp; Email:hr@fusionfirst.com </h5>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../public/assets/js/jquery.min.js"><\/script>')</script>
    <script src="../public/assets/js/bootstrap.min.js"></script>

  </body>
  </html>
