<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fusion ERP System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="Fusionfirst ERP System by Hostmud Cloud Solutions Private Limited" name="description" />
  <meta content="Hostmud Cloud" name="Hostmud Team" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/images/favicon-32x32.png">
  <!--Form Wizard-->
  <link rel="stylesheet" type="text/css" href="http://coderthemes.com/highdmin/plugins/jquery.steps/css/jquery.steps.css" />
  <!-- app css -->
  <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
  <link href="../public/assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
  <link href="http://coderthemes.com/highdmin/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://coderthemes.com/highdmin/plugins/switchery/switchery.min.css">

  <script src="../public/assets/js/modernizr.min.js"></script>

  <!--Foo table-->
  <link href="http://coderthemes.com/highdmin/plugins/footable/css/footable.core.css" rel="stylesheet">

  <!-- Custom box css -->
  <link href="http://coderthemes.com/highdmin/plugins/custombox/css/custombox.min.css" rel="stylesheet">

  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="http://coderthemes.com/highdmin/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />

  <!-- Sweet Alert css -->
  <link href="http://coderthemes.com/highdmin/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />





</head>
<body>

  <div class="content-page" style="margin-left:25px;">
    <div class="content">
      <div class="container-fluid">
        <div class="card-box" style="padding-left:0px;padding-right:0px;padding-bottom:0px;">

          <div class="row">
            <!--  <div class="col-sm-9"></div>
            <div class="col-sm-3">
            <img src="Fusion-Logo.png" class="img-responsive" >
          </div> -->
          <div class="col-md-12">
            <div class="col-md-12">
              <img src="Fusion-Logo.png" class="img-responsive" >
              <hr>
              <h3 align="center">OFFER LETTER</h3>

              <br>
              <br>
              <h5 class=" m-b-30">
                Mr./Ms. {{applicant.firstName}} {{applicant.lastName}} <br>
                Address : {{applicant.currentAddress.address}}, {{applicant.currentAddress.city}}, {{applicant.currentAddress.state}}, India, {{applicant.currentAddress.pin}}<br>
                Date : {{date}} <br />
              </h5>
              <br>

              <br>
              <br>

              <h5> Dear,</h5>

              <!--<h6 class="clearfix"><mark>Welcome to Fusion Business Solutions Private Ltd</mark></h6> -->

              <p class="clearfix">It is our pleasure to offer you the position of [position] as employment in Fusion Business Solutions Private Ltd. We are delighted at the prospect of you joining us. </p>


              <p>
                Your compensation package shall be Rs. [CTC here] per month (CTC).
              </p>
              <h5>The Breakup module is given below: </h5>
              <br>
              <div class="col-sm-2 col-md-10">
                <div style='margin:0 auto; display:block; width:100%; color:#252525;'>
                  <table  bordercolor='#1f2d5e' width='650' align='center'  style='font:normal 13px arial; cell-spacing:0;border: solid 3px black; width:100%;'>

                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        BREAK UP OF THE SALARY
                      </td>
                      <td class="tdstylepadd colorwhite">
                        Break upto Gross Salary Per month
                      </td>
                      <td class="tdstylepadd colorwhite">
                        Break upto Gross Salary Per Annum
                      </td>
                    </tr>

                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Basic
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                    </tr>

                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Conveyance allowance
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                    </tr>

                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Other allowance
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td class="tdcolorpadding">
                        XYZ
                      </td>
                    </tr>
                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Night allowance
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td class="tdcolorpadding">
                        XYZ
                      </td>
                    </tr>


                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Gross Salary (A)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        170000
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4" class="tdheight"  >

                      </td>
                    </tr>
                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        EPF Employer Contribution Payable by Fusion
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>

                    </tr>


                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        ESIC Employer Contribution Payable by Fusion
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>

                    </tr>

                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Gratuity Subject  to as applicable
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>
                      <td  class="tdcolorpadding">
                        XYZ
                      </td>

                    </tr>

                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Total Contribution By Fusion (B)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>

                    <tr>
                      <td colspan="4" class="tdheight"  >

                      </td>
                    </tr>
                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Total Salary (A+B)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="tdheight"  >

                      </td>
                    </tr>

                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd ">
                        E.S.I.C Employee Contribution
                      </td>
                      <td  class="tdcolorpadding">
                        rs  2222
                      </td>
                      <td  class="tdcolorpadding">
                        rs 22
                      </td>
                    </tr>
                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd ">
                        EPF Employee Contribution
                      </td>
                      <td  class="tdcolorpadding">
                        rs  2222
                      </td>
                      <td  class="tdcolorpadding">
                        rs 22
                      </td>
                    </tr>

                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Total Contribution by Employee (C)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="tdheight"  >

                      </td>
                    </tr>


                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Take Home Salary D (A-C)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="tdheight"  >

                      </td>
                    </tr>
                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Yearly Bonus Plan 8.33% of Annual Gross Salary (Payable Annually)
                      </td>
                      <td  class="tdcolorpadding">
                        rs  2222
                      </td>
                      <td  class="tdcolorpadding">
                        rs 22
                      </td>
                    </tr>
                    <tr class="backgroundcolorwhite">
                      <td class="tdstylepadd">
                        Critical Accident Encashment (50% of salary for 3 months max. and subject to medical report being in order and cross checked by HR Dept.)
                      </td>
                      <td  class="tdcolorpadding">
                        rs  2222
                      </td>
                      <td  class="tdcolorpadding">
                        rs 22
                      </td>
                    </tr>
                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Total Additional benefits (D)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>
                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">
                        Monthly CTC (A+B+D)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>

                    <tr class="backgroundcolrblue">
                      <td class="tdstylepadd colorwhite">


                        Annual CTC (A+B+D)
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs 14249
                      </td>
                      <td class="tdstylepadd colorwhite">
                        rs    170000
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="tdheight" >

                      </td>
                    </tr>

                    <tr class="backgroundcolrblue" >
                      <td colspan="4" class="tdstylepadd colorwhite">
                        Note: In case of critical accident/illness, if a person gets ESIC wages then critical accident benefit will not be applicable.
                      </td>

                    </tr>
                    <tr class="backgroundcolrblue" >
                      <td colspan="4" class="tdstylepadd colorwhite">
                        Entitlements: All entitlements listed above are subject to Company policies, Procedure and guidelines that may be in force or are issued/ changed from time to time. All perquisites and benefits, including reimbursements (if Any) are subject to Income Tax / applicable laws and as per the provisions of the applicable Acts, which may be applicable, including tax on perquisites value.
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
              <br>
              <hr>
              <br>
              <p>
                Your employment will be subject to successful verification of your academic testimonials and experience certificates etc. In case of any false submission from you to the company, you are liable to face immediate termination and possible criminal proceedings.
              </p>
              <p>
                Your terms of employment, including the salary, should be treated with the strictest confidence. Should you have any queries on your employment terms, please contact Human Resource representative. 
              </p>
              <p>
                Please sign and return to us the copy of this letter as your acceptance of the offer. This offer letter is valid till [last date] and shall automatically lapse after this date.
              </p>
              <p>
                We wish to take this opportunity to welcome you to Fusion and wish you every success with the Company.<br /><br /></p>
                <b>Yours Sincerely,</b><br />
                For Fusion Business Solutions Private Limited (formerly known as fusion Outsourcing Software Private Limited)


                <div class="clearfix"></div>
                <br><br><br>
                <h6>Authorized Signatory,<br>
                  Human Resources<br />
                  For Fusion Business Solutions Private Ltd.<br />
                </h6>
                <br>

                <h5>DECLARATION BY THE EMPLOYEE:
                </h5>
                <p>
                  I accept the appointment in the position of [position name] at the compensation mentioned above, and will join on [joining date].
                </p>
                <div class="clearfix"></div>
                <br><br><br><br><br>
                <p class="text-muted">
                  <table id="" class="table m-b-1">
                    <thead >
                      <tr>
                        <th data-hide="phone"> Signature  </th>
                        <!--<th data-hide="all">_____________________</th>-->
                        <th><img src="{{signature}}" style="width:30%;border:solid 2px black;align:right;"></th>
                      </tr>
                      <tr>
                        <th data-toggle="true"> Name : </th>
                        <th>_________________</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>Date :</td>
                        <td>_____________________</td>
                        <td>Place :</td>
                        <td>_____________________</td>

                      </tr>


                    </tbody>
                  </table>
                </p>
              </div>
            </div>

          </div>
          <div style="background-color:#202d5d;color:white;padding:2px;"><h4 style="text-align:center;">Fusion Business Solutions Pvt. Ltd.</h4>
            <h5 style="text-align:center;">F-37, IT Park, MIA Extension,

              Udaipur-313002,

              Rajasthan, India </h5>
              <h5 style="text-align:center;">Mobile:9602254863 &nbsp; Email:hr@fusionfirst.com </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../public/assets/js/jquery.min.js"><\/script>')</script>
    <script src="../public/assets/js/bootstrap.min.js"></script>

    <style>

    td {
      border: 2px solid black;

    }
    table {
      border-collapse: collapse;
    }
    .tdstylepadd{
      color:#4099D6;font-size:16px;padding-left:10px;

    }
    .backgroundcolrblue{
      background-color: #012060;
    }

    .tdheight{
      background-color: white;height: 20px;
    }
    .tdcolorpadding
    {
      color:#4099D6;padding-left:20px;
    }
    .backgroundcolorwhite{
      background-color:white;
    }
    .imagestyle
    {
      float:right;height:45px;width:95px;background-color:white
    }
    .colorwhite{
      color: white;
    }
    </style>
  </body>
  </html>
