<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <div class="content">
      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12">
                  <!-- meta -->
                  <div class="profile-user-box card-box bg-custom">
                      <div class="row">
                          <div class="col-sm-6">
                              <span class="pull-left mr-3"><img src="<%=applicant.photo%>" alt="" class="thumb-lg rounded-circle"></span>
                              <div class="media-body text-white">
                                  <h4 class="mt-1 mb-1 font-18"><%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></h4>
                                    <h5 class="mt-1 mb-1 font-14"> Applicantion ID : <%=applicant.AppID%></h5>
                                  <p class="text-light mb-0">Position : <%=applicant.position%></p>
                              </div>
                          </div>
                          <div class="col-sm-6">
                                <div class="text-right">



                                  <a class="btn btn-light waves-effect" href="/hr/applicant/edit/<%=applicant._id%>">
                                        <i class="mdi mdi-account-settings-variant mr-1"></i> Edit Info
                                    </a>

                                </div>
                            </div>
                      </div>
                  </div>
                  <!--/ meta -->
              </div>
          </div>
          <!-- end row -->


          <div class="row">
              <div class="col-md-4">
                  <!-- Personal-Information -->
                  <div class="card-box">
                      <h4 class="header-title mt-0 m-b-20">Personal Information</h4>
                      <div class="panel-body">


                          <hr/>

                          <div class="text-left">
                              <p class="text font-16"><strong>Full Name :</strong> <span class="m-l-15"> <%=applicant.firstName%> <%=applicant.lastName%></span></p>

                              <p class="text font-16"><strong>Mobile :</strong><span class="m-l-15"> <%=applicant.number%></span></p>
                              <p class="text font-16"><strong>Home Contact :</strong><span class="m-l-15"> <%=applicant.phone%></span></p>

                              <p class="text font-16"><strong>Email :</strong> <span class="m-l-15"> <%=applicant.email%></span></p>

                              <p class="text font-16"><strong>D.O.B :</strong> <span class="m-l-15"> <%=moment(applicant.dob).format('ll')%></span></p>
                              <p class="text font-16"><strong>Gender :</strong> <span class="m-l-15"> <%=applicant.gender%></span></p>
                              <p class="text font-16"><strong>Maritial Status :</strong> <span class="m-l-15"> <%=applicant.maritalStatus%></span></p>


                          </div>
                          <div class="button-list">
                                        <a href="<%=applicant.resume%>" target="_blank"  class="btn btn-block btn-success waves-effect waves-light">View Resume</a>
                          </div>


                      </div>
                  </div> </div>
                  <!-- new code by ap -->

                  <div class="col-md-8">

                      <div class="row">
                        <div class="col-md-12">
                            <!-- Personal-Information -->
                            <div class="card-box">
                                <h4 class="header-title mt-0 m-b-20">Basic Information</h4>
                                <div class="panel-body">


                                    <hr/>

                                    <div class="text-left">
                                        <p class="text font-16"><strong>Father Name :</strong> <span class="m-l-15"> Mr. <%=applicant.fatherName%></span></p>
                                        <p class="text font-16"><strong>Spouse Name (if married) :</strong> <span class="m-l-15"> <%=applicant.spouseName%></span></p>

                                        <p class="text font-16"><strong>Current Address :</strong><span class="m-l-15"> <%=applicant.currentAddress.address%>, <%=applicant.currentAddress.city%>, <%=applicant.currentAddress.state%> <%=applicant.currentAddress.pin%></span></p>

                                        <p class="text font-16"><strong>Permanent Address :</strong> <span class="m-l-15"> <%=applicant.permanentAddress.address%>, <%=applicant.permanentAddress.city%>, <%=applicant.permanentAddress.state%> <%=applicant.permanentAddress.pin%></span></p>



                                    </div>
                                    <div class="card-box">


                                        <div class="table-responsive">
                                            <table class="table m-b-0">
                                                <thead>
                                                <tr>
                                                    <th>Worked Here</th>
                                                    <th>Night Shift</th>
                                                    <th>Source</th>
                                                    <th>If Referral</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><%=applicant.workedInFusion%></td>
                                                    <td><%=applicant.nightShift%></td>
                                                    <td><%=applicant.source%></td>
                                                      <td><%=applicant.referral.name%>,<br /> <%=applicant.referral.designation%>, <br /><%=applicant.referral.number%></td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div> </div>
                          <!-- end col -->

                      </div></div>
                      <!-- end row -->


                      <div class="card-box col-md-12">
                          <h4 class="header-title mt-0 mb-3">Experience</h4>
                          <div class="">
                              <div class="">
                                  <h5 class="text-custom m-b-5"><%=applicant.we1.name%></h5>
                                  <p class="m-b-0"><b><%=applicant.we1.department%></b></p>
                                  <p class="m-b-1"> <b>Experience(Year) : <%=applicant.we1.experience%>  | CTC : <%=applicant.we1.salary%></b></p>

                                  <p class="text font-13 m-b-0"><%=applicant.we1.role%>
                                  </p>
                              </div>

                              <hr>

                              <div class="">
                                <h5 class="text-custom m-b-5"><%=applicant.we2.name%></h5>
                                <p class="m-b-0"><b><%=applicant.we2.department%></b></p>
                                <p><b>Experience(Year) : <%=applicant.we2.experience%> | CTC : <%=applicant.we2.salary%></b></p>

                                  <p class="text font-13"><%=applicant.we2.role%>
                                  </p>
                              </div>

                          </div>
                      </div></div>

                      <div class="card-box col-md-12">
                          <h4 class="header-title mb-3">Education</h4>

                          <div class="table-responsive">
                              <table class="table m-b-0">
                                  <thead>
                                  <tr>
                                      <th>Class</th>
                                      <th>Year</th>
                                      <th>Percentage (%)</th>
                                      <th>Board/University</th>
                                      <th>School/College</th>
                                      <th>Stream/Course</th>
                                      <th>Status</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td><strong>Matric</strong></td>
                                      <td><%=applicant.tenth.year%></td>
                                      <td><%=applicant.tenth.percentage%></td>
                                      <td><%=applicant.tenth.board%></td>
                                      <td><%=applicant.tenth.name%></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Intermediate</strong></td>
                                      <td><%=applicant.twelth.year%></td>
                                      <td><%=applicant.twelth.percentage%></td>
                                      <td><%=applicant.twelth.board%></td>
                                      <td><%=applicant.twelth.name%></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Graduation</strong></td>
                                      <td><%=applicant.graduation.year%></td>
                                      <td><%=applicant.graduation.percentage%></td>
                                      <td><%=applicant.graduation.name%></td>
                                      <td><%=applicant.graduation.name%></td>
                                      <td><%=applicant.graduation.course%></td>
                                      <td><%=applicant.graduation.completed%></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Post Graduation</strong></td>
                                      <td><%=applicant.postGraduation.year%></td>
                                      <td><%=applicant.postGraduation.percentage%></td>
                                      <td><%=applicant.postGraduation.name%></td>
                                      <td><%=applicant.postGraduation.name%></td>
                                      <td><%=applicant.postGraduation.course%></td>
                                      <td><%=applicant.postGraduation.completed%></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Other</strong></td>
                                      <td><%=applicant.otherCertification.year%></td>
                                      <td><%=applicant.otherCertification.percentage%></td>
                                      <td><%=applicant.otherCertification.name%></td>
                                      <td><%=applicant.otherCertification.name%></td>
                                      <td><%=applicant.otherCertification.course%></td>
                                      <td><%=applicant.otherCertification.completed%></td>
                                  </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>

                  </div></div>
                  <!-- Personal-Information --> </div>




<!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>
  <% include ../footer.ejs %>
