<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<div class="content">
  <div class="container-fluid">

  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
              <h4 class="m-t-0 header-title">New Applicants</h4>
              <p class="text-muted m-b-30 font-13">
                  These People Applied for Job in Fusion First. Click on a row to view more details
              </p>

              <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                  <tr>
                      <th data-toggle="true"> Applicant ID </th>
                      <th> Name </th>
                      <th> Date of Interview</th>
                      <th> Date of Application</th>
                      <th> Department </th>
                      <th> Post </th>
                      <th> Email </th>
                      <th> Phone </th>
                      <th> Remarks </th>
                      <th> Detailed Info </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% applicant.forEach(function(app){%>
                  <tr>
                      <td><%=app.AppID%></td>
                      <td><%=app.name%></td>
                      <td><%if(app.dateOfInterview){%><%=moment(app.dateOfInterview).format('ll')%><%}%></td>
                      <td><%if(app.dateOfApplication){%><%=moment(app.dateOfApplication).format('ll')%><%}%></td>
                      <td><%=app.department%></td>
                      <td><%=app.position%></td>
                      <td><%=app.email%></td>
                      <td><%=app.number%></td>
                      <td>
                        <a   data-toggle="modal" data-target="#remarks-<%=app._id%>"><u>Update</u>: </a>
                        <%=app.confirmationRemarks%>
                    </td>
                    <div id="remarks-<%=app._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                              <button type="button" class="close" data-dismiss="modal" onclick="Custombox.close();">
                                    <span>×</span><span class="sr-only">Close</span>
                                </button>
                                  <!--  <button type="button" class="close" data-dismiss="modal" >x</button>-->
                                    <h4 class="custom-modal-title">Remarks for <%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></h4>

                                <div class="custom-modal-text">
                                    <form class="form-horizontal" action="/hr/applicant/remarks/<%=app._id%>" method="post">
                                        <div class="form-group m-b-25">
                                            <div class="col-12">
                                                <label for="emailaddress3">Remarks</label><br>
                                                <textarea name="remarks" rows="8" style="width:100%;" ><%=app.confirmationRemarks%></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group account-btn text-center m-t-10">
                                            <div class="col-12">
                                                <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Submit</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                      <td>
                  <a href="/hr/applicant/<%=app._id%>"><i class="fa fa-lg fa-external-link"></i></a>
                </td>
                  </tr>
                  <%})%>

                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
        <!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>
      </div>
  </div>
  <!--FooTable-->
  <script src="/assets/pages/foo-anand.js"></script>
  <!--FooTable Example-->
  <script src="/assets/pages/jquery.footable.js"></script>

  <% include ../footer.ejs %>
