<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <!-- header close -->




  <div class="content">
    <div class="container-fluid">

      <div class="card-block">

        <div class="account-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <h4 class="header-title m-t-0">Update Personal Details</h4>
                <p class="text-muted font-14 m-b-20">
                  Edit the personal information of <%=applicant.name%> Here
                </p>
                <hr>
                <form action="/hr/applicant/edit/<%=applicant._id%>" method="post">
                  <div class="row">
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="userName">First Name<span class="text-danger">*</span></label>
                        <input type="text" name="firstName" parsley-trigger="change" required class="form-control" value="<%=applicant.firstName%>" id="firstName">
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="userName">Last Name<span class="text-danger">*</span></label>
                        <input type="text" name="lastName" parsley-trigger="change" required class="form-control" value="<%=applicant.lastName%>" id="lastName">
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="DOB">Date Of Interview<span class="text-danger">*</span></label>
                        <input type="date" name="dateOfInterview" parsley-trigger="change" required class="form-control" value="<%=moment(applicant.dateOfInterview).format('YYYY-MM-DD')%>"  id="dateOfInterview">
                      </div>
                    </div>
                    <div class="col-sm-9 col-md-6">
                      <div class="form-group">
                        <label for="emailAddress">Email address<span class="text-danger">*</span></label>
                        <input type="email" name="email" parsley-trigger="change" required class="form-control" value="<%=applicant.email%>" id="emailAddress">
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="userName">Select Department<span class="text-danger">*</span></label>
                        <input type="text" name="department" parsley-trigger="change" required class="form-control" value="<%=applicant.department%>" id="Department" >
                      </div>
                    </div>
                    <div class="col-sm-9 col-md-6">
                      <div class="form-group">
                        <label for="userName">Position Applying for<span class="text-danger">*</span></label>
                        <input type="text" name="position" parsley-trigger="change" required class="form-control" value="<%=applicant.position%>" id="position">
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="Phone">Mobile No.<span class="text-danger">*</span></label>
                        <input type="text" name="number" parsley-trigger="change" required class="form-control" value="<%=applicant.number%>" id="Mobile Number" >
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="Phone">Home Phone No.<span class="text-danger">*</span></label>
                        <input type="text" name="phone" parsley-trigger="change" required class="form-control" value="<%=applicant.phone%>" id="Home Number" >
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-6">
                      <div class="form-group">
                        <label for="DOB">Date Of Birth<span class="text-danger">*</span></label>
                        <input type="date" name="dob" parsley-trigger="change" required class="form-control" value="<%=moment(applicant.dob).format('YYYY-MM-DD')%>"  id="DOB">
                      </div>
                    </div>
                    <div class="col-sm-9 col-md-6">
                      <div class="form-group">
                        <label for="fatherName">Father's Name<span class="text-danger">*</span></label>
                        <input type="text" name="fatherName" parsley-trigger="change" required class="form-control" value="<%=applicant.fatherName%>" id="fatherName">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="address">Current Address</label>
                        <input type="text" name="currentAddress" parsley-trigger="change" class="form-control" value="<%=applicant.currentAddress.address%>" id="address">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="currentCity" parsley-trigger="change" class="form-control" value="<%=applicant.currentAddress.city%>" id="city">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="State">State</label>
                        <input type="text" name="currentState" parsley-trigger="change" class="form-control" value="<%=applicant.currentAddress.state%>" id="state">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="pin">Pin</label>
                        <input type="text" name="currentPin" parsley-trigger="change" class="form-control" value="<%=applicant.currentAddress.pin%>" id="pin">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="address">Permanent Address</label>
                        <input type="text" name="permanentAddress" parsley-trigger="change" class="form-control" value="<%=applicant.permanentAddress.address%>" id="address">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" name="permanentCity" parsley-trigger="change" class="form-control" value="<%=applicant.permanentAddress.city%>" id="city">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="State">State</label>
                        <input type="text" name="permanentState" parsley-trigger="change" class="form-control" value="<%=applicant.permanentAddress.state%>" id="state">
                      </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <div class="form-group">
                        <label for="pin">Pin</label>
                        <input type="text" name="permanentPin" parsley-trigger="change" class="form-control" value="<%=applicant.permanentAddress.pin%>" id="pin">
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-right m-b-0">
                    <button class="btn btn-custom waves-effect waves-light" type="submit">
                      Save
                    </button>
                    <button type="reset" class="btn btn-light waves-effect m-l-5">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
              <!-- end col -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer-dash-copyright.ejs %>
</div>
</div>
<% include ../footer.ejs %>
