


<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
      <div class="card-block">
        <div class="account-box">


          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <h4 class="m-t-0 header-title"><b>SECTION 2</b></h4>
                <div class="form-group row">
                  <div class="col-12">
                    <label class="col-12 col-form-label">Appraiser's Name</label>
                    <div class="col-12">
                      <input type="text" placeholder="Name" class="form-control" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label class="col-12 col-form-label">Appraiser's Designation</label>
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="Designation" >



                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-12 col-form-label">Employee's Strengths</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Strengths" >

                      </textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="col-12 col-form-label">Employee's Area of Improvement</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Area of Improvement" >

                      </textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-4">
                    <label class="col-12 col-form-label">Development Goals</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Strengths" >

                      </textarea>
                    </div>
                  </div>
                  <div class="col-4">
                    <label class="col-12 col-form-label">Actions/Resources</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Area of Improvement" >

                      </textarea>
                    </div>
                  </div>
                  <div class="col-4">
                    <label class="col-12 col-form-label">Progress</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Area of Improvement" >

                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-12 col-form-label">Career Plan/Career Goal</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Strengths" >

                      </textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="col-12 col-form-label">Term/Teamline</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Area of Improvement" >

                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label class="col-12 col-form-label">Appraiser’s Comments</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Strengths" >

                      </textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <label class="col-12 col-form-label"> Overall Score out of 50</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Strengths" Value="/50">

                      </textarea>
                    </div>
                  </div>
                  <div class="col-6">
                    <label class="col-12 col-form-label">Employee's Commitment/Signature</label>
                    <div class="col-12">

                      <textarea class="form-control" placeholder="Area of Improvement" >

                      </textarea>
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">


              </div>
            </div>
          </div>


        </div>
      </div>

    </div>

  </div>
  <% include footer-dash-copyright.ejs %>
  <!-- copyright footer on dashboard -->
  <!-- content-page div close -->
</div>
<% include ../footer.ejs %>
