<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>

  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card-box">


                    <ul class="nav nav-tabs tabs-bordered">
                        <li class="nav-item">
                            <a href="#resources" data-toggle="tab" aria-expanded="false" class="nav-link">
                                <i class="fi-layers mr-1"></i> Resources
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tasklist" data-toggle="tab" aria-expanded="true" class="nav-link ">
                                <i class="fi-square-check mr-1"></i>Task List
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#activity" data-toggle="tab" aria-expanded="false" class="nav-link">
                                <i class="fi-align-center mr-1"></i>Activity
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                                <i class="fi-help mr-1"></i>Support Request
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="resources">
                          <!-- resources Area -->
                            <!-- status card -->
                            <div class="row text-center">
                                <div class="col-sm-6 col-lg-6 col-xl-3">
                                    <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                        <i class="fi-tag"></i>
                                        <%
                                          let activeReq = 0;
                                          requisition.forEach((mrf) =>{
                                            if(!mrf.isClosed){
                                              activeReq++ ;
                                            }
                                          })
                                        %>
                                        <h3 class="m-b-10"><%=activeReq%></h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Active Jobs</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-xl-3" >
                                    <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white ">
                                        <i class="fi-archive" ><a href="/hr/applicant"></a></i>
                                        <%
                                          let newApplicant = 0;
                                          applicant.forEach((app) =>{
                                            if(app.dateOfInterview >= moment()){
                                              if(app.onlineTest == "{}"){
                                                newApplicant++ ;
                                              }
                                            }
                                          })
                                        %>
                                        <h3 class="m-b-10"><%=newApplicant%></h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600" href="/hr/applicant">Hiring Request</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-xl-3">
                                    <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white ">
                                        <i class="fi-help"></i>
                                        <%
                                          let approvedApplicant = 0;
                                          applicant.forEach((app) =>{
                                            if(app.selected){
                                              approvedApplicant++ ;
                                            }
                                          })
                                        %>
                                        <h3 class="m-b-10"><%=approvedApplicant%></h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Total Selected</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-xl-3">
                                    <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                        <i class="fi-delete"></i>
                                        <%
                                          let rejectedApplicant = 0;
                                          applicant.forEach((app) =>{
                                            if(app.selected == false){
                                              rejectedApplicant++ ;
                                            }
                                          })
                                        %>
                                        <h3 class="m-b-10"><%=rejectedApplicant%></h3>
                                        <p class="text-uppercase m-b-5 font-13 font-600">Total Rejected</p>
                                    </div>
                                </div>
                            </div>
                            <!--  status card end here -->
                        </div>
                        <div class="tab-pane show active" id="tasklist">
                          <!-- task list tab -->
                            <!-- task app from temeplate -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card-box">
                                        <h4 class="text-dark header-title m-t-0">Upcoming</h4>


                                        <ul class="sortable-list taskList list-unstyled" id="upcoming">
                                            <li class="task-warning" id="task1">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary"><%= user.name %></span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-success" id="task2">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                Many desktop publishing packages and web page editors now use Lorem.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary"><%= user.name %></span></a> </p>
                                                </div>
                                            </li>
                                            <li id="task3">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                If you are going to use a passage of Lorem Ipsum..
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary"><%= user.name %></span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-info" id="task4">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary"><%= user.name %></span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-danger" id="task5">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                There are many variations of passages of Lorem Ipsum available.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Rick O'Shea</span></a> </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-box">
                                        <h4 class="text-dark header-title m-t-0">In Progress</h4>


                                        <ul class="sortable-list taskList list-unstyled" id="inprogress">
                                            <li id="task9">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                If you are going to use a passage of Lorem Ipsum..
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Gail Forcewind</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-info" id="task10">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Maya Didas</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-danger" id="task11">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                There are many variations of passages of Lorem Ipsum available.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Rick O'Shea</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-warning" id="task7">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Petey Cruiser</span></a> </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card-box">
                                        <h4 class="text-dark header-title m-t-0">Completed</h4>


                                        <ul class="sortable-list taskList list-unstyled" id="completed">
                                            <li class="task-warning" id="task14">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Petey Cruiser</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-success" id="task15">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                Many desktop publishing packages and web page editors now use Lorem.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Anna Sthesia</span></a> </p>
                                                </div>
                                            </li>
                                            <li id="task16">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                If you are going to use a passage of Lorem Ipsum..
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Gail Forcewind</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-info" id="task17">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Maya Didas</span></a> </p>
                                                </div>
                                            </li>
                                            <li class="task-danger" id="task18">
                                                <div class="checkbox checkbox-custom checkbox-single pull-right">
                                                    <input type="checkbox" aria-label="Single checkbox Two">
                                                    <label></label>
                                                </div>
                                                There are many variations of passages of Lorem Ipsum available.
                                                <div class="clearfix"></div>
                                                <div class="mt-3">
                                                    <p class="pull-right mb-0 mt-2">
                                                        <button type="button" class="btn btn-success btn-sm waves-effect waves-light">View</button>
                                                    </p>
                                                    <p class="mb-0"><a href="#" class="text-muted"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="task-user" class="thumb-sm rounded-circle mr-2"> <span class="font-bold font-secondary">Rick O'Shea</span></a> </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-custom btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                    </div>
                                </div>

                            </div>
                            <!-- task app end here -->
                        </div>
                        <div class="tab-pane" id="activity">
                          <!-- activity area -->
                            <!-- timeline -->
                            <div class="col-12">
                                <div class="">
                                    <div class="timeline">
                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show first">
                                                    <a href="#" class="btn btn-custom w-lg">Today</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">1 hour ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item ">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">2 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">10 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>3 new photo Uploaded on facebook fan page</p>
                                                        <div class="album">
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-1.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-2.jpg">
                                                            </a>
                                                            <a href="#">
                                                                <img alt="" src="assets/images/small/img-3.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">14 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Outdoor visit at California State Route 85 with John Boltana &
                                                            Harry Piterson regarding to setup a new show room.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">19 hours ago</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-custom w-lg">Yesterday</a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">07 January 2018</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Montly Regular Medical check up at Greenland Hospital by the
                                                            doctor <span><a href="#"> Johm meon </a></span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">07 January 2018</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">07 January 2018</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="text-right">
                                                <div class="time-show">
                                                    <a href="#" class="btn btn-custom w-lg">Last Month</a>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item alt">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow-alt"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">31 December 2017</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <span class="arrow"></span>
                                                        <span class="timeline-icon bg-custom"><i class="mdi mdi-adjust"></i></span>
                                                        <h4 class="text-custom">16 Decembar 2017</h4>
                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                        <p>Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                                            Lorem ipsum dolor sit amet consiquest dio</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>

                                    </div>
                                    <!-- end timeline -->
                                </div>
                            </div>
                            <!-- timeline end here -->
                        </div>
                        <div class="tab-pane" id="settings">
                          <!-- settings area -->
                            <!-- support code here -->
                            <div class="col-12">
                                <div class="card-box">


                                    <div class="text-center mt-4 mb-4">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                                    <i class="fi-archive"></i>
                                                    <h3 class="m-b-10">2000</h3>
                                                    <p class="text-uppercase m-b-5 font-13 font-600">Total tickets</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="card-box  widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                                    <i class="fi-unlock"></i>
                                                    <h3 class="m-b-10">50</h3>
                                                    <p class="text-uppercase m-b-5 font-13 font-600">Pending Tickets</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                                    <i class="fi-lock"></i>
                                                    <h3 class="m-b-10">1700</h3>
                                                    <p class="text-uppercase m-b-5 font-13 font-600">Closed Tickets</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="card-box  widget-flat border-custom bg-dashboard-card-ap text-black-white">
                                                    <i class="fi-cross"></i>
                                                    <h3 class="m-b-10">250</h3>
                                                    <p class="text-uppercase m-b-5 font-13 font-600">Deleted Tickets</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" cellspacing="0" width="100%" id="datatable">
                                        <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>Requested By</th>
                                            <th>Subject</th>

                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Raised On</th>
                                            <th>Due Date</th>
                                            <th class="hidden-sm">Action</th>
                                        </tr>

                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td><b>#1256</b></td>
                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="contact-img" title="contact-img" class="rounded-circle" />
                                                    <span class="ml-2">Chaman Lal</span>
                                                </a>
                                            </td>
                                            <td>Need Salary Slip</td>



                                            <td>
                                                <span class="badge badge-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#1256</b></td>
                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="contact-img" title="contact-img" class="rounded-circle" />
                                                    <span class="ml-2">Naman Goyal</span>
                                                </a>
                                            </td>
                                            <td>Need Salary Slip</td>



                                            <td>
                                                <span class="badge badge-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>

                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end col -->
                            <!-- support code end here -->
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
          <!-- end row -->
<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->
</div>

<!-- Flot chart -->
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.crosshair.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/curvedLines.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.axislabels.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>

  <% include ../footer.ejs %>
