<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<!-- content here for fusion -->
<div class="content">
  <div class="container-fluid">
<div class="row">
    <div class="col-sm-12">
        <div class="card-box" >
            <h4 class="m-t-0 header-title">Employees</h4>
            <p class="text-muted m-b-30 font-13">
                These are the Employees in Fusion First.
            </p>
            <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                <thead class="thead-fusion">
                <tr>
                    <th data-toggle="true"> Employee ID </th>
                    <th> Name </th>
                    <th> Department </th>
                    <th> Post </th>
                    <th> Email </th>
                    <th> Phone </th>
                </tr>
                </thead>
                <tbody>
                <% applicant.forEach(function(app){%>
                <tr>
                    <td><%=app._id%></td>
                    <td><%=app.name%></td>
                    <td><%=app.department%></td>
                    <td><%=app.position%></td>
                    <td><%=app.email%></td>
                    <td><%=app.number%></td>
                </tr>
                <%})%>

                </tbody>
            </table>
        </div>
      </div>
      <!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>
    </div>
  </div>
</div>
</div>
  <% include ../footer.ejs %>
