<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<!-- content here for fusion -->
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">New Employee List</h4>
            <p class="text-muted m-b-30 font-13">
                New Employees Details Here
            </p>
            <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                <thead class="thead-fusion">
                <tr>
                    <th data-toggle="true"> Emp Code </th>
                    <th> Full Name </th>
                    <th> Department (Post) </th>
                    <th> Status </th>
                    <th data-hide="all"> Documentation </th>
                    <th data-hide="all"> Officials </th>
                    <th data-hide="all"> Date of Joining</th>

                </tr>
                </thead>
                <tbody>
                <% applicant.forEach(function(app){%>
                <tr>
                    <td><%=app.AppID%></td>
                    <td><%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></td>
                    <td><%=app.department%> (<%=app.position%>)</td>
                    <%if(app.training.completed == true){%>
                    <td><span class="badge badge-success">Probation</span></td>
                    <td>Checkout Now</td>
                    <td>Update</td>
                    <td><%=moment(app.training.date).format('MMM Do YYYY')%></td>
                    <%} else {%>
                      <td>
                        <a href="#training-<%=app._id%>" class="btn btn-custom waves-effect w-md mr-2 mb-2" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">Update</a>
                        <div id="training-<%=app._id%>" class="modal-demo">
                            <button type="button" class="close" onclick="Custombox.close();">
                                <span>&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="custom-modal-title">Update Training Details for <%=app.firstName%> <%=app.lastName%></h4>
                            <div class="custom-modal-text">
                                <form class="form-horizontal" action="/hr/training/<%=app._id%>" method="post">

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress3">Training Topics</label>
                                            <input class="form-control" type="text" name="topics" required placeholder="Add Topics">
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password3">Training Conducted By</label>
                                            <input class="form-control" type="text" name="conductedBy" required>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password3">Training Date</label>
                                            <input class="form-control" type="date" name="date" required>
                                        </div>
                                    </div>

                                    <div class="form-group account-btn text-center m-t-10">
                                        <div class="col-12">
                                            <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </td>
                    <%}%>
                </tr>
                <%})%>

                </tbody>
            </table>
        </div>
      </div>

    </div>







</div>
<!--FooTable-->
<script src="/assets/pages/foo-anand.js"></script>
<!--FooTable Example-->
<script src="/assets/pages/jquery.footable.js"></script>




<!-- content end here for fusion -->
  <!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>

  <% include ../footer.ejs %>
