<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<!-- content here for fusion -->
<div class="content">
  <div class="container-fluid">




</div>
</div>
<!-- content end here for fusion -->
  <!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>

  <% include ../footer.ejs %>
