<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
<!-- content here for fusion -->
  <div class="content">
    <div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Resignation Process</h4>
            <p class="text-muted m-b-30 font-13">
                On Going Resignation Process and Candidate Scores
            </p>
            <table id="demo-foo-row-toggler" class="table table-bordered toggle-circle">
                <thead class="thead-fusion">
                <tr>
                    <th data-toggle="true"> Emp ID </th>
                    <th> Full Name </th>
                    <th> Department (Post) </th>
                    <th> Status</th>
                    <th> Notice Period</th>

                    <th data-hide="all">Resignation Accepted by</th>
                    <th data-hide="all">Resignation Reason </th>
                    <th data-hide="all">Notice Period End Date </th>
                    <th> Status</th>



                </tr>
                </thead>
                <tbody>
                <% applicant.forEach(function(app){%>
                <tr>
                    <td><%=app.AppID%></td>
                    <td><%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></td>
                    <td><%=app.department%> (<%=app.position%>)</td>
                    <td>Approved</td>
                    <td>30 Days</td>

                    <td>Mr. Anand Prakash</td>
                    <td>Maza Nhi Aaya</td>
                    <td>March 27, 2018</td> <!-- here we have to check notice period end date not on sat or sunday -->
                    <!-- Decision model -->


                    <td>Feb 27, 2018</td>
                </tr>
                <%})%>

                </tbody>
            </table>
        </div>
      </div>

    </div>





  </div>
</div>

</div></div>
<!--FooTable-->
<script src="/assets/pages/foo-anand.js"></script>
<!--FooTable Example-->
<script src="/assets/pages/jquery.footable.js"></script>

<!-- content end here for fusion -->
  <!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>

  <% include ../footer.ejs %>
