<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <div class="content">
      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12">
                  <!-- meta -->
                  <div class="profile-user-box card-box bg-custom">
                      <div class="row">
                          <div class="col-sm-6">
                              <span class="pull-left mr-3"><img src="<%=applicant.photo%>" alt="" class="thumb-lg rounded-circle"></span>
                              <div class="media-body text-white">
                                  <h4 class="mt-1 mb-1 font-18"><%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></h4>
                                    <h5 class="mt-1 mb-1 font-14"> Applicantion ID : <%=applicant.AppID%> </h5>
                                  <p class="text-light mb-0">Position : <%=applicant.position%></p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <!--/ meta -->
              </div>
          </div>
          <!-- end row -->

          <!-- Score Board -->

          <div class="row text-center">
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat  text-black">

                      <h3 class="m-b-10"><%=applicant.gd.final%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">G.D  Score</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat  text-black">

                      <h3 class="m-b-10"><%=applicant.gd.average%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">G.D Average Score</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat  text-black">

                      <h3 class="m-b-10"><%=applicant.pi.final%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">P.I Score</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat  text-black">

                      <h3 class="m-b-10"><%=applicant.pi.average%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">P.I Average Score</p>
                  </div>
              </div>
          </div>

          <!-- score board end -->
          <div class="row">



<!-- new grid view for marks by ap -->


    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0">G.D In-Detail Score</h4>


                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">
                                    <%=applicant.gd.m1.name%><br>
                                    <small>Panel Member 1</small>
                                </th>
                                <th class="text-center">
                                    <%=applicant.gd.m2.name%><br>
                                    <small>Panel Member 2</small>
                                </th>
                                <th class="text-center">
                                    <%=applicant.gd.m3.name%><br>
                                    <small>Panel Member 3</small>
                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="text-nowrap" scope="row">Verbal Communication</th>
                                <td><%=applicant.gd.m1.verbalCommunication%></td>
                                <td><%=applicant.gd.m2.verbalCommunication%></td>
                                <td><%=applicant.gd.m3.verbalCommunication%></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Listening Ability</th>
                                <td><%=applicant.gd.m1.listeningAbility%></td>
                                <td><%=applicant.gd.m2.listeningAbility%></td>
                                <td><%=applicant.gd.m3.listeningAbility%></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Interpersonal Skills</th>
                                <td><%=applicant.gd.m1.interpersonalSkills%></td>
                                <td><%=applicant.gd.m2.interpersonalSkills%></td>
                                <td><%=applicant.gd.m3.interpersonalSkills%></td>

                            </tr>
                            <tr>
                                <th class="text-nowrap" scope="row">Initiative</th>
                                <td><%=applicant.gd.m1.initiative%></td>
                                <td><%=applicant.gd.m2.initiative%></td>
                                <td><%=applicant.gd.m3.initiative%></td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->

<!-- content -->

<!-- close new grid view for marks by ap -->



                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title m-t-0">P.I In-Detail Score</h4>


                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">
                                                <%=applicant.pi.m1.name%><br>
                                                <small>Panel Member 1</small>
                                            </th>
                                            <th class="text-center">
                                                <%=applicant.pi.m2.name%><br>
                                                <small>Panel Member 2</small>
                                            </th>
                                            <th class="text-center">
                                                <%=applicant.pi.m3.name%><br>
                                                <small>Panel Member 3</small>
                                            </th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Commitment</th>
                                            <td><%=applicant.pi.m1.commitment%></td>
                                            <td><%=applicant.pi.m2.commitment%></td>
                                            <td><%=applicant.pi.m3.commitment%></td>

                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Discipline</th>
                                            <td><%=applicant.pi.m1.discipline%></td>
                                            <td><%=applicant.pi.m2.discipline%></td>
                                            <td><%=applicant.pi.m3.discipline%></td>

                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Learning Ability</th>
                                            <td><%=applicant.pi.m1.learningAbility%></td>
                                            <td><%=applicant.pi.m2.learningAbility%></td>
                                            <td><%=applicant.pi.m3.learningAbility%></td>

                                        </tr>
                                        <tr>
                                            <th class="text-nowrap" scope="row">Computer Skills</th>
                                            <td><%=applicant.pi.m1.computerSkills%></td>
                                            <td><%=applicant.pi.m2.computerSkills%></td>
                                            <td><%=applicant.pi.m3.computerSkills%></td>

                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container -->


                  </div></div>
                  <!-- Personal-Information --> </div>




<!-- copyright footer on dashboard -->  <% include footer-dash-copyright.ejs %>
  <% include ../footer.ejs %>
