<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>


<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <!-- meta -->
        <div class="profile-user-box card-box bg-custom">
          <div class="row">
            <div class="col-sm-6">
              <span class="pull-left mr-3"><img src="<%=applicant.photo%>" alt="" class="thumb-lg rounded-circle"></span>
              <div class="media-body text-white">
                <h4 class="mt-1 mb-1 font-18"><%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></h4>
                <h5 class="mt-1 mb-1 font-14"> Applicantion ID : <%=applicant.AppID%> </h5>
                <p class="text-light mb-0">Position : <%=applicant.position%></p>
              </div>
            </div>

          </div>
        </div>
        <!--/ meta -->
      </div>
    </div>
    <!-- end row -->


    <div class="row">
      <div class="col-md-4">
        <!-- Personal-Information -->
        <div class="card-box">
          <h4 class="header-title mt-0 m-b-20">Genrate Offer Letter</h4>
          <div class="panel-body">


            <hr/>
            <% if (messageError.length > 0) { %>
                <div class="alert alert-danger"><%= messageError %></div>
            <% } %>
            <div class="p-20">
              <!--<form class="form-horizontal" role="form" method="post" action="/hr/interview/offerletter/generate/fresher/<%=applicant._id%>">-->
              <form class="form-horizontal" role="form" method="post" action="/hr/interview/offerletter/generate/<%=applicant._id%>">
                <div class="form-row">
                  <div class="form-group col-xl-6">
                    <label for="inputEmail4" class="col-form-label">Type</label>

                    <select class="custom-select" id="interview_select_profile" name="type">
                      <option value="fds" selected>Fresher - Day Shift</option>
                      <option value="fns">Fresher - Night Shift</option>
                      <option value="eds">Experience - Day Shift</option>
                      <option value="ens">Experience - Night Shift</option>

                    </select>

                  </div>
                  <div class="form-group col-md-6" id="interview_experience_salary_div">
                    <label for="inputPassword4" class="col-form-label">Salary Type</label>
                    <select class="custom-select" id="interview_salary_type_select" name="custom">
                      <option selected>Salary Type</option>
                      <!--<option value="fds">PF Gross (Fixed)</option>-->
                      <option value="fdsc">PF Gross</option>
                      <!--<option value="lum">Lumpsum(Fixed)</option>-->
                      <option value="lumc">Lumpsum</option>
                      <!--<option value="gbf">Gross Based (Fixed)</option>-->
                      <option value="gbc">Gross Based</option>
                    </select>
                  </div>
                </div>
                <div class="form-row" id="interview_custom_pf_div">
                  <div class="form-group col-xl-6">
                    <label for="inputEmail4" class="col-form-label">Gross Salary (Monthly)</label>

                    <input type="number" name="salary" class="form-control">

                  </div>
                </div>
                <div class="form-group mb-1 justify-content-end row">

                  <button type="submit" class="btn btn-custom btn-block waves-effect waves-light">Generate Offer Letter</button>

                </div>
                <!--<div class="form-group mb-1 justify-content-end row">

                  <a href="/offerLetter/<%=applicant.id%>.pdf" target="_blank" class="btn btn-warning btn-block waves-effect waves-light">View Offer letter</a>

                </div>
                <div class="form-group mb-1 justify-content-end row">

                  <a href="/hr/interview/offerletter/send/fresher/<%=applicant._id%>" class="btn btn-success btn-block waves-effect waves-light">Send Offer Letter on Mail</a>

                </div>-->
              </form>
            </div>


          </div>
        </div>
        <div class="card-box">
          <h4 class="header-title mt-0 m-b-20">Offer Letter Status Update</h4>
          <form action="/hr/interview/offerStatus/<%=applicant._id%>" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Offer Letter Status</label>
                    <div class="input-group mb-2">
                      <select class="form-control" name="status">
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Didn't Accept">Didn't Accept</option>
                        <option value="Waiting for Confirmation">Waiting for Confirmation</option>
                      </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-custom mb-2">Submit</button>
                </div>
            </div>
          </form>
        </div>
        <div class="card-box">
          <h4 class="header-title mt-0 m-b-20">Convert Into Employee</h4>
          <div class="panel-body">
          <hr/>
            <div class="form-group mb-1 justify-content-end row">

              <a href="#app-to-emp" class="btn btn-dark btn-block waves-effect waves-light" data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Convert</a>

            </div>
            <div id="app-to-emp" class="modal-demo">
                <button type="button" class="close" onclick="Custombox.close();">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="custom-modal-title">Convert <%=applicant.firstName%> <%=applicant.lastName%> into Employee</h4>
                <div class="custom-modal-text">
                  <div class="alert alert-danger">
                    This Process is irreversible. And applicant, once made an employee, can not be reverted back to an applicant nor can it be viewed in any of the applicants table.<br/>
                    <b>Are you sure you want to continue?</b>
                  </div>
                  <a href="/hr/applicant-to-employee/<%=applicant._id%>" type="button" class="btn btn-success waves-effect waves-light"> <i class="fa fa-thumbs-up m-r-5"></i> <span>Yes, Convert!</span> </a>
                  <a href="#" type="button" onclick="Custombox.close();" class="btn btn-danger waves-effect waves-light"> <i class="fa fa-thumbs-down m-r-5"></i> <span>No, Cancel!</span> </a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- new code by ap -->

      <div class="col-md-8">

        <div class="row">
          <div class="col-md-12">
            <!-- Personal-Information -->
            <div class="card-box">
              <h4 class="header-title mt-0 m-b-20">Official Update</h4>
              <div class="panel-body">


                <hr/>

                <div class="p-20">
                  <form class="form-horizontal" action="/hr/interview/selected/officialUpdate/<%=applicant._id%>" method="post">
                    <div class="form-row">
                      <div class="form-group col-xl-6">
                        <label for="inputEmail4" class="col-form-label">Department</label>

                        <input type="text" class="form-control" value="<%=applicant.department%>" name="department">

                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4" class="col-form-label">Designation</label>
                        <input type="text" class="form-control" value="<%=applicant.position%>" name="position">
                      </div>
                    </div>
                    <!--
                    <div class="form-row">
                      <div class="form-group col-xl-4">
                        <label for="inputEmail4" class="col-form-label">Occupation</label>

                        <input type="text" class="form-control" value="<%=applicant.occupation%>" name="occupation">

                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4" class="col-form-label">Branch</label>
                        <input type="text" class="form-control" value="<%=applicant.branch%>" name="branch" >
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4" class="col-form-label">Division</label>
                        <input type="text" class="form-control" value="<%=applicant.division%>" name="division">
                      </div>
                    </div>-->
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPassword4" class="col-form-label">Confirmation Date</label>

                        <input class="form-control" type="date" name="confirmationDate" value="<%=moment(applicant.confirmationDate).format('YYYY-MM-DD')%>">

                      </div>
                      <div class="form-group col-xl-6">
                        <label for="inputEmail4" class="col-form-label">Joining Date</label>

                        <input class="form-control" type="date" name="joiningDate" value="<%=moment(applicant.joiningDate).format('YYYY-MM-DD')%>">

                      </div>

                    </div>
                    <div class="form-group mb-0 justify-content-end row">

                      <button type="submit" class="btn btn-custom btn-block waves-effect waves-light">Update</button>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- end col -->

        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
  <!-- Personal-Information -->
</div>
<!-- copyright footer on dashboard -->
<% include footer-dash-copyright.ejs %>
<% include ../footer.ejs %>
