<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Interview Passed Candidate</h4>
                <p class="text-muted m-b-30 font-13">
                  Candidates selected in interview
                </p>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                    <thead class="thead-fusion">
                    <tr>
                        <th> Applicant ID </th>
                        <th> Full Name </th>
                        <th> Department </th>
                        <th> Position </th>
                        <th> Total Score </th>
                        <th> Remarks </th>
                        <th> Offer Status </th>
                        <th> Proceed Next </th>
                        <th> Detailed Info </th>
                        <th> Detailed Score </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% applicant.forEach(function(app){%>
                    <tr>
                        <td><%=app.AppID%></td>
                        <td><%=app.name%></td>
                        <td><%=app.department%></td>
                        <td><%=app.position%></td>
                        <td><%=app.totalScore%></td>
                        <td><%=app.remarks%></td>
                        <td><%=app.offerStatus%></td>
                        <td><a href="/hr/interview/selected/process/<%=app._id%>">Click Here</a></td>
                        <td><a href="/hr/applicant/<%=app._id%>"><i class="fa fa-lg fa-external-link"></i></a></td>
                        <td><a href="/hr/interview/score/detail/<%=app._id%>"><i class="fa fa-lg fa-external-link"></i></a></td>
                    </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
          </div>

        </div>




      </div>
    </div>


    </div></div>
    <!--FooTable-->
    <script src="/assets/pages/foo-anand.js"></script>
    <!--FooTable Example-->
    <script src="/assets/pages/jquery.footable.js"></script>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
