<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Interview Process</h4>
                <p class="text-muted m-b-30 font-13">
                    On Going Interview Process and Candidate Scores
                </p>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                    <thead class="thead-fusion">
                    <tr>
                        <th>Applicant ID</th>
                        <th>Full Name</th>
                        <th>Date of Interview</th>
                        <th>Date of Application</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>O.T Score</th>
                        <th>G.D Score</th>
                        <th>P.I Score </th>
                        <th>Add/View Remarks</th>
                        <th>Total Score</th>
                        <th>Status</th>
                        <th>Detailed Info</th>
                        <th>Detailed Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% applicant.forEach(function(app){%>
                    <tr>
                        <td><%=app.AppID%></td>
                        <td><%=app.name%></td>
                        <td><%if(app.dateOfInterview){%><%=moment(app.dateOfInterview).format('ll')%><%}%></td>
                        <td><%if(app.dateOfApplication){%><%=moment(app.dateOfApplication).format('ll')%><%}%></td>
                        <td><%=app.department%></td>
                        <td><%=app.position%></td>
                        <!-- Online Test -->
                        <td><%=app.onlineTest.total%></td>

                        <!-- Group Discussion -->
                        <%if(app.gd.appeared){%>
                          <td><%=app.gd.final%></td>
                        <%}else if(app.gd.skipped){%>
                          <td><div style="color:Tomato"><i class="fa fa-lg fa-times"></i></div></td>
                        <%} else{%>
                          <td><a  class="btn btn-light waves-effect w-md mr-2 mb-2" data-toggle="modal" data-target="#modal-<%=app._id%>">Add Score</a></td>
                          <div id="modal-<%=app._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span>&times;</span><span class="sr-only">Close</span>
                              </button>
                              <h4 class="custom-modal-title">GD for <%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></h4>
                              <div class="custom-modal-text">
                                <p>Are there enough candidates to conduct a GD?</p>
                                <a href="/hr/assessment/gd/<%=app._id%>" type="button" class="btn btn-success waves-effect waves-light"> <i class="fa fa-thumbs-up m-r-5"></i> <span>Take GD</span> </a>
                                <a href="/hr/assessment/gd/skip/<%=app._id%>" type="button" class="btn btn-danger waves-effect waves-light"> <i class="fa fa-thumbs-down m-r-5"></i> <span>Skip GD</span> </a>
                              </div>
                             </div><!--modeldialog-->
                           </div><!--modelcontent-->
                          </div>
                        <%}%>

                        <!-- Personal Interview -->
                        <%if(app.pi.appeared){%>
                          <td><%=app.pi.final%></td>
                        <%} else if(app.gd.appeared || app.gd.skipped){%>
                          <td><a href="/hr/assessment/pi/<%=app._id%>"  class="btn btn-light waves-effect w-md mr-2 mb-2" >Add Score</a></td>
                        <%} else {%>
                          <td></td>
                        <%}%>

                        <!-- Candidate Remarks -->
                       <td><a  class="btn btn-light waves-effect w-md mr-2 mb-2" data-toggle="modal" data-target="#remarks-<%=app._id%>">Remark</a></td>
                        <div id="remarks-<%=app._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                  <button type="button" class="close" data-dismiss="modal" onclick="Custombox.close();">
                                        <span>×</span><span class="sr-only">Close</span>
                                    </button>
                                      <!--  <button type="button" class="close" data-dismiss="modal" >x</button>-->
                                        <h4 class="custom-modal-title">Remarks for <%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></h4>

                                    <div class="custom-modal-text">
                                        <form class="form-horizontal" action="/hr/assessment/remarks/<%=app._id%>" method="post">
                                            <div class="form-group m-b-25">
                                                <div class="col-12">
                                                    <label for="emailaddress3">Remarks</label><br>
                                                    <textarea name="remarks" rows="8" style="width:100%;" ><%=app.remarks%></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group account-btn text-center m-t-10">
                                                <div class="col-12">
                                                    <button class="btn w-lg btn-rounded btn-custom waves-effect waves-light" type="submit">Submit</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- candidate remark end here -->

                        <!-- Total Score-->
                        <td><%=app.totalScore%></td>

                        <!-- Candidate Remarks -->
                        <td>
                          <%if(app.totalScore >= 50){%>
                          <span class="badge badge-success">Passed</span>
                          <%} else if(app.totalScore < 50){%>
                          <span class="badge badge-danger">Failed</span>
                          <%} else {%>
                          <span class="badge badge-info">Pending</span>
                          <%}%>
                          <%if(app.totalScore){%>
                          <i class="fa fa-lg fa-arrow-right" style="color:Green"></i>
                          <a  class="btn btn-light waves-effect w-md mr-2 mb-2" data-toggle="modal" data-target="#decide-<%=app._id%>">Proceed</a>
                          <%}%>
                        </td>

                        <div id="decide-<%=app._id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 class="custom-modal-title">Status of <%=app.salutation%>. <%=app.firstName%> <%=app.lastName%></h4>

                              <div class="custom-modal-text">
                                <p><b><%=app.firstName%> <%=app.lastName%> Scored <%=app.totalScore%>, Now take the Decision</b></p>
                                      <a href="/hr/interview/select/<%=app._id%>"  class="btn btn-success ">  Select </a>
                                      <a href="/hr/interview/reject/<%=app._id%>"  class="btn btn-custom "> Reject </a>
                              </div>

                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <!-- candidate remark end here -->

<!-- external page link -->

                        <td><a href="/hr/applicant/<%=app._id%>"><i class="fa fa-lg fa-external-link"></i></a></td>
                        <td><a href="/hr/interview/score/detail/<%=app._id%>"><i class="fa fa-lg fa-external-link"></i></a></td>
                        <!-- external page link end -->
                    </tr>
                    <%})%>

                    </tbody>
                </table>
            </div>
          </div>

        </div>

<!-- test model -->

<!-- test model end -->



</div>
</div>

    </div>
    <!--FooTable-->
    <script src="/assets/pages/foo-anand.js"></script>
    <!--FooTable Example-->
    <script src="/assets/pages/jquery.footable.js"></script>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
  <script type="text/javascript">
    $(document).ready(function() {
      var table = $('#naman-table').DataTable({
        "bStateSave": true,
          lengthChange: true,
          "aaSorting": [],//Dont want initial first column sorting
          buttons: ['copy', 'excel', 'print'],
          responsive: true,
          "lengthMenu": [ 10, 25, 50, 75, 100 ],
          keys: true
      });
      table.buttons().container().appendTo('#naman-table_wrapper .col-md-6:eq(0)');
    });
  </script>
