<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <div class="content">
      <div class="container-fluid">

          <!-- Basic Form Wizard -->
          <div class="row">
              <div class="col-md-12">
                  <div class="card-box">
                      <h4 class="m-t-0 header-title"><b>Add G.D Score for <%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></b></h4>
                      <p class="text-muted m-b-30 font-13">
                          Add G.D Score and Click on Initiate Now.
                      </p>

                      <div class="pull-in">
                          <form id="basic-form" action="#" method="post">
                              <div>
                                  <h3>Panel Member 1</h3>
                                  <section>

                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="username">Panel Member 1 Name</label>
                                              <input type="text" class="form-control" name="mem1name" required placeholder="Name"/>
                                          </div>
                                      </div>

                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="username">Verbal Communication</label>
                                              <input type="text" class="form-control" name="mem1vc" id="mem1vc"  required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>

                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="emailaddress">Listening Ability</label>
                                              <input type="text" class="form-control" name="mem1la" id="mem1la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="emailaddress">Interpersonal Skills</label>
                                              <input type="text" class="form-control" name="mem1is" id="mem1is" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>


                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="password">Initiative</label>
                                              <input type="text" class="form-control" name="mem1i" id="mem1i" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="password">Total Marks</label>
                                              <input type="text" class="form-control" name="mem1total" id="mem1total" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" readonly placeholder="Max value is 20"/ >
                                          </div>
                                      </div>
                                  </section>
                                  <h3>Panel Member 2</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Panel Member 2 Name</label>
                                            <input type="text" class="form-control" name="mem2name" id="mem2name" required placeholder="Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Verbal Communication</label>
                                            <input type="text" class="form-control" name="mem2vc" id="mem2vc" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Listening Ability</label>
                                            <input type="text" class="form-control" name="mem2la" id="mem2la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Interpersonal Skills</label>
                                            <input type="text" class="form-control" name="mem2is" id="mem2is" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>


                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Initiative</label>
                                            <input type="text" class="form-control" name="mem2i" id="mem2i" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Total Marks</label>
                                            <input type="text" class="form-control" name="mem2total" id="mem2total" required data-parsley-type="number" data-parsley-min="0" readonly data-parsley-max="20" placeholder="Max value is 20"/ >
                                        </div>
                                    </div>

                                  </section>
                                  <h3>Panel Member 3</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Panel Member 3 Name</label>
                                            <input type="text" class="form-control" name="mem3name" required placeholder="Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Verbal Communication</label>
                                            <input type="text" class="form-control" name="mem3vc" id="mem3vc" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Listening Ability</label>
                                            <input type="text" class="form-control" name="mem3la" id="mem3la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Interpersonal Skills</label>
                                            <input type="text" class="form-control" name="mem3is" id="mem3is" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>


                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Initiative</label>
                                            <input type="text" class="form-control" name="mem3i" id="mem3i" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Total Marks</label>
                                            <input type="text" class="form-control" name="mem3total" id="mem3total" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" readonly placeholder="Max value is 20"/ >
                                        </div>
                                    </div>
                                  </section>
                                  <h3>Total Score</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Average score by All three members</label>
                                            <input type="text" class="form-control" name="average" id="average" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" readonly placeholder="Max value is 20"/ >
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Final Score (30% of average)</label>
                                            <input type="text" readonly class="form-control" name="final" id="final" placeholder="Final Score"/ >
                                        </div>
                                    </div>
                                      <div class="form-group clearfix">
                                          <div class="col-lg-12">

                                              <div class="checkbox checkbox-primary">
                                                  <input id="checkbox-h" type="checkbox">
                                                  <label for="checkbox-h">
                                                      All Details are Carefully Checked and Confirmed.
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
          </div>

          <!-- End row -->


          <!-- Vertical Steps Example -->


      </div> <!-- container -->
      <% include footer-dash-copyright.ejs %>

  </div> <!-- content -->
          <!-- end row -->
</div>


  <% include ../footer.ejs %>
