<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <div class="content">
      <div class="container-fluid">

          <!-- Basic Form Wizard -->
          <div class="row">
              <div class="col-md-12">
                  <div class="card-box">
                      <h4 class="m-t-0 header-title"><b>Add P.I Score for <%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></b></h4>
                      <p class="text-muted m-b-30 font-13">
                          Add P.I Score and Click on Initiate Now.
                      </p>

                      <div class="pull-in">
                          <form id="basic-form" action="#" method="post">
                              <div>
                                  <h3>Panel Member 1</h3>
                                  <section>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="username">Panel Member 1 Name</label>
                                              <input type="text" class="form-control" name="mem1name" id="pimem1name" required placeholder="Name"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="username">Commitment/Sense of Responsibility</label>
                                              <input type="text" class="form-control" name="mem1c" id="pimem1c" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="emailaddress">Discipline/Time Management</label>
                                              <input type="text" class="form-control" name="mem1d" id="pimem1d" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="emailaddress">Learning Ability</label>
                                              <input type="text" class="form-control" name="mem1la" id="pimem1la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="password">Computer Skills</label>
                                              <input type="text" class="form-control" name="mem1cs" id="pimem1cs" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                          </div>
                                      </div>
                                      <div class="form-group m-b-25">
                                          <div class="col-12">
                                              <label for="password">Total Marks</label>
                                              <input type="text" class="form-control" readonly name="mem1total" id="pimem1total" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" placeholder="Max value is 20"/ >
                                          </div>
                                      </div>
                                  </section>
                                  <h3>Panel Member 2</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Panel Member 2 Name</label>
                                            <input type="text" class="form-control" name="mem2name" id="pimem2name" required placeholder="Name"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Commitment/Sense of Responsibility</label>
                                            <input type="text" class="form-control" name="mem2c" id="pimem2c" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Discipline/Time Management</label>
                                            <input type="text" class="form-control" name="mem2d" id="pimem2d" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Learning Ability</label>
                                            <input type="text" class="form-control" name="mem2la" id="pimem2la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Computer Skills</label>
                                            <input type="text" class="form-control" name="mem2cs" id="pimem2cs" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Total Marks</label>
                                            <input type="text" class="form-control" readonly name="mem2total" id="pimem2total" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" placeholder="Max value is 20"/ >
                                        </div>
                                    </div>
                                  </section>
                                  <h3>Panel Member 3</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Panel Member 3 Name</label>
                                            <input type="text" class="form-control" name="mem3name" id="pimem3name" required placeholder="Name"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Commitment/Sense of Responsibility</label>
                                            <input type="text" class="form-control" name="mem3c" id="pimem3c" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Discipline/Time Management</label>
                                            <input type="text" class="form-control" name="mem3d" id="pimem3d" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="emailaddress">Learning Ability</label>
                                            <input type="text" class="form-control" name="mem3la" id="pimem3la" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Computer Skills</label>
                                            <input type="text" class="form-control" name="mem3cs" id="pimem3cs" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="5" placeholder="Max value is 5"/>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Total Marks</label>
                                            <input type="text" class="form-control" readonly name="mem3total" id="pimem3total" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" placeholder="Max value is 20"/ >
                                        </div>
                                    </div>
                                  </section>
                                  <h3>Total Score</h3>
                                  <section>
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="password">Average score by All three members</label>
                                            <input type="text" class="form-control" readonly name="average" id="piaverage" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="20" placeholder="Max value is 20"/ >
                                        </div>
                                    </div>
                                    <!--<div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">GD Skipped</label>
                                            <input type="text" class="form-control" readonly name="gd_skipped" id="gd_skipped" value="<%=applicant.gd.skipped%>"/ >
                                        </div>
                                    </div>-->
                                    <div class="form-group m-b-25">
                                        <div class="col-12">
                                            <label for="username">Final Score (<% if(applicant.gd.skipped == true){%>50%<%}else{%>30%<%}%> of average)</label>
                                            <input type="text" class="form-control" readonly name="final" id="pifinal" required data-parsley-type="number" data-parsley-min="0" data-parsley-max="50" placeholder="Final Score"/ >
                                        </div>
                                    </div>
                                      <div class="form-group clearfix">
                                          <div class="col-lg-12">

                                              <div class="checkbox checkbox-primary">
                                                  <input id="checkbox-h" type="checkbox">
                                                  <label for="checkbox-h">
                                                      All Details are Carefull Checked and Confirmed.
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
          </div>

          <!-- End row -->


          <!-- Vertical Steps Example -->


      </div> <!-- container -->
      <% include footer-dash-copyright.ejs %>

  </div> <!-- content -->
          <!-- end row -->
</div>


  <% include ../footer.ejs %>
