<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
      <div class="container-fluid">

          <div class="row">
              <div class="col-sm-12">
                  <!-- meta -->
                  <div class="profile-user-box card-box bg-custom">
                      <div class="row">
                          <div class="col-sm-6">
                              <span class="pull-left mr-3"><img src="/profilePhoto/<%=user.profilePhoto%>" alt="" class="thumb-lg rounded-circle"></span>
                              <div class="media-body text-white">
                                  <h4 class="mt-1 mb-1 font-18"><%=applicant.salutation%>. <%=applicant.firstName%> <%=applicant.lastName%></h4>
                                    <h5 class="mt-1 mb-1 font-14"> Applicantion ID : <%=applicant.AppID%> </h5>
                                  <p class="text-light mb-0">Position : <%=applicant.position%></p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <!--/ meta -->
              </div>
          </div>
          <!-- end row -->
        </div>

<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
  <% include ../footer.ejs %>
