<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div class="card-box">
            <h5>Enter Date Of Interview to Generate Report</h5>
            <form action="/hr/interview/score/report" method="get">
              <div class="form-row align-items-center">
                  <div class="col-auto">
                      <label class="sr-only" for="inlineFormInputGroup">Date Of Interview</label>
                      <div class="input-group mb-2">
                        <input type="date" name="date" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>">
                          <div class="input-group-append">
                              <div class="input-group-text"><i class="mdi mdi-calendar"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-auto">
                      <button type="submit" class="btn btn-custom mb-2">Submit</button>
                  </div>
              </div>
            </form>
          </div>
            <div class="card-box">
                <h4 class="m-t-0 header-title">Consolidated Interview Report</h4>
                <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                    <tr>
                      <th>Candidate's Name</th>
                      <th>Candidates Registration ID</th>
                      <th>Department</th>
                      <th>Position</th>
                      <th>Source Of Info</th>
                      <th>Total Marks (Max-100)</th>
                      <th>Obtained Marks</th>
                      <th>Weighted Score (Max-40)</th>
                      <th>GD Panel</th>
                      <th>GD Marks (Max-20)</th>
                      <th>GD Marks (Max-20)</th>
                      <th>GD Marks (Max-20)</th>
                      <th>Average GD Score</th>
                      <th>Final GD Score</th>
                      <th>PI Panel</th>
                      <th>PI Marks (Max-20)</th>
                      <th>PI Marks (Max-20)</th>
                      <th>PI Marks (Max-20)</th>
                      <th>Average PI Score</th>
                      <th>Final PI Score</th>
                      <th>Overall Score (Max-100)</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%foundNames.forEach((name)=>{%>
                      <%let count = 0;%>
                      <%applicant.forEach((app)=>{%>
                      <%if(app.pi.m1.name == name){%>
                      <tr>
                        <td><%=app.name%></td>
                        <td><%=app.AppID%></td>
                        <td><%=app.department%></td>
                        <td><%=app.position%></td>
                        <td><%=app.source%></td>
                        <td>100</td>
                        <td><%=app.onlineTest.total%></td>
                        <td><%=app.onlineTest.final%></td>
                        <%if(app.gd.skipped == true){%>
                          <td></td>
                        <%} else if(count == 0){%>
                          <td><%=app.gd.m1.name%>, <%=app.gd.m2.name%>, <%=app.gd.m3.name%></td>
                        <%}else{%>
                          <td></td>
                        <%}%>
                        <td><%=app.gd.m1.total%></td>
                        <td><%=app.gd.m2.total%></td>
                        <td><%=app.gd.m3.total%></td>
                        <td><%=app.gd.average%></td>
                        <td><%=app.gd.final%></td>
                        <%if(count == 0){%>
                          <td><%=app.pi.m1.name%>, <%=app.pi.m2.name%>, <%=app.pi.m3.name%></td>
                        <%}else{%>
                          <td></td>
                        <%}%>
                        <td><%=app.pi.m1.total%></td>
                        <td><%=app.pi.m2.total%></td>
                        <td><%=app.pi.m3.total%></td>
                        <td><%=app.pi.average%></td>
                        <td><%=app.pi.final%></td>
                        <td><%=app.totalScore%></td>
                        <td>
                          <%if(app.selected == true){%>
                            SELECTED
                          <%}else if(app.selected == false){%>
                            REJECTED
                          <%}else{%>
                            PENDING
                          <%}%>
                        </td>
                      </tr>
                      <%count++;%>
                      <%}%>
                      <%})%>
                    <%})%>
                    <%applicant.forEach((app)=>{%>
                    <%if(!app.pi.m1.name){%>
                    <tr>
                      <td><%=app.name%></td>
                      <td><%=app.AppID%></td>
                      <td><%=app.department%></td>
                      <td><%=app.position%></td>
                      <td><%=app.source%></td>
                      <td>100</td>
                      <td><%=app.onlineTest.total%></td>
                      <td><%=app.onlineTest.final%></td>
                      <td></td>
                      <td><%=app.gd.m1.total%></td>
                      <td><%=app.gd.m2.total%></td>
                      <td><%=app.gd.m3.total%></td>
                      <td><%=app.gd.average%></td>
                      <td><%=app.gd.final%></td>
                      <td></td>
                      <td><%=app.pi.m1.total%></td>
                      <td><%=app.pi.m2.total%></td>
                      <td><%=app.pi.m3.total%></td>
                      <td><%=app.pi.average%></td>
                      <td><%=app.pi.final%></td>
                      <td><%=app.totalScore%></td>
                      <td>
                        <%if(app.selected == true){%>
                          SELECTED
                        <%}else if(app.selected == false){%>
                          REJECTED
                        <%}else{%>
                          PENDING
                        <%}%>
                      </td>
                    </tr>
                    <%}%>
                    <%})%>
                  </tbody>
                </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
