
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">
          <!-- LOGO -->
          <div class="topbar-left">
              <a href="#" class="logo">
                  <span>
                      <img src="https://hostmud.com/wp-content/uploads/2017/10/logo.png" alt="" height="20">
                      <!--    http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png-->
                  </span>
                  <i>
                      <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                  </i>
              </a>
          </div>
            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted"><%= user.permission %></p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Manage</li>

                    <li>
                        <a href="/dashboard"><i class="fa  fa-dashboard"></i> <span> Dashboard </span> </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="mdi mdi-account-multiple-plus"></i> <span> Workforce </span> </a>
                        <ul class="nav-second-level" aria-expanded="false">
                          <li><a href="/hr/workforce/overview">Overview</a></li>
                            <li><a href="/hr/requisition/create">Add Requisition</a></li>
                            <li><a href="/hr/requisition/view">Requisitions Request</a></li>
                            <li><a href="/hr/requisition/final">Publish Requisitions</a></li>
                            <li><a href="/hr/requisition/all">Requisitions Report</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="mdi mdi-account-network"></i> <span> Recruitment </span> </a>
                        <ul class="nav-second-level" aria-expanded="false">
                          <li><a href="#">Overview</a></li>
                            <li><a href="/hr/applicant">New Applicants</a></li>
                            <li><a href="/hr/interview">Interview & Exam</a></li>
                            <%if(user.subPermission == "Senior"){%>
                            <li><a href="/hr/interview/senior">Senior HR Approval</a></li>
                            <%}%>
                            <li><a href="/hr/interview/selected">Approved Candidate</a></li>
                            <li><a href="/hr/interview/rejected">Rejected Candidate</a></li>
                            <li><a href="/hr/interview/score/report?date=2018-07-14%>">Consolidated Report</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" mdi mdi-account-key"></i><span> Employees </span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                          <li><a href="#">Overview</a></li>
                            <li><a href="/hr/employee/list">Employee Directory</a></li>
                            <li><a href="/hr/employee/list">Employee Profile</a></li>
                            <li><a href="/hr/employee/list">Information Filter</a></li>
                            <li><a href="/hr/employee/list">Reporting Structure</a></li>
                            <li><a href="/hr/employee/list">Mass Communication</a></li>
                            <li><a href="/hr/employee/list">Request</a></li>
                            <li><a href="/hr/employee/list">Employee Salary</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" fa    fa-university"></i> <span> Training </span> </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Training Calender</a></li>
                            <li><a href="#">Report</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" fa  fa-rupee"></i> <span> Payroll </span> </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="#">Overview</a></li>
                            <li><a href="/hr/employee/appraisalrequest">Employee Request</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" mdi mdi-clipboard-check"></i> <span> Performance </span> </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="#">Operation Department</a></li>
                            <li><a href="/hr/employee/appraisalrequest">Employee Request</a></li>
                        </ul>

                    </li>

                      <li>
                          <a href="javascript: void(0);"><i class="mdi mdi-account-remove"></i> <span> FnF </span> </a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li><a href="/hr/exit/noticeperiod">Notice Period</a></li>
                              <li><a href="/hr/exit/resignation">Exit List</a></li>
                              <li><a href="/hr/exit/absconded/list">Absconded</a></li></ul>
                      </li>
                      <li class="menu-title">
                        Administration
                      </li>
                      <li>
                          <a href="javascript: void(0);"><i class="fa  fa-street-view"></i><span> User Management </span> </a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li><a href="/hr/user/create">Add Employee</a></li>
                              <li><a href="/hr/user/create">Add User</a></li>
                              <li><a href="/hr/user/create">Dashboard Users</a></li>

                          </ul>
                      </li>
                      <li>
                          <a href="javascript: void(0);"><i class=" fa fa-folder-open"></i><span> Documents </span> </a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li><a href="/hr/user/create">Add Employee Contracts</a></li>
                              <li><a href="/hr/user/create">Add Employee Policies</a></li>
                              <li><a href="/hr/user/create">Add Documents</a></li>

                          </ul>
                      </li>
                      <li>
                          <a href="javascript: void(0);"><i class=" fa fa-user-circle-o"></i><span> Consultants </span></a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li><a href="/hr/employee/list">Add Consultant</a></li>
                              <li><a href="/hr/employee/list">Consulatant Directpry</a></li>
                              <li><a href="/hr/employee/list">Report</a></li>

                          </ul>
                      </li>










                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
