<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<style>
  @page{size:auto; margin:5mm;}
</style>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
              <div class="col-md-12">
                <div class="col-md-12">
                  <br>
                  <h3 align="center">OFFER LETTER</h3>
                  <h5 class=" m-b-30">
                    <%=applicant.salutation%> <%=applicant.firstName%> <%=applicant.lastName%><br>
                    Address : <%=applicant.permanentAddress.address%>, <%=applicant.permanentAddress.city%>, <%=applicant.permanentAddress.state%>, <%=applicant.permanentAddress.pin%><br>
                    Date : <%=moment().format('ll')%> <br />
                  </h5>
                  <p>Dear <%=applicant.firstName%>,</p>

                  <!--<h6 class="clearfix"><mark>Welcome to Fusion Business Solutions Private Ltd</mark></h6> -->

                  <p class="clearfix">It is our pleasure to offer you the position of <b><%=applicant.position%></b> as employment in <b>Fusion Business Solutions Private Ltd.</b> We are delighted at the prospect of you joining us. </p>


                  <p>
                    Your compensation package shall be <b>Rs. <%=(Math.round(salary.ctcAnnual).toLocaleString('hi-IN'))%></b> per annum (CTC).
                  </p>
                  <h5>The Breakup module is given below: </h5>
                  <div class="col-sm-2 col-md-10">
                    <div style='margin:0 auto; display:block; width:100%; color:#252525;'>
                      <table class="table-bordered"  bordercolor='#1f2d5e' width='650' align='center'  style='font:normal 13px arial; cell-spacing:0;border: solid 3px black; width:100%;' >
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">BREAK UP OF THE SALARY</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Break upto Gross Salary Per month</th>
                          <th class="tdstylepadd colorwhite">Break upto Gross Salary Per Annum</th>
                        </tr>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Basic</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.basic)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.basic*12)%></td>
                        </tr>
                        <%if(custom == "gbc"){%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">HRA allowance</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.hra)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.hra*12)%></td>
                        </tr>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Medical</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.medical)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.medical*12)%></td>
                        </tr>
                        <%}%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Conveyance allowance</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.conveyance)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.conveyance*12)%></td>
                        </tr>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Other allowance</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.otherAllowance)%></td>
                          <td class="tdcolorpadding"><%=Math.round(salary.otherAllowance*12)%></td>
                        </tr>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Night allowance (Subject to attendance)</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.nightAllowance)%></td>
                          <td class="tdcolorpadding"><%=Math.round(salary.nightAllowance*12)%></td>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Gross Salary (A)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.gross)%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.gross*12)%></th>
                        </tr>
                        <tr>
                          <td colspan="4" class="tdheight"></td>
                        </tr>
                        <%if(custom != "gbc"){%>
                        <%if(custom == "fdsc" || type == "fds" || type == "ens"){%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">EPF Employer Contribution Payable by Fusion</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.EPFEmployer)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.EPFEmployer*12)%></td>
                        </tr>
                        <%}%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">ESIC Employer Contribution Payable by Fusion</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.ESICEmployer)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.ESICEmployer*12)%></td>
                        </tr>
                        <%}%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Gratuity Subject  to as applicable</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.gratuity)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.gratuity*12)%></td>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Total Contribution By Fusion (B)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.contriEmployer)%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.contriEmployer*12)%></th>
                        </tr>
                        <tr>
                          <td colspan="4" class="tdheight"  ></td>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Total Salary (A+B)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.gross + salary.contriEmployer)%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round((salary.gross + salary.contriEmployer)*12)%></th>
                        </tr>
                        <%if(custom != "gbc"){%>
                        <tr>
                          <td colspan="4" class="tdheight"  ></td>
                        </tr>
                        <%if(custom == "fdsc"){%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd ">EPF Employee Contribution</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.EPFEmployee)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.EPFEmployee*12)%></td>
                        </tr>
                        <%}%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd ">E.S.I.C Employee Contribution</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.ESICEmployee)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.ESICEmployee*12)%></td>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Total Contribution by Employee (C)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.contriEmployee)%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.contriEmployee*12)%></th>
                        </tr>
                        <%}%>
                        <tr>
                          <td colspan="4" class="tdheight"  ></td>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Take Home Salary (A-C)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.gross - salary.contriEmployee)%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round((salary.gross - salary.contriEmployee)*12)%></th>
                        </tr>
                        <tr>
                          <td colspan="4" class="tdheight"></td>
                        </tr>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Yearly Bonus Plan 8.33% of Annual Gross Salary (Payable Annually as per Bonus Act)</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding">NA</td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.bonus)%></td>
                        </tr>
                        <%if(custom == "gbc"){%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Critical Accident Encashment (50% of salary for 3 months max. and subject to medical report being in order and cross checked by HR Dept.)</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.critical)%></td>
                          <td  class="tdcolorpadding"><%=Math.round(salary.critical*3)%></td>
                        </tr>
                        <%} else {%>
                        <tr class="backgroundcolorwhite">
                          <td class="tdstylepadd">Critical Accident Encashment (50% of salary for 3 months max. and subject to medical report being in order and cross checked by HR Dept.)</td>
                          <td class="tdstylepadd"></td>
                          <td  class="tdcolorpadding">NA</td>
                          <td  class="tdcolorpadding">NA</td>
                        </tr>
                        <%}%>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Total Additional benefits (D)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th class="tdstylepadd colorwhite">NA%></th>
                          <th class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.bonus + salary.critical*3)%></th>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Annual CTC (A+B+D)</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th colspan="2" class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.ctcAnnual)%></th>
                        </tr>
                        <tr class="backgroundcolrblue">
                          <th class="tdstylepadd colorwhite">Monthly CTC</th>
                          <th class="tdstylepadd colorwhite">:</th>
                          <th colspan="2" class="tdstylepadd colorwhite">Rs. <%=Math.round(salary.ctcMonthly)%></th>
                        </tr>
                        <tr>
                          <td colspan="4" class="tdheight" ></td>
                        </tr>
                        <tr class="backgroundcolrblue" >
                          <td colspan="4" class="tdstylepadd colorwhite">
                            Note: In case of critical accident/illness, if a person gets ESIC wages then critical accident benefit will not be applicable.
                          </td>
                        </tr>
                        <tr class="backgroundcolrblue" >
                          <td colspan="4" class="tdstylepadd colorwhite">
                            Entitlements: All entitlements listed above are subject to Company policies, Procedure and guidelines that may be in force or are issued/ changed from time to time. All perquisites and benefits, including reimbursements (if Any) are subject to Income Tax / applicable laws and as per the provisions of the applicable Acts, which may be applicable, including tax on perquisites value.
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <br><br><br><br><br><br><br><br>
                  <p>
                    Your employment will be subject to successful verification of your academic testimonials and experience certificates etc. In case of any false submission from you to the company, you are liable to face immediate termination and possible criminal proceedings.
                  </p>
                  <p>
                    Your terms of employment, including the salary, should be treated with the strictest confidence. Should you have any queries on your employment terms, please contact Human Resource representative. 
                  </p>
                  <p>
                    Please sign and return to us the copy of this letter as your acceptance of the offer. This offer letter is valid till <%=moment().add(3, 'days').format('ll')%> and shall automatically lapse after this date.
                  </p>
                  <p>
                    We wish to take this opportunity to welcome you to Fusion and wish you every success with the Company.<br /></p>
                    <b>Yours Sincerely,</b><br/>
                    <p>For <b>Fusion Business Solutions Private Limited</b> (formerly known as fusion Outsourcing Software Private Limited)<p>
                    <br><br><br><br><br><br>
                    <h5>Authorized Signatory,<br>
                      EA to MD<br />
                      For, Fusion Business Solutions Private Ltd.<br />
                    </h5>
                    <h5>DECLARATION BY THE EMPLOYEE:</h5>
                    <br>
                    <p>
                      I accept the appointment in the position of _____________________________ at the compensation mentioned above, and will join on ______________________.
                    </p>
                    <table style="width:100%;">
                        <tr>
                          <th>Name : _________________</th>
                          <th>Signature : _________________</th>
                        </tr>
                        <tr>
                          <th style="height: 20px;"></th>
                        </tr>
                        <tr>
                          <th>Date : _________________</td>
                          <th>Place : _________________</td>
                        </tr>
                    </table>
                    <!--<div class="row">
                      <div class="col-md-6">
                        Name : _________________
                      </div>
                      <div class="col-md-6">
                        Signature : _________________
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        Date : _________________
                      </div>
                      <div class="col-md-6">
                        Place : _________________
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="hidden-print mt-4 mb-4">
                    <div class="text-right">
                        <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print m-r-5"></i> Print</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<% include ../footer.ejs %>
<style media="screen">
<style>

td {
  border: 2px solid black;

}
table {
  border-collapse: collapse;
}

.tdstylepadd{
  color:#000000;font-size:16px;padding-left:10px;font-weight: 600;

}

.tdheight{
  background-color: white;height: 20px;
}
</style>
