<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>
<div class="content">
  <div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">Requisition Active List</h4>
      <p class="text-muted m-b-30 font-13">
        These People Applied for Job in Fusion First. Click on a row to view more details
      </p>
      <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
        <thead class="thead-fusion">
        <tr>
          <th data-toggle="true"> Job Post (no. of position)</th>
          <th>Department</th>

          <th>Expected days </th>
          <th>Qualification</th>


          <th>Publish</th>
          <th>Unpublish</th>
          <th data-hide="all">Qualifications </th>
          <th data-hide="all">Experience </th>
          <th data-hide="all">Competencies </th>
        </tr>
        </thead>
        <tbody>
        <% requisition.forEach(function(mrf){%>
        <tr>
          <td><%=mrf.position%> (<%=mrf.number%>)</td>
          <td><%=mrf.department%></td>

          <td><%=mrf.expectedDays%></td>
          <td><%=mrf.required.qualification%></td>


          <td>
            <%if(mrf.isUploaded == true){%>
              Published on <%=moment(mrf.uploadedOn).format('MMM Do YYYY')%>
            <%}else{%>
              <a href="/hr/requisition/upload/<%=mrf._id%>"  class="btn btn-success waves-effect waves-light"> <span>Publish on Website</span></a>
            <%}%>
          </td>
          <td><a href="/hr/requisition/close/<%=mrf._id%>"  class="btn btn-danger waves-effect waves-light"><span>Deactivate</span></a></td>

          <td><%=mrf.required.experience%></td>
          <td><%=mrf.required.competencies%></td>
        </tr>
        <%})%>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<% include footer-dash-copyright.ejs %>
</div>
</div>
<!--FooTable-->
<script src="assets/pages/foo-anand.js"></script>
<!--FooTable Example-->
<script src="assets/pages/jquery.footable.js"></script>

<!-- content -->

<% include ../footer.ejs %>
