<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>
  <div class="content">
    <div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
              <h4 class="m-t-0 header-title">Requisition Active List</h4>
              <p class="text-muted m-b-30 font-13">
                  These People Applied for Job in Fusion First. Click on a row to view more details
              </p>
              <table id="basic-dataTable" class="table table-bordered toggle-circle" data-filter="#demo-foo-filter-status">
                  <thead class="thead-fusion">
                  <tr>
                      <th data-toggle="true"> Job Post (no. of position)</th>
                      <th> Department</th>
                      <th>Initiator Name  </th>
                      <th>Expected days </th>
                      <th>Replacement For </th>
                      <th>Name of Client </th>
                      <th>Status</th>
                      <th data-hide="all">Qualifications </th>
                      <th data-hide="all">Experience </th>
                      <th data-hide="all">competencies </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% requisition.forEach(function(mrf){%>
                  <tr>
                      <td><%=mrf.position%> (<%=mrf.number%>)</td>
                      <td><%=mrf.department%></td>
                      <td><%=mrf.raisedBy.name%></td>
                      <td><%=mrf.expectedDays%></td>
                      <td><%=mrf.replacementFor%></td>
                      <td><%=mrf.client%></td>
                      <td>
                        <%if(mrf.approvedByHR == null){%>
                          <span class="badge badge-info">Pending at HR</span>
                        <%}else if(mrf.approvedByHR == true && mrf.approvedByMD == null){%>
                          <span class="badge badge-success">Approved-HR</span><span class="badge badge-info">Pending at MD</span>
                        <%}else if(mrf.approvedByHR == false){%>
                          <span class="badge badge-danger">Rejected by HR</span>
                        <%}else if(mrf.approvedByMD == false){%>
                          <span class="badge badge-danger">Rejected by MD</span>
                        <%}else if(mrf.isClosed == true){%>
                          Closed on <%=moment(mrf.closedOn).format('MMM Do YYYY')%>
                        <%}else if(mrf.isUploaded == true){%>
                          <span class="badge badge-warning">Published</span>
                        <%}else if(mrf.approvedByHR == true){%>
                          <span class="badge badge-success">Approved by MD</span>
                        <%}%>
                      </td>
                      <td><%=mrf.required.qualification%></td>
                      <td><%=mrf.required.experience%></td>
                      <td><%=mrf.required.competencies%></td>
                  </tr>
                  <%})%>

                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
      <% include footer-dash-copyright.ejs %>
  </div>
  </div>
  <!--FooTable-->
  <script src="assets/pages/foo-anand.js"></script>
  <!--FooTable Example-->
  <script src="assets/pages/jquery.footable.js"></script>

<!-- content -->

    <% include ../footer.ejs %>
