<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <div class="content">
      <div class="container-fluid">

          <!-- Basic Form Wizard -->
          <div class="row">
              <div class="col-md-12">
                  <div class="card-box">
                      <h4 class="m-t-0 header-title"><b>Add New Requisition</b></h4>
                      <p class="text-muted m-b-30 font-13">
                          Add New Requisition and Click on Initiate Now.
                      </p>

                      <div class="pull-in">
                          <form id="basic-form" action="/hr/requisition/create" method="post">
                              <div>
                                  <h3>Initiator</h3>
                                  <section>
                                      <div class="form-group clearfix">
                                        <!-- dropdown test -->
<div class="btn-group mb-2 col-md-4">
                                        <select class="selectpicker" name="department" id="requisition_create_department" data-style="btn-light btn-rounded">
                                            <option value="Sales">Sales</option>
                                            <option value="HR department">HR department</option>
                                            <option value="Operation">Operation</option>
                                        </select> </div>
                                        <div class="btn-group mb-2 col-md-4">
                                        <select class="selectpicker" name="position" id="requisition_create_position" data-style="btn-light btn-rounded">
                                            <option value="Associate">Associate</option>
                                            <option value="Sr. Associate">Sr. Associate</option>
                                            <option value="Team Leader">Team Leader</option>
                                            <option value="Assistant Team Leader">Assistant Team Leader</option>
                                        </select>
</div>
<div class="btn-group mb-2 col-md-3">
<select class="selectpicker" data-style="btn-light btn-rounded" id="requisition_create_for">
    <option>Full Time</option>
    <option>Part Time</option>
    <option>Remote</option>
    <option>Intern</option>
</select>
</div>


                                        <!-- dropdown test end here -->


                                      </div>
                                      <div class="form-group clearfix">

                                          <label class="control-label " for="requisition-initiator">Number of openings (Enter only number)</label>
                                          <div class="">
                                              <input id="requisition_create_number" name="number" type="number" class="required form-control" placeholder="5">

                                          </div>

                                      </div>
                                      <div class="form-group clearfix">

                                          <label class="control-label " for="requisition-initiator">Expected to hire :</label>
                                          <div class="">
                                            <select class="selectpicker" data-style="btn-light btn-rounded" id="requisition_create_for">
                                                <option>Immediate</option>
                                                <option>With in 15 days</option>
                                                <option>With in 30 days</option>

                                            </select>

                                          </div>

                                      </div>
                                      <div class="form-group clearfix">
                                          <label class="control-label " for="requisition-initiator"> Requisition Initiator Name</label>
                                          <div class="">
                                              <input id="requisition_create_requisition_name" name="raisedByName" type="text" class="required form-control" value="<%=user.name%>" readonly>

                                          </div>
                                      </div>



                                  </section>
                                  <h3>Information</h3>
                                  <section>
                                    <div class="form-group clearfix">
                                      <label class="control-label" for="name"> Job Description</label>
                                          <textarea id="requisition_create_competencies" class="form-control" rows="3" name="description"></textarea>
                                    </div>
                                    <div class="form-group clearfix">
                                      <label class="control-label" for="name">Skill(s) that you are looking for:</label>
                                      <div class="">
                                          <input id="requisition_create_client_name" name="keyskills" type="text" class="required form-control" placeholder="Ex. Adobe Photoshop, Crawal Draw">
                                      </div>
                                    </div>
                                      <div class="form-group clearfix">
                                        <label class="control-label" for="name"> Required Qualification</label>
                                        <select class="selectpicker" name="qualification" data-style="btn-light btn-rounded" id="requisition_create_qualification">
                                            <option value="Graduate">Graduate</option>
                                            <option value="Under Graduate">Under Graduate</option>
                                            <option value="Post Graduate">Post Graduate</option>
                                        </select>
                                      </div>

                                      <div class="form-group clearfix">
                                        <label class="control-label" for="name"> Experience</label>
                                        <div class="">
                                            <input id="requisition_create_client_name" name="experience" type="text" class="required form-control" placeholder="0-1 Year">
                                        </div>
                                      </div>
                                      <div class="form-group clearfix">
                                        <label class="control-label" for="name"> Responsibility</label>
                                            <textarea id="requisition_create_competencies" class="form-control" rows="3" name="competencies" placeholder="Selected day-to-day responsibilities include: "></textarea>
                                      </div>



                                      <div class="form-group clearfix">
                                          <label class="control-label ">(*) Mandatory</label>
                                      </div>

                                  </section>
                                  <h3>Preview</h3>
                                  <section>
                                      <div class="form-group clearfix">
                                          <div class="col-lg-12">
                                              <ul class="list-unstyled w-list">
                                                  <li><b>Department</b> : <label class="control-label" for="name" id="requisition_create_department_label"> </label>  </li>
                                                  <li><b>Position</b> : <label class="control-label" for="name" id="requisition_create_position_label"> </label>  </li>
                                                  <li><b>For</b> : <label class="control-label" for="name" id="requisition_create_for_label"> </label>  </li>
                                                  <li><b>Number of Positions</b> : <label class="control-label" for="name" id="requisition_create_number_label"> </label>  </li>
                                                  <li><b>Expected Days</b> : <label class="control-label" for="name" id="requisition_create_days_label"> </label>  </li>
                                                  <li><b>Replacement For</b> : <label class="control-label" for="name" id="requisition_create_replacement_label"> </label>  </li>
                                                  <li><b>Initiater Name</b> : <label class="control-label" for="name" id="requisition_create_requisition_name_label"> </label>  </li>
                                                  <li><b>Client Name</b> : <label class="control-label" for="name" id="requisition_create_client_name_label"> </label>  </li>
                                                  <li><b>Required Qualification</b> : <label class="control-label" for="name" id="requisition_create_qualification_label"> </label>  </li>
                                                  <li><b>Experience</b> : <label class="control-label" for="name" id="requisition_create_experience_label"> </label>  </li>
                                                  <li><b>Competencies Required</b> : <label class="control-label" for="name" id="requisition_create_competencies_label"> </label>  </li>

                                              </ul>
                                          </div>
                                      </div>
                                  </section>
                                  <h3>Finish</h3>
                                  <section>
                                      <div class="form-group clearfix">
                                          <div class="col-lg-12">
                                              <div class="checkbox checkbox-primary">
                                                  <input id="checkbox-h" type="checkbox">
                                                  <label for="checkbox-h">
                                                      All Details are Carefull Checked and Confirmed.
                                                  </label>
                                              </div>
                                          </div>
                                      </div>
                                  </section>
                              </div>
                          </form>
                      </div>

                  </div>
              </div>
          </div>

          <!-- End row -->


          <!-- Vertical Steps Example -->


      </div> <!-- container -->
      <% include footer-dash-copyright.ejs %>

  </div> <!-- content -->
          <!-- end row -->
</div>


  <% include ../footer.ejs %>
