<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>
<div class="content">
<div class="container-fluid">
    <div class="card-block">

        <div class="account-box">
      <div class="row">
         <div class="col-lg-3"></div>
         <div class="col-lg-6">
            <div class="card-box p-5">
                <h2 class="text-uppercase text-center pb-4">
                    <a href="#" class="text-success">
                        <span><img src="http://www.fusionfirst.com/wp-content/uploads/2017/07/Fusion-Logo.png" alt="" height="76"></span>
                    </a>
                </h2>
                <% if (errorMessage.length > 0) { %>
                    <div class="alert alert-danger"><%= errorMessage %></div>
                <% } %>
                <% if (successMessage.length > 0) { %>
                    <div class="alert alert-success"><%= successMessage %></div>
                <% } %>
                <%if(employee.length <= 0){%>
                  <div class="alert alert-danger">No New Employee left to create account for.</div>
                <%}else{%>


                <form class="form-horizontal" action="/ob/user/create" method="post">
                    <div class="form-group row m-b-20">
                        <div class="col-12">
                          <label for="emailaddress3">Creating Account For</label>
                          <select class="form-control" name="employeeid" required>
                            <option>Select</option>
                            <%employee.forEach(function(emp){%>
                              <option value="<%=emp._id%>"><%=emp.firstName%> <%=emp.lastName%> (<%=emp.email%>)</option>
                              <%})%>
                          </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <label for="name">Full Name</label>
                            <input class="form-control" type="name" id="name" name="name" required="" placeholder="Enter full name ">
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <label for="emailaddress">Email address</label>
                            <input class="form-control" type="email" id="emailaddress" name="email" required="" placeholder="Enter emailAddress">
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <label for="username">Username</label>
                            <input class="form-control" type="name" id="username" name="username" required="" placeholder="Enter Username">
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter password">
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                            <label for="password">Confirm Password</label>
                            <input data-parsley-equalto="#password" type="password" required placeholder="Re-Enter Password" class="form-control" id="password1">
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                          <label for="emailaddress3">Department</label>
                          <select class="form-control" name="permission" required>
                              <option value="ve">Employee</option>
                              <option value="ob">On Boarding Team</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group row m-b-20">
                        <div class="col-12">
                          <label for="emailaddress3">Position</label>
                          <select class="form-control" name="subPermission" required>
                              <option value="Team Lead">Team Lead</option>
                              <option value="Senior Associate">Senior Associate</option>
                              <option value="Associate">Associate</option>
                              <option value="Trainee Associate">Trainee Associate</option>
                          </select>
                        </div>
                    </div>

                            <div class="col-12">
                    <div class="form-group row text-center m-t-10 floatright">
                        <div class="form-group text-right m-b-0">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Create</button>
                       </div>
                    </div>
                </div>

                </form>
                <%}%>

            </div>
        </div>
            <div class="col-lg-3"></div>
     </div>
        </div>

    </div>
</div>
</div>

<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->
<!-- content-page div close -->
</div>
<% include ../footer.ejs %>
