<% include ../head.ejs %>
<% include ../leftsidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>

  <!-- Start Page content -->
  <div class="content">
      <div class="container-fluid">

          <div class="row text-center">
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                      <i class="fi-tag"></i>
                      <%
                        let activeReq = 0;
                        requisition.forEach((mrf) =>{
                          if(!mrf.isClosed){
                            activeReq++ ;
                          }
                        })
                      %>
                      <h3 class="m-b-10"><%=activeReq%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Active Jobs</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3" >
                  <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                      <i class="fi-archive" ><a href="/hr/applicant"></a></i>
                      <%
                        let newApplicant = 0;
                        applicant.forEach((app) =>{
                          if(app.dateOfInterview >= moment()){
                            if(app.onlineTest == "{}"){
                              newApplicant++ ;
                            }
                          }
                        })
                      %>
                      <h3 class="m-b-10"><%=newApplicant%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600" href="/hr/applicant">Hiring Request</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                      <i class="fi-help"></i>
                      <%
                        let approvedApplicant = 0;
                        applicant.forEach((app) =>{
                          if(app.selected){
                            approvedApplicant++ ;
                          }
                        })
                      %>
                      <h3 class="m-b-10"><%=approvedApplicant%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Total Selected</p>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-6 col-xl-3">
                  <div class="card-box widget-flat border-custom bg-dashboard-card-ap text-black-white">
                      <i class="fi-delete"></i>
                      <%
                        let rejectedApplicant = 0;
                        applicant.forEach((app) =>{
                          if(app.selected == false){
                            rejectedApplicant++ ;
                          }
                        })
                      %>
                      <h3 class="m-b-10"><%=rejectedApplicant%></h3>
                      <p class="text-uppercase m-b-5 font-13 font-600">Total Rejected</p>
                  </div>
              </div>
          </div>
          <!-- end row -->
<% include footer-dash-copyright.ejs %> <!-- copyright footer on dashboard -->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->
</div>

<!-- Flot chart -->
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.time.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.resize.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.pie.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.crosshair.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/curvedLines.js"></script>
<script src="http://coderthemes.com/highdmin/plugins/flot-chart/jquery.flot.axislabels.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

<!-- Dashboard Init -->
<script src="/assets/pages/jquery.dashboard.init.js"></script>

  <% include ../footer.ejs %>
